[2021-09-12 13:34] tatsu-jp commented on #175
@keiji さん、
https://github.com/cocoa-mhlw/cocoa/pull/397 を上げたのでご確認お願いします。
このissueは https://github.com/cocoa-mhlw/cocoa/issues/345 の対応でクローズできそうですね。

[2021-09-12 13:45] tatsu-jp commented on #391
@keiji さん、
本件、私の方で対応したいと思います。

一点確認させてください。
issue_templateの「技術的な内容以外のご要望・ご提案」のURLの変更先も、COCOA Open Source Projectのトップページで良いでしょうか？

[2021-09-12 14:02] keiji commented on #391
そちらは`README.ja.md`の

に合わせる形にしましょう。

でどうでしょう。

[2021-09-13 03:05] #173 closed

[2021-09-13 04:33] keiji commented on #175
クローズします。何かあればリオープンしてください。

[2021-09-13 04:33] #175 closed

[2021-09-14 11:06] keiji opened #400 "`IPreferencesService`の取り扱う型を厳密に扱う"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在、IPreferenceServiceのSet/Getは型引数を設定できるようになっている。

[code]

その実装を見ると、Setでは設定する値の型に応じて内部処理を切り分ける形になっている。
基本的に値にはどのような型でも設定でき、対応しない型の場合は何もしない（エラーは記録する）と言うことをしているので、型を間違えたときのエラーがビルド時に発見できない。

[code]

また、Getでは第2引数に指定するデフォルト値の型を使って値を読み込もうとするので、こちらも第2引数に本来の値と異なる型を指定してもビルドエラーにならない。サポート範囲内で型が異なる場合は実行時にキャストエラーが発生したり、サポートしていない型の場合はデフォ

[2021-09-14 12:20] b-wind commented on #365
GitHub 上での表示結果がどうなるかは失念していました。

[2021-09-14 12:27] b-wind commented on #365
commit メッセージに rename 前の commit （のhash）を記載すれば一応追える事になる…………
様ですが、あまり便利では無さそう。

https://qiita.com/7of9/items/1984f3857672a10821f0

[2021-09-14 12:54] b-wind commented on #365
こう言った物を利用するほかないかも知れませんね。

https://chrome.google.com/webstore/detail/follow-for-github/agalokjhnhheienloigiaoohgmjdpned

[2021-09-14 13:28] keiji commented on #365
いっそ`cocoa`と`cocoa-server`でリポジトリそのものを分けてもいいかもしれません。
`git filter-branch`をつかって、cocoaにはアプリ系のファイルを残す。もう一つcocoa-serverはサーバー系のファイルを残す。
幸いなことに2つのソリューションでコードを共有していないので理論上は成立しそうです。

課題として、今後2つのソリューションでコードを共有したくなったときに、新しく`cocoa-common`リポジトリを作ったりしなければならなくなり取り回しが面倒になることです。

そういった諸々を考えるとリポジトリの構造そのものは触らない方がいいかもしれないとも思います。

これについては急ぎではないので（ドキュメントの更新は別Issueにするとして）じっくり考えていきましょう。

[2021-09-15 13:21] kazuhiro4949 commented on #332
RC版での起動を確認できたのでこちらのissueはcloseします。また問題が発生したら再オープンします

[2021-09-15 13:21] #332 closed

[2021-09-16 01:18] keiji opened #404 "Xamarin.ExposureNotificationをCappuccinoに置き換える"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#300 については`feature/cocoa2`で進んでいる。

一方で、COCOA2でいきなりCappuccinoに置き換えるのではなく、Legacy V1の現在のCOCOA1.xについてまずCappuccinoに置き換えたものをdevelopにマージして、現在のCOCOAと同じ動作をすることを確認後、ExposureWindow modeに切り換えた方が不具合の心配は低減できると考える。

## 解決策についてお書きください / Describe the solution you'd like

`feature/cocoa2`の動作をLegacy V1 modeに切り換えたものをdevelopブランチ向けにPull Request

[2021-09-17 12:54] kazuhiro4949 opened #406 "[iOS][COCOA2]ユーザーがCOCOAのバックグラウンド処理を明示的に止めていた場合の対応"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

このプルリクのコメントで上がった課題についてです。
https://github.com/cocoa-mhlw/cocoa/pull/401

iOSではバックグラウンドでの動作を明示的に止めることができますが、
その場合にCOCOAとしてなにか案内をするべきかどうかの検討が必要になります。

## 解決策についてお書きください / Describe the solution you'd like

ユーザーが意図せずバックグラウンド処理を止めているということが起きないようにする

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

-

## その他 /

[2021-09-17 13:04] b-wind commented on #406
確実に防げるわけでは無いですが、 #389 と同様に App Store で動作の前提条件として明示しておくのは一つの手かと思います。
COCOA 、バッテリー食いと認識されている節があるので off にしちゃう人は居そう。

[2021-09-17 13:55] kazuhiro4949 commented on #406
そうですね、リーズナブルに伝える方法の一つだと思います。ありがとうございます。
わかっていてあえてオフを選択している場合はどうすることもできない感じですね...

[2021-09-17 13:55] kazuhiro4949 commented on #389
バックグラウンド処理についても同様に記述したほうがよさそう

[2021-09-17 15:00] kazuhiro4949 commented on #406
はい、ユーザーがわかっていてオフにしている場合は、それ以上はこちらからは何もできないと思っています

[2021-09-17 18:56] b-wind commented on #300
iOS の特定バージョンについては v1 に相当するAPIしか実装されていません。

https://github.com/cocoa-mhlw/cocoa/discussions/334#discussioncomment-1213073

対象の iOS バージョンに対してどのような方向性で対処するかは指針が必要かと思われます。

- v1 のみ対応のiOSでは COCOA ではサポート対象外とする。
- v1 のみ対応のiOSでは v1 相当の動作を行う様にする。

その他にも考えられるかも知れませんが、おおよそどちらかになるかと思います。

[2021-09-18 01:08] keiji commented on #389
通知の場合はアプリから通知許可を求めて、許可されなければどうにもならない（オプトイン）ので解説に書いたほうがいいと思いますが、バックグラウンド処理に関してはデフォルトでONになっていて、利用者が停止できる（オプトアウト）性質のものなので、ストアの解説に含めるほどの物ではない気がします。

ストアの記載は「○○してください」とアクションを求めるものに集中したくて、「○○しないでください」は他にもBluetoothとかいっぱいあるので、あまりたくさん書いてしまうと本当に重要な情報が埋もれてしまうように思います。

一方で、Androidのように省電力設定がアプリのバックグラウンド処理を制限してしまうような、利用者の想定しない範囲にまで影響がある場合は、ストアの解説に書いたり、広報で周知するようにした方がいいですね。iOSにはそんな感じの留意事項ってありますか？

[2021-09-18 01:14] keiji commented on #406
ホーム画面の状況表示に加える手もありますが、どの程度のユーザーが実際に停止しているかを考えると、対応する優先度はあまり高くないかなと思いますね。

[2021-09-18 03:33] keiji opened #407 "[Server] ReportTypeとDaysSinceOnsetOfSymptomsに対応する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Exposure Window modeで追加されたReportTypeとDaysSinceOnsetOfSymptomsに対応する。

## 解決策についてお書きください / Describe the solution you'd like

具体的には https://github.com/keiji/en-calibration-server/issues/1 これでやったのと同じ事。

Protocol Buffersの定義を更新して、API側でReportTypeとDaysSinceOnsetOfSymptomsを受け入れるようにする。Cosmos DBにも影響がある。
ReportTypeをクライアント側で指定するかを検討する（

[2021-09-18 05:26] keiji commented on #407
参考: https://github.com/cocoa-mhlw/cocoa/discussions/334#discussioncomment-1213017

[2021-09-18 13:59] kazuhiro4949 commented on #389
僕としてはストアの説明文に動作のための必要要件すべてが記載されていることはそれほど違和感はないです。
ただしあくまでもど他に説明しているところがなければというレベルで、
基本的にはユーザーの意思で判断をしてもらうものなので絶対に書いたほうがいいという考えはないです。

逆に「許諾してください」と誘導と捉えられるかもしれない文言をストアに書くのは、リスクがあるため避けたほうが良いです。
ユーザーによるオンオフの意思決定前にそれを行っている場合、ユーザーに誤解を与えるとしてレビュアーの解釈によってはリジェクトされます。
ストア上へ記載する場合は、「接触通知を受け取るには通知許諾をする必要があります」というフィーチャーを書くぐらいにしておいたほうがいいです。

省電力モードではバックグラウンド処理が動かないなどのことはiOSでもしています。
また、ENのBG処理がどのくらいOSで特権的に扱ってい

[2021-09-19 01:29] #396 closed

[2021-09-19 01:38] b-wind commented on #406
一応 iOS では個別アプリでの On/Off の他に一括で Off にする選択肢がある事は記しておきます。

[2021-09-20 11:29] tatsu-jp commented on #391
@keiji さん、PR発行したのでご確認お願いします。

[2021-09-21 05:39] #372 closed

[2021-09-24 03:36] #391 closed

[2021-09-25 03:07] keiji opened #411 "[App] V3DiagnosisApiに対応する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#409 #410 の変更で追加するV3DiagnosisApiは、リクエストに`SymptomOnsetDate`を設定する方式としており、各キーに`DaysSinceOnsetOfSymptoms`を設定している現在のアプリとは齟齬がある。

## 解決策についてお書きください / Describe the solution you'd like

アプリ側でリクエストに`SymptomOnsetDate`を含めて送信する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

サーバー側を各キーに`DaysSinceOnsetOfSymptoms`を設

[2021-09-25 03:29] keiji opened #412 "[Server] DiagnosisApiの作用が冪等でない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`DiagnosisApi`、`V2DiagnosisApi`および #409 で追加を予定している`V3DiagnosisAPi`はすべてMETHODに`PUT`を指定しているが、内部的にPartitionKeyがnullとなっているので重複チェックが効かず、同じキーを連続して登録すると、すべて異なるキーとして追加されている。

本来PUTであれば、同じ内容の操作を連続で実行した場合、その作用は冪等であるべきと考えます。

## 解決策についてお書きください / Describe the solution you'd like

PartitionKeyを適切に設定してUpsertを機能するようにする。
アプリ側でIdempotencyK

[2021-09-25 04:25] kazuhiro4949 commented on #333
挙動自体は確認できたのでcloseします

[2021-09-25 04:25] #333 closed

[2021-09-25 06:39] kazuhiro4949 commented on #406
手元で試してもたところ、バックグラウンドの更新を切っていても動作はしているような表示になっていました。(iOS 15.0, iPhone 12 pro max)
2日前に切って、一昨日は動作しておらず昨日・今日は動作しているという挙動でした。
切った当日の挙動が謎なので、またしばらく見てみようと思いますが特権的に扱われているようで結論としてはバックグラウンド処理を止めていても動くようです。

このissueは一旦closeします

[2021-09-25 06:39] #406 closed

[2021-09-25 15:11] keiji opened #414 "Xcode 13にアップデートするとiOS向けの実機転送時にエラーが発生する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Xcode 13にアップデート後、次のエラーが発生して、iOSでの実機でバッグが動作しない。

https://stackoverflow.com/questions/68452572/could-not-load-the-framework-ibfoundation

## 解決策についてお書きください / Describe the solution you'd like

Xcode 13にアップデートしない。もしアップデートしてしまった場合、Xcode 12.5にダウングレードする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Xamarin

[2021-09-26 00:03] kazuhiro4949 commented on #414
Xcode13.app, Xcode12.5.1.appなどファイル名にバージョン番号をつけるなどして複数バージョン手元において、プロジェクトによって切り替えるのがいいです。
開発アカウントが必要ですが、旧バージョンはここからDLすることができます。
https://developer.apple.com/download/all/

[2021-09-26 00:54] kazuhiro4949 commented on #414
今だったらこれで切り替えるのが扱いやすいかも
https://github.com/RobotsAndPencils/XcodesApp

[2021-09-27 00:05] #269 closed

[2021-09-27 01:37] b-wind commented on #359
上記とは別の環境で、 v1.2.6 で通知を求めるダイアログが出ないフローがありますね。
iOS の通知の一覧にも表示されていない（On でも Off でもなく項目自体が無い）
再現方法は確認中。

最終的にホーム画面で注意喚起されれば問題無い様にも思いますが、一応。

[2021-09-28 03:50] Murayu0225 opened #420 "動作中であることがわかる点滅ランプが大きくなっていく"
## 不具合の内容 / Describe the bug

#419 にてバグを発見しましたので報告します。既知のバグでしたらすみません。

ホーム画面にて点滅している円ですが、素早く別画面に移動して素早くホームに戻ると緑色の円がどんどん大きくなっていくバグがありました。（他の方法でも起こるかもしれません。詳しくは、動画の方を確認してください。）

## 再現手順 / Steps to reproduce

私の場合の方法です。他の方法でも起こるかもしれません。

1. 'ホーム画面' に行き、
2. '陽性者との接触結果を確認' をクリックし、
3. 素早く 'ホーム画面' に戻ると、
4. 動作中ランプの点滅が大きくなっていきます。

## 期待される挙動 / Expected behavior

大きくなっていく点滅がなくなる。

## スクリーンショット / Screenshots

[2021-09-28 23:31] b-wind commented on #420
課題そのものとは少しズレますが、何故点滅させているのかちょっとよくわからないですね。

また、「JIS X 8341-3:2016 1.4.1 色の仕様の達成基準（レベルA）」に
[code]
と有りますので緑のランプのみで正常稼働を示しているとしたら不適切であるように思います。
（文字列などでも表現する必要がある）

[2021-09-28 23:33] keiji commented on #420
稼働状況表示については色だけでなく、文字列でも記載しています。

[2021-09-28 23:48] keiji commented on #420
@Murayu0225
ありがとうございます！　開発チームに確認したところ、コードの同期タイミングをまたいでいたので今回の反映されていないものの、すでに修正済みでした。

すばやく画面を切り換えると、アニメーションを管理するタスクがキャンセルされる前に次のタスクが始まること。フィールドのCancellationTokenSourceが差し替わってしまうので、キャンセルが正しく伝わらないことが原因でした。タスク内から参照するCancellationTokenSourceをローカル参照に切り換えて、さらにセマフォを取って多重実行を防止するコードを組み込まれていました。

該当の修正がマージされたらCloseします。

[2021-09-29 00:25] keiji opened #422 "[CI] Nuget.configをGitHub Actionsの監視対象ファイルに加える"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2ではローカルに配置するnugetファイルを読み込むためにNuget.configを追加している。このファイルの変更がGitHub Actionsで監視されていない（pathsにない）ため、GitHub Actionsが起動せず、ビルドエラーが検知できない。

## 解決策についてお書きください / Describe the solution you'd like

pathsに`Nuget.config`を加える

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Nuget.configだけでなく、リポジトリのルートにあるファイルすべてを監視

[2021-09-29 00:28] keiji opened #423 "[CI] `.github`ディレクトリをGitHub Actionsの監視対象ファイルに加える"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

GitHub Actionsの設定がある`.github`ディレクトリがGitHub Actionsの`paths`に入っていないので、設定ファイルの更新でGitHub Actionsが起動しないのでは？

## 解決策についてお書きください / Describe the solution you'd like

設定ファイルの`paths`に`.github/**`を追加する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

特になし。

## その他 / Additional context

[2021-09-29 01:36] b-wind commented on #271
#360 にて共有シートからログを受け取れる様になる？（勘違いで無ければ）ようなので、実装された際にはCocoaLogViwerに転送するアプリなどを作成すれば代用になるような気がします。

[2021-09-29 02:05] b-wind commented on #54
#55 は close されていますし、#300 とその関連にて実装は進んでいるようなので当 Issue は close で良いのでは無いかと思います。

[2021-09-29 03:30] moonmile commented on #54
この issue はクローズでよいと思います。
クローズしておきます。

[2021-09-29 03:30] #54 closed

[2021-09-29 12:47] keiji opened #426 "接触通知画面を開いたときにローカル通知を消したい"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

「接触の可能性があります」のローカル通知をタップせず、COCOAを起動した場合、ローカル通知がいつまでも消えない。

## 解決策についてお書きください / Describe the solution you'd like

接触確認画面を開いたタイミングでローカル通知を消去する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

ローカル通知を消去するタイミングとして、アプリを起動した直後も候補にはあるけれど、通知を出して利用者に求めるアクションは「接触情報を確認する」なので、やはり接触情報を表示するまでは消さない方が良いと思います。

## その他

[2021-09-30 00:26] #422 closed

[2021-09-30 06:05] keiji commented on #180
こちらPull Request出しています。
当初 Once exposure, Twice exposuresとしていたのですが、その後、Twitterとかでも 1 likeという表記が採用されており、ネイティブにも確認したところ、1 exposureでわかると意見をもらったので、シンプルに 1 exposure, 2 exposuresと変更してあります。

[2021-09-30 07:21] #45 closed

[2021-09-30 07:41] b-wind commented on #414
これでいいのかよく分かってないですが、今朝リリースされたもの。
https://github.com/xamarin/xamarin-macios/releases

[2021-09-30 12:15] keiji commented on #414
ありがとうございます。
いまのところ12.5に戻してうまくいってるので、週明けくらいに試してみます

[2021-10-01 05:39] Murayu0225 commented on #420
わかりました。
確認していただきありがとうございます！

[2021-10-01 05:44] #180 closed

[2021-10-01 06:30] #321 closed

[2021-10-01 06:30] #349 closed

[2021-10-01 07:34] #426 closed

[2021-10-01 07:49] #124 closed

[2021-10-02 12:38] keiji opened #430 "[Android] ExposureNotification API for Androidが1.8.4にアップデートされている"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

コミットログには2021-08-26の版となっている。GitHubへの反映は09-15付

https://github.com/google/exposure-notifications-android/tree/master/app/libs

## 解決策についてお書きください / Describe the solution you'd like

リリースノートに記載なし
https://developers.google.com/android/exposure-notifications/release-notes

詳細はこれから調べる。

## あなたが考える代替案についてご説明ください / Describe alterna

[2021-10-04 06:33] #407 closed

[2021-10-04 06:36] keiji opened #432 "[Android] targetSdkVersion 30で動作確認する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

2021年11月から`targetSdkVersion`を`30`（Android 11）以上に更新する必要がある。

https://developer.android.com/distribute/best-practices/develop/target-sdk?hl=ja

Android 10（API レベル 29）から Android 11（API レベル 30）に移行する
https://developer.android.com/distribute/best-practices/develop/target-sdk#pre11

## 解決策についてお書きください / Describe the solution you'd

[2021-10-04 06:46] keiji opened #433 "[Android] `targetSdk`を`30`にするとメーラーが起動しない"
## 不具合の内容 / Describe the bug
#432 に関連するIssue

`targetSdkVersion`を`30`に設定してビルドしたCOCOAでメーラーが起動しない。

`Xamarin.Essentials.Email.ComposeAsync`で`FeatureNotSupportedException`が発生している。

[code]

## 再現手順 / Steps to reproduce

`targetSdkVersion`を`30`に設定してビルドしたCOCOAを起動する。

1. 'お問い合わせ' に行き、
2. 'メールでお問い合わせ' をタップすると
3. メーラーが起動しない

## 期待される挙動 / Expected behavior

メーラーが起動する。

## スクリーンショット / Screenshots

## 動作環境 /

[2021-10-04 19:11] vaubaehn commented on #202
@keiji Thanks for your response. Actually you have a logcat with detailed ENS log entries from what I can see in your post - in Europe they have been terminated completely due to privacy reasons. ENS is a black box for us now, making debugging even harder. Anyway, thanks again, good luck with your project - and stay healthy!

[2021-10-05 07:30] keiji opened #437 "接続先APIのURLをアプリのデバッグ画面から変更できるようにする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

アプリの接続先URLがいくつかあるが、COCOA2の開発過程でクラスに定数としてハードコーディングしている箇所があり、混乱を招いている。

## 解決策についてお書きください / Describe the solution you'd like

以下の情報についてデバッグ画面から変更できるようにする。

 * 陽性情報登録
 * ユーザーの同意送信
 * 問い合わせ送信
 * 診断キーリストのダウンロード
 * 接触情報送信（デバッグ用）

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

デバッグ画面を作成せず、内部ファイルを編集して差し替えれるように

[2021-10-06 08:46] keiji opened #441 "プライバシーポリシーの同意画面が何度も表示される"
## 不具合の内容 / Describe the bug

COCOAを起動すると利用規約とプライバシーポリシーの同意画面が何度も表示される。

## 再現手順 / Steps to reproduce

1. サーバー側の利用規約・プライバシーポリシーの更新日時を現在の時刻に設定する
2. '利用規約' と`プライバシーポリシー`に合意してアプリの利用を開始して、
3. アプリを終了して、
4. 再びアプリを起動すると、プライバシーポリシーの再合意画面が表示される

## 期待される挙動 / Expected behavior

利用規約とプライバシーポリシーに合意したら、再びプライバシーポリシーの更新日時が新しいものにならない限りは同意画面が表示されない。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：すべてのデ

[2021-10-07 05:21] #441 closed

[2021-10-08 04:06] kazuhiro4949 opened #445 "iOSで動作状況のアニメーションが不正な状態になることがある"
## 不具合の内容 / Describe the bug

iOSアプリでナビゲーションプッシュ -> ポップでホームに戻ってくると、動作状況のアイコンのアニメーションが不安定になる

## 再現手順 / Steps to reproduce

1. ホームに行き、
2. 陽性情報の登録をクリックし、
3. ナビゲーションの戻るを押す、
4. エラーが発生します。

## 期待される挙動 / Expected behavior

どこから戻ってきても正常にアニメーションする

## スクリーンショット / Screenshots

![IMG_1693](https://user-images.githubusercontent.com/18320004/136494143-3a18bc2c-b279-47ec-8a7b-2293f4c4e25d.PNG)

## 動作環境 / Envir

[2021-10-08 04:10] keiji commented on #445
Duplicate #420

[2021-10-08 04:10] #445 closed

[2021-10-08 05:27] keiji opened #447 "マイグレーション処理のテストケースを改善する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

v1.3.0へのマイグレーション処理の中でStartDateTimeをUNIX epochに変換しているが、expectedなデータにタイムゾーンがついたままになっているので、厳密に言えば本来処理すべき形式のデータ（タイムゾーンなし）を処理していない。

## 解決策についてお書きください / Describe the solution you'd like

テストケースを改善する

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

マイグレーション処理自体は正しく行われているので、緊急度はそれほ

[2021-10-09 03:07] kazuhiro4949 commented on #420
もう実装は完了してるっぽいすが重複して取り組んでしまったので念の為僕の方でやったことをメモとして書いておきますー。
Animationクラスを使った実装に変えていて、それを使うとCancelTokenとLockを使わずに済みそうでした。
https://github.com/cocoa-mhlw/cocoa/pull/446/files

[2021-10-09 16:35] b-wind commented on #289
詳しく調べて無いので勘違いかもですが、関係の無さそうなPRでもCI-Serverが実行されている様に見えます。

https://github.com/cocoa-mhlw/cocoa/actions/workflows/CIserver.yml

[2021-10-10 00:00] keiji commented on #289
お、関係ないPRって具体的にどれですか？

[2021-10-17 05:02] keiji opened #455 "各バージョンの保存しているデータ仕様をドキュメント化する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

本Issue記述時点で、COCOAが保存するデータ形式は大きく3つの時期に分類されるはず。
今後積み重なるであろうマイグレーションのエラーを防止するため、どのタイミングでどのような変更があったのか（なぜその変更が発生したのか）、わかっている限りドキュメント化しておく。

## 解決策についてお書きください / Describe the solution you'd like

ドキュメントにまとめて公開しておく。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Excelに書いて公開しておく。

## その他 / Additional context

[2021-10-17 17:20] b-wind commented on #289
なるほど。説明ありがとうございます。

途中で変更があったりしたのでしたら、一見分かり難くてもおかしくないかなとは思いました。

特に意図に反していないという事なので、当件これ以上掘り下げるつもりはありません。

[2021-10-18 05:46] #433 closed

[2021-10-27 09:05] keiji opened #459 "[デバッグ機能] 設定ファイルのURLが存在するか検証する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在、COCOA2のデバッグページから設定ファイルのURLを指定できるが、指定したURLの存在を確認していないので間違ったURLを指定していてもエラーにならない。指定したURLが存在しない場合、標準の設定が使用される挙動になっているのでURLの間違いに気づくのが遅れる。

![Screen Shot 2021-10-27 at 17 56 36](https://user-images.githubusercontent.com/932136/139033832-48e072a3-10bf-4f35-a2a0-78c039b4002b.png)
![Screen Shot 2021-10-27 at 17 56 40](https://us

[2021-11-01 01:05] keiji commented on #322
Visual Studioで触ってもらえばわかると思いますが、現状は新しいファイルを作成すると頭に自動的にライセンス通知がつくようにしていますね。

https://github.com/cocoa-mhlw/cocoa/pull/419/files#diff-e794fec1b756fefa1e3454a50b75fa0d9c47baa1ce17563ad1fcb73d685a1b32R243-R248

とはいえソースコード以外にもMPL2.0のライセンス通知が必要と言うことはありますし、MPL2.0が適用されないファイルもあるので、一律での付与には限界はありますね。LintでチェックしてDangerでコメントだけする（無視はできる）くらいの塩梅がちょうどいいかと思っています。

ちなみに本IssueのターゲットはCOCOA2なので、COCOA2がdevelopにマージされる直前でもう

[2021-11-01 01:13] #395 closed

[2021-11-01 01:13] #329 closed

[2021-11-01 01:13] kazuhiro4949 commented on #329
修正済みなのでcloseしました

[2021-11-01 01:13] kazuhiro4949 commented on #395
修正済みなのでcloseしました

[2021-11-03 10:29] #455 closed

[2021-11-04 14:41] keiji opened #464 "「設定ファイルの仕様」の表がずれている"
## 不具合の内容 / Describe the bug

表に余計な改行が入っている。

![Screen Shot 2021-11-04 at 23 35 37](https://user-images.githubusercontent.com/932136/140333461-718dbedb-09e8-4063-b303-2be9ddd85767.png)

## 再現手順 / Steps to reproduce

ここを見る
https://cocoa-mhlw.github.io/cocoa/docs/appendix/preference_specification/

## 期待される挙動 / Expected behavior

表に余計な改行が入っていない。

[2021-11-05 04:26] keiji opened #465 "AppLinks/ローカル通知から起動したときに目的の画面ではなくホーム画面が表示される"
開発チームによるテストの過程で判明した。

## 不具合の内容 / Describe the bug
AppLinksやローカル通知など、ホーム画面以外の画面を直接開くケースでも、

## 再現手順 / Steps to reproduce

1. ローカル通知を表示して、
2. ローカル通知からアプリを起動することを繰り返す
3. 接触一覧他面ではなく、ホーム画面が開くことがある

## 期待される挙動 / Expected behavior

AppLinksからCOCOAを開いた場合、必ず陽性情報登録画面を表示する。

ローカル通知からCOCOAを開いた場合、必ず接触一覧画面を表示する。

## 動作環境 / Environments

- デバイス：理論上、すべてのデバイスで発生する
- OS：すべて
- バージョン：1.2.6 -

## その他 / Additional con

[2021-11-05 04:31] keiji opened #466 "AppLinks/ローカル通知による起動と利用規約・プライバシーポリシーの更新が衝突した場合、目的の画面に遷移しない"
開発チームによるテストの過程で判明した。

## 不具合の内容 / Describe the bug

AppLinks/ローカル通知からCOCOAを起動するケースで、利用規約・プライバシーポリシーが更新されていて再同意画面が表示された場合、再同意後に目的の画面に遷移しない。

## 再現手順 / Steps to reproduce

1. 利用規約またはプライバシーポリシーの最終更新日を変更する
2. AppLinksからCOCOAを起動する
3. 再同意画面が表示されるので、同意する
4. ホーム画面が表示される

## 期待される挙動 / Expected behavior

AppLinksからCOCOAを開いた場合、利用規約・プライバシーポリシーの再同意画面を経ても、必ず陽性情報登録画面を表示する。

ローカル通知からCOCOAを開いた場合、利用規約・プライバシーポリシーの再同

[2021-11-05 08:06] Murayu0225 commented on #420
このIssueは、#461 をビルドして解決している事が確認できました。
クローズしてもよろしいでしょうか。

[2021-11-05 13:30] keiji commented on #420
@Murayu0225 はい。クローズしてください。
確認ありがとうございます！

[2021-11-06 04:13] #420 closed

[2021-11-08 01:20] keiji opened #471 "macOS用のクリーンビルド用スクリプトを追加する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

容量が大きくなるので定期的に`bin`と`obj`を一掃している。
Windows用には`CleanBuild.bat`があるので、これと同じものがmacOS向けにほしい。

## 解決策についてお書きください / Describe the solution you'd like

`clean_build.sh`を追加する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

コマンド手打ちでもできるのでそれをする。

## その他 / Additional context

ずいぶん前に作っていたけど、Pull Requestを忘れていた。

[2021-11-08 01:34] keiji opened #473 "Page遷移時のNavigationParametersの取り扱いをリファクタリングする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Pageに与えるNavigationParameterを作る（設定する）メソッドをリファクタリングする
https://github.com/cocoa-mhlw/cocoa/pull/468#discussion_r744333364

この指摘にも留意する
https://github.com/cocoa-mhlw/cocoa/pull/468#discussion_r744340916

## 解決策についてお書きください / Describe the solution you'd like

基本的にはコードはメンテナンスコストが下がる方向で。
NavigationParametersの使い回しについては議論の余地があるが、ブレーク

[2021-11-08 02:03] #466 closed

[2021-11-10 00:20] #471 closed

[2021-11-10 07:03] keiji opened #477 "アプリを起動後、ホーム画面のアイコンをタップしたときに予期せぬ画面遷移をする可能性がある"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

開発チームがテストをする中で、懸念点として指摘があったためIssueにしました。

`MainActivity.OnNewIntent`から画面遷移につながる処理をそのまま呼んでいるため、ホーム画面のアイコンタップ時にも`NavigateToDestinationFromIntent`が実行されることになる。

`NavigateToDestinationFromIntent`は現時点でAppLinksタップ時に通る前提が崩れるのでその点をケアした方が良い。

## 解決策についてお書きください / Describe the solution you'd like

`OnNewIntent`からはIntentがData（URLからの起動時

[2021-11-10 08:17] #477 closed

[2021-11-12 16:16] keiji opened #484 "CappuccinoをCOCOA2のコードベースに取り込む"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在、COCOA2は「[Cappuccino](https://github.com/keiji/chino)」を使って開発している。
CappuccinoはNuGet Packageとして利用しているが、ビルド構成がreleaseになっているのでデバッグが難しい。

## 解決策についてお書きください / Describe the solution you'd like

CappuccinoのリポジトリをgitのsubmoduleとしてCOCOA2に含める。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Cappuccinoのコードを直接COCO

[2021-11-13 09:52] b-wind commented on #484
あまり仕組みが分かって無いので自信が無いですが、「シンボル パッケージ (.snupkg) の作成」等の方法で NuGet Package のままデバッグ出来たりしないのかなと思いました。

https://docs.microsoft.com/ja-jp/nuget/create-packages/symbol-packages-snupkg

[2021-11-13 12:42] b-wind commented on #484
こちらでは、パッケージ自体にPDBファイルを同梱する方法も紹介されています。

https://techinfoofmicrosofttech.osscons.jp/index.php?NuGet%E3%83%91%E3%83%83%E3%82%B1%E3%83%BC%E3%82%B8%E3%81%AE%E3%83%87%E3%83%90%E3%83%83%E3%82%B0

[2021-11-14 01:54] keiji commented on #430
確認の結果、COCOA2としての動作に影響がないのでCloseします。

[2021-11-14 01:54] #430 closed

[2021-11-14 10:10] keiji commented on #484
ありがとうございます。
今の課題としては「手軽にログ出力（Print）を仕込んで動作確認したい」とか「コールバックを生やすときに、どこにどんな風に生やすか気軽に検討できるようにしたい」とか、そんな感じです。

直接Cappuccinoのコードを触りたいというのもそうですが「nupkgを作るという工程を省きたい」というのが大きいです。
nupkg、バージョンを繰り上げないとパッケージファイルを入れ替えてもローカルにキャッシュされたものを使ってしまうので、「コード変更・バージョン変更・パッケージ生成・ファイル置き換え・バージョンアップ」を繰り返さなければなりません。

とはいえ、コード取り込むとXamarin.ExposureNotificationのように本家との乖離が心配なので、https://github.com/cocoa-mhlw/cocoa/pull/482/files#r7481

[2021-11-14 18:23] b-wind commented on #484
なるほど、「Nuget を作る」と言う前提が異なるのでしたら、先の提案内容はあまり意味はなさそうですね。

submodule か subtree による取り込みが妥当そうに思えます。
すでに検討されたとは思いますが、submodule/subtree どちらを選択するかはメリット・デメリットあるので私には判断つきかねる所ですね……

[2021-11-14 23:39] kazuhiro4949 opened #486 "[COCOA2]ReleaseビルドでAPI通信が行われない"
## 不具合の内容 / Describe the bug

- CIでReleaseビルドを行ったパッケージでHTTP通信時を行うと、LoadAync()でExceptionが飛ぶことでその後のAPI通信が行われない流れになっていました。
- ServerConfigurationRepositoryの他のメソッドと同様に何もせずにTaskが完了する形へ変更して、無視されてそのまま後続処理が実行されるようにしました

## 再現手順 / Steps to reproduce

1. CI上でリリースビルドを行う
2. インストールしたパッケージを初回起動する
3. 規約の同意画面で通信エラーのダイアログが表示される

## 期待される挙動 / Expected behavior

- 通信する前に何も実行されずに後続処理に移る

## スクリーンショット / Screenshots

##

[2021-11-15 01:36] keiji opened #487 "DiagnosisKeyRepositoryのテストを整備"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`feature/cocoa2`ブランチで診断キーをサーバーから取得する役割を担う[DiagnosisKeyRepository](https://github.com/cocoa-mhlw/cocoa/blob/feature/cocoa2/Covid19Radar/Covid19Radar/Repository/DiagnosisKeyRepository.cs)に対応するテストが整備されていない。

## 解決策についてお書きください / Describe the solution you'd like

テストを整備する。

## あなたが考える代替案についてご説明ください / Describe alternatives you'v

[2021-11-15 01:39] keiji opened #488 "ExposureConfigurationRepositoryのテストを整備"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`feature/cocoa2`ブランチで接触確認の設定（ExposureConfiguration）を管理する役割を担う`ExposureConfigurationRepository`に対応するテストが整備されていない。

## 解決策についてお書きください / Describe the solution you'd like

テストを整備する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

頑張ってテストを整備する。

## その他 / Additional context

[2021-11-15 01:41] keiji opened #489 "ServerConfigurationRepository のテストを整備"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`feature/cocoa2`ブランチで通信先サーバーを管理する役割を担う`ServerConfigurationRepository`に対応するテストが整備されていない。

## 解決策についてお書きください / Describe the solution you'd like

テストを整備する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

基本的にデバッグ目的で利用されているクラスなので、テストは書かない。

## その他 / Additional context

優先順位はそれほど高くないけれど、最低限、Releaseビルドで固定値が正

[2021-11-15 07:34] #370 closed

[2021-11-15 07:40] keiji commented on #370
はい。
中国語で zh-Hansについては、開発チーム側で翻訳リソースを確保済みです（英語も同様）。

[2021-11-15 16:07] keiji opened #491 "[Server]ProtocolBuffersの定義ファイルを更新する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2に向けてTemporaryExposureKeyFileのProtocolBuffersの定義ファイルを現行のサーバーに取り込むことで、現在配布しているCOCOA1との混在を見据えた運用テストを先に行いたい。

## 解決策についてお書きください / Describe the solution you'd like

`feature/cocoa2`に入れているProtocolBuffers定義ファイルの変更を`develop`向けにPull Requestする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

混在テストをせずにいきなり運

[2021-11-16 04:47] keiji commented on #393
RFC8594 Sunset HTTP Header🤔

https://datatracker.ietf.org/doc/html/rfc8594
https://tex2e.github.io/rfc-translater/html/rfc8594.html

[2021-11-16 18:00] b-wind commented on #374
念の為確認したいのですが、SecureStorageService に保存したデータは Google Account へのアプリデータバックアップ、iCloud バックアップ（アプリケーションのデータを含む）の対象に含まれますか？

どちらもそれぞれベンダーでも容易に閲覧出来る物では無いと思われますが、他のデータや脆弱性との組みあわせで全く触れられない訳でも無いと言う認識です。

なお、Logger の出力は明示的にこれらのバックアップ対象から除外されていることを確認しています。
（内容的にこちらは平文で良いのかと言う疑問が無くは無いですが）

[2021-11-17 01:06] keiji commented on #374
はい。僕が知る限りバックアップ対象に含まれています。

「脆弱性との組み合わせで全く触れられない訳でもない」は、端末内データやクラウドバックアップまで、どんな場合でも成り立ってしまうので、具体的にどのような脆弱性を想定しているかで対応は分かれると思います。

そもそも最初からすべてのデータについてバックアップ対象にしないという選択肢もあるので、それは別Issueで管理してもいいかもしれませんね。

[2021-11-17 01:27] keiji opened #492 "【Android 12対応】Bluetooth関係のパーミッションを整備"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Android 12以上ではBluetooth関係のパーミッションが細分化された。

https://developer.android.com/guide/topics/connectivity/bluetooth/permissions

## 解決策についてお書きください / Describe the solution you'd like

対応する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

必要になるまで`TargetSdkVersion`を`31`に繰り上げずに開発を続ける選択肢もあるけど、後々つらくなることは目に見えているので早め

[2021-11-17 06:30] keiji opened #493 "ダミーの診断キーの生成と配信を検討する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

陽性者数の減少に伴い、診断キーの配信個数が低下している。それ自体は素晴らしいことではあるが、配信する診断キーの数が小さくなると、診断キーと登録者の対照ができてしまう可能性がある。

## 解決策についてお書きください / Describe the solution you'd like

 Googleのサーバーリファレンス実装の中に本物の診断キーと生成したダミーキーと同時に配信することで、特定を難しくする手法がある。

診断キーが一定個数を下回った場合、最低個数分生成したダミーの診断鍵を混ぜることで、課題が解決ができないかを検討する。

## あなたが考える代替案についてご説明ください / Describe alternatives yo

[2021-11-17 21:53] b-wind commented on #493
１点確認です。
ダミーのキーを生成したとして、実際に存在するキーとの衝突を可能な限り避けかつ容易にダミーと分からない実装方法は有るのでしょうか。

[2021-11-17 21:54] b-wind commented on #493
観測して居る範囲では件数を数えて記録しているケースが多そうですが、他の用途に応用しているケースも有るかも知れませんね。

[2021-11-18 02:38] keiji commented on #493
元よりTemporaryExposureKey自体が各端末でランダムに生成されたデータなので、ダミーと本物は意図的にマークを入れない限りは区別できないという認識です。

[2021-11-18 10:03] keiji commented on #489
やるぞ！

[2021-11-18 10:04] keiji commented on #488
やるぞ！

[2021-11-18 12:26] kazuhiro4949 commented on #487
@keiji こちらやりますー

[2021-11-18 13:11] keiji commented on #487
お願いします！

[2021-11-18 23:32] b-wind commented on #493
では特にダミーの TemporaryExposureKey を生成するにあたり、特定のアルゴリズム等は想定して居ないと言う事で良いでしょうか？

[2021-11-18 23:38] b-wind commented on #374
これはおっしゃる通りだと思います。その上で各保存領域でどの程度のリスクまでは想定して居るかある程度ハッキリさせて置いた方が良い様に思います（急ぎという認識は無いです）

併せて現状保存している各データのリスク評価も行えばどのような形で保存すべきか、自ずと答えが出てくるかなと。

こちらも対応としてあり得る物と思います。
ただし、現状とはユーザから見える情報に差が出てしまうので十分な説明は必要そうに思います。

[2021-11-19 01:54] keiji commented on #493
特定のアルゴリズムという意味では、ランダムな値を生成するアルゴリズムとして`System.Security.Cryptography. RandomNumberGenerator`の利用を考えています。

----

質問の意図がいまいちつかめていないので、大枠というか、どういう視点からの質問かを伺ってもいいでしょうか。

ダミーの診断キーを生成・配信することで利用者にプライバシーなどの観点で不利益が発生しうるとか、ダミーの診断キーを配信することで接触確認アプリやシステムとして異常を来す恐れがあるとか、利用者の利益のためにもっと良いやり方があってb-windさんがそれを知っていて提案したいとか。
ダミーの診断キーを配信することで問題が起こるであろうサードパーティのサービスを知っていて、そのことを伝えたいでも良いのですが、質問に際してはある程度の意図を示した上でしていただけると助かります。

[2021-11-19 08:16] b-wind commented on #493
質問の意図を明確にすべきと言うのはおっしゃる通りだと思いますので、以後注意したいと思います。

当 Issue で提案されているダミーキーを生成すると言う方法論自体は異論は無いのですが、ダミーキーの生成方法自体には特に触れておられませんでした。
ダミーキーの生成方法次第では不具合の原因となる可能性があると考え、現時点でどのように考えておられるかを確認した方が良いと感じたため、前記の質問をさせて戴きました。
現時点での想定を伺った上で、（私個人に限らず詳しい方からの）問題点の指摘やよりよい方法の提案などが行えればよいと言う判断です。

こちらについては実装次第と思いましたので、現時点で具体的な指摘があるわけではありません。
個人的には仕様として詰めておきたいと感じますが、PR が出てから実装レベルの議論をすれば良いと言う考え方もあるかも知れませんね。

取り急ぎ、質問意図としては以上の様にな

[2021-11-19 09:33] b-wind commented on #493
古いサンプルコードではありますが、TEK の生成コードは以下のような物のようです。
現在の実装も同じかは分かりませんが特に何かの工夫がされているようでも無いので、純粋に乱数で生成して問題無く私の懸念は杞憂であったと判断します。
お騒がせしました 。

https://github.com/google/exposure-notifications-internals/blob/7dadb83aa5c4b02ed4ae98cd8cf13f89b96962d2/exposurenotification/src/main/java/com/google/samples/exposurenotification/data/generator/TemporaryExposureKeyGenerator.java#L37-L46

[2021-11-21 04:12] keiji opened #500 "ローカルファイルのパスを一元的に管理する`LocalPathService`を作る"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2ではローカルに保存するファイルがこれまでより増える。
動作ログに加えて、たとえば接触確認の設定値は`exposure_configuration`ディレクトリに保存する。また、接触確認結果を`exposure_data`、陽性情報登録時のTEKとIdempotencyKeyをについても別ディレクトリに保存することが考えられる。

これらのファイルは対応する`Repository`を通じてアクセスする。これらのRepositoryをユニットテストを作成（#488 など）する上で、直接`FileSystem.AppDataDirectory`を使うことができないため、関連するパスをServiceで解決する（取得する）ようにして、Mo

[2021-11-21 14:51] keiji commented on #487
@kazuhiro4949 Pull Request、ぼくの方でマージしました！

[2021-11-21 15:26] keiji opened #501 "[Server] V3DiagnosisApiを`develop`ブランチに追加する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`feature/cocoa2`で開発を進めている`V3DiagnosisApi`について事前に開発チーム側のサーバーで動かして挙動を確認をしたい。

https://github.com/cocoa-mhlw/cocoa/blob/feature/cocoa2/src/Covid19Radar.Api/V3DiagnosisApi.cs

## 解決策についてお書きください / Describe the solution you'd like

`V3DiagnosisApi`周りの変更を`develop`ブランチ向けに追加する。

## あなたが考える代替案についてご説明ください / Describe alternatives you'

[2021-11-22 02:30] keiji opened #502 "[Server]COCOA1との互換性を考慮したTrasmissionRiskを設定する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA1では、症状が現れた日または検査日から2日前からのTEKのみを送信するようになっている。
COCOA2では、ENv2（ExposureWindows mode）の仕様に合わせてENから取得できるすべて（14日分）のTEKを送信する。

COCOA2では症状が現れた日または検査日からの相対的な日を`DaysSinceOnsetOfSymptoms`に設定し、それぞれの日について感染性を設定する（これは診断キー側ではなく、接触確認時の設定で行う）。一方、Legacy V1ではTransmissionRiskで判定している点で違いがある。

このTransmissionRiskについて、V3DiagnosisApiでは、送信されるTEK

[2021-11-22 07:16] keiji opened #503 "[Server] 複数のDeviceValidationServiceを統合する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在のサーバー実装でデバイス照合を担当するサービスに`V1DeviceValidationService`と`DeviceValidationService`の2つが存在する。

`V1DeviceValidationService`が`V1DiagnosisApi`から、`DeviceValidationService`が`DiagnosisApi`からそれぞれ利用している。
この構造だとAPIが増えるたびに関連クラスを増やす必要があるように見えるが、実際には2つのAPIで処理自体は共通しているので統合できる。

## 解決策についてお書きください / Describe the solution you'd like

統合する。

##

[2021-11-23 03:21] keiji opened #509 "[Server] 診断キーの生成と削除のバッチを統合する"
少し考えてwon't fixにしたのだけど、思考の過程としてIssue化しておく。
一両日中でCloseします。

## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

サーバーで定期的に実行されるバッチとして`TemporaryExposureKeyExportBatch`と`TemporaryExposureKeyDeleteBatch`がある。

`TemporaryExposureKeyExportBatch`は、新しく養成登録されたTEKから診断キーを生成して、
`TemporaryExposureKeyDeleteBatch`は、期限切れとなった診断キーを削除する役割を担っている。

この2つのバッチが別々に定義されているのは非効率的ではないか？

## 解決策についてお書きくださ

[2021-11-23 07:34] #500 closed

[2021-11-23 07:35] #487 closed

[2021-11-23 07:47] keiji commented on #123
あれからずいぶん時間がたってしまいましたが、教えていただいたForce-stop handlingの導入以降、バックグラウンドでの接触確認は問題なく動作しているようです。

したがって、電池の最適化の対象外（ホワイトリスト登録）の導線は作らない。として、今週末を目処に本Issueをクローズする予定です。

[2021-11-23 07:51] keiji commented on #127
おかげさまでAndroid版でのバックグラウンドでの接触確認は安定して動作しているという認識です。
Descriptionに記載したその他の施策については実施せずとして、今週末を目処に本Issueはクローズする予定です。

[2021-11-23 07:59] keiji commented on #143
ひとまずCOCOA1系ではこのあたりを触らず、COCOA2でやります。
本Issueをクローズします。

[2021-11-23 07:59] #143 closed

[2021-11-23 08:08] keiji commented on #241
Xamarin.ExposureNotificationはExposureWindow mode対応のCOCOA2で取り除く予定です。

Xamarin.ExposureNotificationがベースにしている`Xamarin.GooglePlayServices.Nearby.ExposureNotification`に[課題](https://github.com/xamarin/XamarinComponents/pull/1231)があります。課題を解決するPull Requestは出しており、取り込まれるのを待っている状態です。

Xamarin.ExposureNotificationのメンテナンスが継続するのが望ましいと考えていますが、次善の策として別のExposureNotificationライブラリを使った実装を`feature/cocoa2`で進めています。
本Iss

[2021-11-23 08:12] keiji commented on #337
@kazuhiro4949  @daisuke-nogami (Cc: @kazgoto, @heykuro )
これCOCOA2で対応しませんか。
具体的に言うと、養成情報登録の画面を終了してホーム画面に戻るだけにするのが良いかと思いますが、いかがですか？

[2021-11-23 15:30] kazuhiro4949 commented on #337
はい、そうしましょうか。

[2021-11-23 15:31] kazuhiro4949 commented on #337
とりあえず自分の方で進めてみます

[2021-11-24 00:37] keiji commented on #484
少しやってみたけど、プログラム以外の部分で難しかったので一旦保留で。

[2021-11-24 02:12] #502 closed

[2021-11-24 02:13] keiji commented on #501
Pull Requestは出そろいました。

[2021-11-24 03:45] #330 closed

[2021-11-24 03:45] kazuhiro4949 commented on #486
こちらマージされたのでcloseします

[2021-11-24 03:45] #486 closed

[2021-11-24 03:46] #412 closed

[2021-11-24 09:15] keiji opened #512 "[Server] TemporaryExposureKeyのPartitionKeyの取り扱いを改善する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2のサーバーで現在、TemporaryExposureKeyの一意性を確認する目的でPartitionKeyを設定しているが、これは本来はIDを使うのが正しい。また、PartitionKeyについてはIDより上位の概念なのでRegionを設定しておくのが妥当と考える。

## 解決策についてお書きください / Describe the solution you'd like

現在PartitionKeyに設定している値はIDへ。
PartitionKeyにはRegionを設定する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

現在Par

[2021-11-24 13:44] keiji commented on #488
やったぞ

[2021-11-24 13:47] keiji commented on #393
Sunset HTTP Headerに加えて

 * 404 Not Foundか
 * 410 Gone

のどっちにするかで迷い中。404だと本当にAPIが存在しないだけと一見して区別が付かないので410かと思うけど、使用例を見ると期間限定のキャンペーンページなどが消えた時みたいな解説があって、このコードをAPIに使っていいものか。

ちなみにTwitter APIでは廃止されたAPIには410を返すそうです。

[2021-11-25 07:17] b-wind opened #517 "COCOA v1.4.0 が起動しない"
## 不具合の内容 / Describe the bug

先ほど App Store / Play Store にリリースされた v1.4.0 をインストールすると起動直後にエラーで落ちている様に見えます。

## 再現手順 / Steps to reproduce

1.  COCOA を起動する

## 期待される挙動 / Expected behavior

1. COCOA が正常に起動する。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス： iPhone SE 2nd, Galaxy S9
- OS：iOS 14.8.1 / Android 10
- バージョン：1.4.0

## その他 / Additional context

即死するので何も分からない。
Android 版もほぼ同様（一瞬 Spla

[2021-11-25 07:20] keiji commented on #517
Android版でも発生しているという情報がありますね。
すぐに調査します。

[2021-11-25 07:49] anatawa12 commented on #517
参考までにしかならないかと思いますが、クラッシュレポートです[Covid19Radar.iOS-2021-11-25-162951.zip](https://github.com/cocoa-mhlw/cocoa/files/7601114/Covid19Radar.iOS-2021-11-25-162951.zip)

[2021-11-25 07:53] keiji commented on #517
現在、情報収集中です。Google Play ConsoleのAndroid Vitalsでは目立ってクラッシュが増えているようなデータは見当たっていません。ただ、SNS等で報告されている件数を考えると不具合は確実に起こっています。

まず最初にすべきことはクラッシュレポート（エラーログ）の確認です。これはぼくの手元の端末で発生していないので、不具合が今まさに起こっている人・端末から取得することになります（ @anatawa12 さんありがとうございます！）。

@kazuhiro4949
iOS版のエラーログの確認、可能であればお願いできますか？

引き続き、開発チームとも連携して状況を確認していきます。

[2021-11-25 08:11] keiji commented on #517
![2021-11-25](https://user-images.githubusercontent.com/932136/143403796-dc2ab16b-3d11-4504-b38b-bfbe4632e8bf.png)

[2021-11-25 08:15] keiji commented on #517
原因らしきものがわかったので確認と修正作業に入ります。

おそらく現在バージョンの保存されているDateTime.ToString()の値が想定と違って、それを日付にパースし直すときにエラーが発生している。
端末か、ロケール等の設定に依存しているかは不明。

[2021-11-25 08:28] keiji commented on #517
現時点で考えられる原因。

https://github.com/cocoa-mhlw/cocoa/blob/31c3481b27a3581255a83713b27bec422ca77a7f/Covid19Radar/Covid19Radar/Services/Migration/Migrator_1_3_0.cs#L65-L69

DateTime.Parseで取得したDateTimeはKindがUnspecifiedになるので、そのままdifferentialと計算できない。これは括弧の位置が違う。

本来はこうあるべき？

[code]

この推測が正しいか、これから確認する。

[2021-11-25 08:30] jmatsu commented on #517
@keiji
↓で詰め込んでる `new DateTime()` だと DateTime.MinValue になるので、MinValue/MaxValue に加算減算が定義されていない、という仕様のようです。現在時刻が欲しいなら DateTime.Now にならないといけなさそうです。
https://github.com/cocoa-mhlw/cocoa/blob/60e00c701c5778c86a1931033b6158ed9d06090a/Covid19Radar/Covid19Radar/Services/Migration/Migrator_1_2_2.cs#L169

https://ideone.com/XJiYnM

<details>
<summary>Android11, Pixel3 XL, en_US, JST +9 の LogCat</summary>
11-2

[2021-11-25 08:32] keiji commented on #517
@jmatsu ありがとうございます。
そちらも合わせて確認します！

[2021-11-25 08:37] kazuhiro4949 commented on #517
@anatawa12 クラッシュログありがとうございます

[2021-11-25 08:53] keiji commented on #517
手元でも再現したので、いくつかのパターンで修正案を検討中です。

@jmatsu
現在時刻にしてしまうと、利用規約とプライバシーポリシーに同意したことになってしまうのでよろしくないので、別のアプローチからの修正を検討中です。

[2021-11-25 09:07] keiji commented on #517
`DateTime()`は`0001/01/01 0:00:00`で、そこからさらに9時間を引こうとしているので怒られている。

DateTime.MinValueと同値であれば引かないようにとか考えたけど、DateTime.MinValueと同値ではない`0001/01/01 0:08:00`から9時間引こうとするとやっぱり落ちるよねと。

先行きは見えてきたので、修正方法を決めます。

[2021-11-25 10:11] Meiryo7743 opened #519 "アニメーション無効化設定時、動作状況のステータスランプの表示が乱れる"
## 不具合の内容 / Describe the bug

手持ちの端末で COCOA を 1.4.0 に更新したところ，表題の現象を確認しました。

## 再現手順 / Steps to reproduce

1. 端末の設定 > Developer options > Animator duration scale をオフにする。または端末の設定 > ユーザー補助からアニメーションの無効化を有効にする。
2. アプリを起動する
3. 表題の現象が認められる

アプリを起動した直後なのか，別のページ（e.g. ヘルプページ）に遷移し，再度アプリのホーム画面に戻ったのかに関係なく発生するようです。

## 期待される挙動 / Expected behavior

ステータスランプの点滅が生じないこと。

## スクリーンショット / Screenshots

※スクリーンショットではなく動

[2021-11-25 10:41] keiji commented on #519
ありがとうございます！
こちらも確認して対応しますね。

[2021-11-25 12:26] keiji commented on #517
ホットフィックスのリリース準備を開発チームが進めています。

[2021-11-25 14:34] keiji commented on #517
不具合の原因完全に理解した

[2021-11-25 15:28] keiji commented on #517
ホットフィックス版（v1.4.1）のテストを終え、App Store, Google Play Storeへの提出を完了しました。

[2021-11-25 16:01] keiji commented on #517
「完全に理解した」で終わるのは良くないので、調べたことをつらつらと記録します。
あくまでぼく個人の調査結果（見解）であり、GitHubにいる技術者に向けて技術的なコミュニケーションを行うために発信する内容です。
公式な発表ではありませんので、くれぐれも注意してください。

----

今回の不具合の根本的な原因は、率直に言えば、ぼくがマイグレーション処理が必要なタイミングを誤解していたという一点に集約します。

## マイグレーションが必要なタイミングについて
これまでの調査でぼくは、設定ファイルの形式に変更が加わったのはv1.2.2, v1.2.6 そしてv1.3.0（v1.4.0として配信）の「3つのタイミング」だと考えていました。

参考：設定ファイルの仕様
https://cocoa-mhlw.github.io/cocoa/docs/appendix/preference_spe

[2021-11-25 19:22] b-wind commented on #517
記憶が正しければ私の手元ではファーストリリースからすべてのバージョンを順に適用してきた iPhone 環境で今回の現象が発生した。と言う認識です。
そう言う心づもりで記録等取っていたわけでは無いので記憶違いかも知れません。

[2021-11-26 00:37] keiji commented on #517
@b-wind
ありがとうございます。v1.2.0を経由するケースでも`TermsOfServiceLastUpdateDateTime`は作成されないことを追記しました！

[2021-11-26 01:10] keiji commented on #517
iOS版について審査を通過し、v1.4.1を公開しました。

[2021-11-26 01:40] daisuke-nogami commented on #517
実機とWebページ上でもv.1.4.1の公開表示がされていることを確認しました。
https://apps.apple.com/jp/app/cocoa-%E6%96%B0%E5%9E%8B%E3%82%B3%E3%83%AD%E3%83%8A%E3%82%A6%E3%82%A4%E3%83%AB%E3%82%B9%E6%8E%A5%E8%A7%A6%E7%A2%BA%E8%AA%8D%E3%82%A2%E3%83%97%E3%83%AA/id1516764458

[2021-11-26 01:47] b-wind commented on #517
@daisuke-nogami ご連絡ありがとうございます。

手元の環境（実機）でアップデートしてみたところ、問題無く起動できました。

[2021-11-26 01:58] b-wind commented on #519
iOS だとこんな感じに。

https://user-images.githubusercontent.com/144311/143515555-7ffd3e1a-9313-432f-8f13-967744a3f447.MOV

[2021-11-26 03:01] hayashida-katsutoshi commented on #517
もしかしてUTCとローカル時間の変換をハードコードされているのでしょうか？　標準の変換関数を使わない理由があるのでしょうか？　アメリカや中国で同意した人は、違う時間が記録されてしまうのではないでしょうか？　標準関数を使えば時差とか勝手に吸収してくれます。

[2021-11-26 03:40] anatawa12 commented on #517
クラッシュレポートを生成した端末にてv1.4.1にて正しく起動することを確認できました。対応お疲れ様でした

[2021-11-26 03:50] keiji commented on #517
@hayashida-katsutoshi ありがとうございます。もちろんユースケースさえ合えば標準の変換関数を使うことが第１選択肢なので詳しく教えてください。

今回の場合、次のような仕様のデータを取り扱う必要があります（[詳細](https://cocoa-mhlw.github.io/cocoa/docs/appendix/preference_specification/#ipreferencesservice-1)）。

 * 使用開始日や規約への合意日時が文字列型で保存されている
 * 日時を表す文字列にタイムゾーンが指定されていない
 * 使用開始日はUTCとして保存されているが、規約合意日時は日本標準時（JST）

ご指摘の通り、DateTimeを文字列への変換はロケールに依存しています。たとえばGBロケールでCOCOAを使用開始すると、DateTimeはGBロケールのフォ

[2021-11-26 05:09] keiji commented on #517
Android版はただいま審査中です。
進捗があればお知らせします。

[2021-11-26 05:22] b-wind commented on #517
TimeZoneInfo を取得するのに、 TimeZoneInfo.FindSystemTimeZoneById() を使うしか無さそうで指摘すべきIDもOS毎に異なると言うのは私も確認しています。

言語環境内で定義せずに、OSの設定に依存しているのはのは面白いとは思いますが使い勝手としては微妙と言わざるを得ないかなと。

その他の手段で定数などとして参照出来ればそれに越した事は無いと思います。

[2021-11-26 05:23] hayashida-katsutoshi commented on #517
私はプログラマーとして各国語対応の製品開発に長年従事していますが、スマホは担当外なので経験がなく、Xamarinを使ったこともないということをまず言っておきます。そのためXamarinについての具体的なアドバイスはできませんし、pull requestを出すつもりも申し訳ありませんがありません。

日本専用のアプリでも、国外で使われる可能性は想定された方がよいです。むしろCOCOAは国外で使われるでしょう。国外在住の日本入国者は全員、外務省からインストールを命じられます。私はアメリカに住んでいますが、日本に一時帰国する前にCOCOAを入れました。今はアメリカに戻っており、今まさにCOCOAを立ち上げて見ています。日本のロケールに依存した処理を書くのはやめた方がよいでしょう。

使用開始日と合意日時は文字列で保存せず、int64のUTCで保存するとよいです(ToInt64/FromInt64

[2021-11-26 05:31] b-wind commented on #517
keji さんが提示している各時刻は v1.4.0 「より前のバージョン」で使用されていたデータと認識しています。
これらが幾つかの不具合の原因となっていました。

v1.4.0 以降のバージョンではロケール依存の処理は（見落としが無ければ）していないはず。
v1.4.0 より前と以降での日時データの扱いが変わる事によるマイグレーション処理にのみやむを得ずロケール依存の処理が残ってしまっているとの認識です。

この為、v1.4.1 以降を使い続ける限りはロケール依存の処理は行わないと思われます。

to: @keiji 認識に間違いがありましたらお手数ですが訂正願います。

[2021-11-26 05:33] hayashida-katsutoshi commented on #517
なるほど、v1.4.0では対応済みで、過去データとの互換性のためにやむを得ずロケール依存の処理が残っているとのことで理解しました。

ちなみにint64への変換はToInt64ではダメで、DateTime.Ticksを使わないといけないようです。もし今後参照された方のために念のため。

[2021-11-26 05:35] b-wind commented on #517
現状UNIX Epoch の保持では C# でいう long または ulong を使用していますね。
型としては 64bit 整数なので問題無い様に思います。

DateTime.ToUnixEpoch と言う専用っぽいメソッドを使っています。こちらでは問題ありそうでしょうか？

[2021-11-26 06:07] hayashida-katsutoshi commented on #517
ToUnixTimeSecondsというのは知りませんでしたが、秒以下が無視できるのであれば問題ないんじゃないでしょうか。

DateTime.Ticksを紹介したのは、32bitだと私が勘違いしていたためです。64bitであるなら問題ないです。でもTicksは簡単でいいですよ。2000年が基準ですが。

[2021-11-26 07:05] #360 closed

[2021-11-26 07:05] #140 closed

[2021-11-26 07:06] b-wind commented on #517
当 Issue を見ている方も結構いらっしゃる様なので告知も兼ねて確認させてください。

現時点で v1.4.0 をインストールし、不具合に遭遇しているケースでもENSによる接触確認自体は各OSによって行われていると言う認識です。
これは v1.4.1 にアップグレードしなくても変わりませんが、通知は恐らく出せなくなっているしアプリ内の確認も出来ないので
アップデート可能になり次第 v1.4.1 にアップデートする事が推奨されると言う事で良いでしょうか。

[2021-11-26 07:08] keiji commented on #517
はい。その通りです。COCOAが起動しない場合も接触確認APIのBluetoothによる受発信機能は生きています。

バックグラウンドプロセスの初手でマイグレーションをしているので、そこから先に進めていない状況です。
一方、バックグラウンドプロセスのスケジュールは行われるので、v1.4.1にアップデートした後は定期ダウンロードが診断キーのダウンロードと接触確認が実行されると考えています。

[2021-11-26 07:10] keiji commented on #517
@b-wind @hayashida-katsutoshi
ありがとうございます。そうですね。今回のマイグレーション完了後はUNIX Epochになるので、UTCベースの数値型で取り扱うことになります。

また今後、文字列型に変換するときはRFC3339に準拠する。タイムゾーンは原則UTCと言うことで開発チームとも調整済みです。

----
本IssueについてはAndroid版のリリースが完了して、正常動作が確認された時点でクローズする予定ですが、現時点ではあくまでホットフィックスなので、より具体的な改善策を検討するために個別のIssueを作ろうと考えています。

個別のIssueでは、タイムゾーンによる時差計算の改善や、マイグレーション処理に対するユニットテストの拡充など、いくつかのIssueを作成する予定です（多分、作業するのは土曜日になります）。

[2021-11-26 09:32] b-wind commented on #517
本題から外れるのですが、  TimeZoneInfo.FindSystemTimeZoneById() の扱いは .NET 6 で改善されるという情報もあるようですね。

https://devblogs.microsoft.com/dotnet/date-time-and-time-zone-enhancements-in-net-6/#time-zone-conversion-apis

[2021-11-26 10:23] Meiryo7743 commented on #519
あっ……，開発者設定で端末のアニメーションをすべて無効化していたのが原因でした（記載を失念しておりました）。検証してみたところ，どうやら Animator duration scale がオフの場合，あのような挙動になるようです。

以下，Animator duration scale を有効にした状態での動作画面です。

https://user-images.githubusercontent.com/46659204/143563351-993053cb-5f48-4cd5-b42a-42fcc6824bde.mp4

---

@b-wind

添付された動画から原因を特定できました。ありがとうございます。

[2021-11-26 12:20] keiji commented on #519
アニメーション無効化にしているとこんな風に表示されるんですね。
勉強になります。

一瞬 won't fix かなと思ったのですが、アニメーションオフはアクセシビリティにも関わる（ #50 ）ものなので、 アニメーションオフではどう見せるかはきちんと検討しないといけませんね。

[2021-11-26 12:23] keiji commented on #517
Android版は引き続き審査中です。
コンソール上ではリジェクトのような大きなイベントもなく、粛々と審査が進んでいるという状況と認識しています。

[2021-11-27 02:28] keiji commented on #517
Android版は審査完了。先ほど開発チームが公開処理を実行しました。

[2021-11-27 02:35] b-wind commented on #517
Play Store には反映されているようですね。
実機ではキャッシュのせいかまだ確認出来ていません。

https://play.google.com/store/apps/details?id=jp.go.mhlw.covid19radar

[2021-11-27 02:40] b-wind commented on #517
Play Store アプリのキャッシュ削除で更新できました。

v1.4.0 で問題が出ていた実機で v1.4.1 にアップデート。問題無く起動できることを確認しました。

[2021-11-27 02:42] parasite2006 commented on #519
なるほど、設定切替えで動かないようにすることもできるのですね。当方5月15日にiPhoneデビューしてCOCOA v1.2.2から使い始め、今回も問題なく1.4.0にアップデートできた口ですが、緑のランプの大きさが周期的に変わるのが心臓の鼓動のように見えて可愛いのでそのままにしておこうと思います。

[2021-11-27 02:54] keiji opened #520 "マイグレーション処理を改善する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#517 で発生した不具合修正はあくまでHot-fixなので、よりよい改善を検討する必要がある。

## 解決策についてお書きください / Describe the solution you'd like

改善案を検討・実施する。

### やること

それぞれ個別のIssueを作成する。

 - [ ] [設定ファイルの仕様](https://github.com/cocoa-mhlw/cocoa/blob/develop/documents/content/docs/appendix/preference_specification.md)を再確認する
 - [ ] `Migrator_1_2_2`に、不具合の原因となり得ることを示す

[2021-11-27 03:12] keiji opened #521 "各バージョンの設定ファイルの仕様を確認する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#520 に関連する課題。

マイグレーション処理の整備にあたって、v1.1.5からv1.2.0で仕様変更があったことを見逃したのが #517 を引き起こした。

## 解決策についてお書きください / Describe the solution you'd like

各バージョンの設定ファイルの仕様を再確認して、[設定ファイルの仕様](https://github.com/cocoa-mhlw/cocoa/blob/develop/documents/content/docs/appendix/preference_specification.md)を整備する。

## あなたが考える代替案についてご説明ください / Describe

[2021-11-27 03:17] b-wind commented on #520
このコードを残すと言う事は「これからMigrator_1_2_2を実行する」環境が想定されるわけですが手当をしない方が良いでしょうか？
Migrator_1_3_0でのフォローアップに任せるのは見通しが悪くなるようにも思います。

反面、今まで同様の処理としておくことで、バージョンアップタイミングによる環境差異を増やさないと言うのも妥当な選択なのかなとも思いました。

[2021-11-27 03:27] keiji opened #522 "`Migrator_1_2_2. MigrateTermAsync`に警告コメントを記述する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#520 に関連する課題。

v1.2.2で追加された規約に合意した日時（ `TermsOfServiceLastUpdateDateTime`, `PrivacyPolicyLastUpdateDateTime` ）のマイグレーション処理で`new DateTime()`が設定される経路がある。

https://github.com/cocoa-mhlw/cocoa/blob/047b12bfc497e5e32bd96e24c2b5d76c8ca18bcf/Covid19Radar/Covid19Radar/Services/TermsUpdateService.cs#L43-L71

このコードは現在、`Migrator_1_2_2`

[2021-11-27 03:32] keiji commented on #520
はい。
#522 に記載したとおり、すでに実行済みなのでコードそのものは変更せず警告にとどめて、`v1.3.0`またはそれ以降のマイグレーションで対応すべきとぼくは考えます。

現在の最新バージョンが`1.4.1`で、今後`Migrator_1_2_2`が実行される人たちは必ず`Migrator_1_3_0`が実行されて、そこでfixされると理解しています（それを確認できるテストを整備することも含めて）。

[2021-11-27 03:37] b-wind commented on #520
なるほど。了解しました。

[2021-11-27 04:03] keiji opened #523 "JSTの文字列からUTCのDateTimeへの変換を安全に行う手段を検討する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#520 に関連する課題。

タイムゾーンが指定されていない文字列をJSTとして取り扱った上でUTCに変換する必要から、次のように、まずKindにUTCを指定してから日本との時差9時間を減算して処理をしていた。

https://github.com/cocoa-mhlw/cocoa/blob/8deb6dd9bfba528bc4b229b75b84284786ad2323/Covid19Radar/Covid19Radar/Services/Migration/Migrator_1_3_0.cs#L60-L76

しかし、v1.2.2からのマイグレーションでdateTimeに`new DateTime()`が設定されているケースが存在する

[2021-11-27 04:12] keiji opened #524 "マイグレーションのユニットテストを拡充する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#520 に関連した課題。

マイグレーション処理のユニットテストは[MigrationServiceTests](https://github.com/cocoa-mhlw/cocoa/blob/develop/Covid19Radar/Tests/Covid19Radar.UnitTests/Services/Migration/MigrationServiceTests.cs)にまとまっているが、 #517 の不具合を発見できなかった。

## 解決策についてお書きください / Describe the solution you'd like

#517 のケースを発見できるユニットテストを追加する。

1. release_1_4_

[2021-11-27 04:15] b-wind commented on #523
調査が必要。

以前からたまに調べてはみていますが、 CultureInfo.CurrentCulture など、現在のCultureを指定したりすることは出来ますが JST を表す CultureInfo を取得する方法が標準では環境依存という認識です。

[2021-11-27 04:16] RabbitProgram commented on #523
これについてですが、UNIX Epochは`1970/1/1 00:00:00`からの経過秒数を表したものであるため、`DateTime.MinValue`の値はUNIX Epochで表現することはできません。
おっしゃる通りで、また例外が発生してしまう危険性があります。
参考：https://ja.wikipedia.org/wiki/UNIX%E6%99%82%E9%96%93

[2021-11-27 04:16] b-wind commented on #523
TimeZoneConverter というライブラリはあるようですね。

https://github.com/mattjohnsonpint/TimeZoneConverter

[2021-11-27 04:19] b-wind commented on #523
本来はそう言う定義ですが、負の整数として表現される様です。

https://docs.microsoft.com/ja-jp/dotnet/api/system.datetimeoffset.tounixtimeseconds?view=net-6.0

ただし、そこから TimeZone オブジェクトに変換するときに例外が発生すると思われるので解決にはならなさそう。

[2021-11-27 04:21] keiji commented on #523
ありがとうございます。
タイムゾーン処理とか人類がやるのはとても大変なので、実績のあるライブラリを使うのが一番正当なんですよね。

一度しか実行しないであろうマイグレーション処理のためにライブラリ一個入れるというのは大げさかと思ってしまった当時のぼくですが、JSONに含まれる規約の更新日時がJSTという仕様は現在も生きているので、ライブラリを入れるというのが最適ということになりそうです。

一度使ってみます！

[2021-11-27 04:21] b-wind commented on #523
少し Issue の目的からは外れますが、 new DateTime() が問題になるのはわりと知られた問題の様でこのような記事も見かけました。

https://clown.cube-soft.jp/entry/2021/11/26/datetime-trap

[2021-11-27 06:47] RabbitProgram commented on #523
既存のJSTのDateTime型またはそれをtoString()したものを、UNIX Epoch（UTC）に置き換えるプログラムを考えました。
例え**new DateTime()であった場合でも**、例外が発生することなく変換できました。
参考になりますと幸いです。

https://gist.github.com/RabbitProgram/0b17c3de3a9c1a9608564c7654a7c06e

![zikkoukekka](https://user-images.githubusercontent.com/74450836/143671304-03d6a273-1174-4866-9c16-7fe8b0c5a346.png)

[2021-11-27 08:32] b-wind commented on #523
@RabbitProgram  new DateTime() の返す値は DateTime.MinValue と同じなので、そもそも UTC ですね。

[2021-11-27 09:00] RabbitProgram commented on #523
@b-wind はい、こちらのコードはCOCOAのこれまでの仕様をもとに作成しました。
なお、一部不要な処理があったので、53～60行目を修正しました。
https://gist.github.com/RabbitProgram/0b17c3de3a9c1a9608564c7654a7c06e#file-program-cs-L53-L60

[2021-11-27 09:38] b-wind commented on #523
TimeZoneInfo.FindSystemTimeZoneById() を使う方法については私も keiji さんも認識していますが、指定すべきIDがOS依存であり特にCOCOAのターゲットである iOS/Android ではそれぞれ何を指定すべきかが明確で無いことを懸念しています。
（おそらくは Windows 以外ではIANA名である 'Asia/Tokyo' で問題無い気もしますが）

幾つかの資料を当たった上で、この問題に対処するには TimeZoneConverter が提示されることが多いので上のコメント（ https://github.com/cocoa-mhlw/cocoa/issues/523#issuecomment-980498892 ）で紹介しました。

MS の Blog （どう言う位置づけか分かりませんが）でも TimeZoneConverter が紹介され

[2021-11-27 09:46] b-wind commented on #523
過去の経緯から new DateTime() 使ってしまっていると言う事実はありますが、できる限り排除する方針であると言う認識です。
ですので、すでに生成してしまった文字列をパースする必要はありますが、new DateTime() に相当する値を保存することはなくなると考えています。

[2021-11-27 09:49] b-wind commented on #523
上記の内容は Issue #517 でやり取りした内容をベースにしていますので、当 Issue だけを見てコメント戴いたのでしたら分かりにくい状況かなとも思います。

[2021-11-27 09:50] b-wind commented on #523
サンプルコードまで戴いたことはとても有り難いです。ありがとうございます。

[2021-11-27 10:23] RabbitProgram commented on #523
こちらこそ、コメント下さりありがとうございます。

こちらのIssue #523 のコメントや https://github.com/cocoa-mhlw/cocoa/issues/520#issuecomment-980494685 にあるように、以前の`new DateTime()`の記述についてはそのまま変更しない方向で検討されているようだったので、`new DateTime()`の場合でもうまくマイグレーションできるようなプログラムを https://github.com/cocoa-mhlw/cocoa/issues/523#issuecomment-980527739 でご紹介させていただきました。

確かに、私のプログラムではTimeZoneInfo.FindSystemTimeZoneByIdの部分がハードコードになってしまっているので、この部分は https://gith

[2021-11-27 10:36] b-wind commented on #523
こちらについては現状では、 Migrator_1_2_2 内の処理のみが対象と捉えています。

[2021-11-27 10:54] b-wind commented on #523
補足。
下記のURLが指すURL内の update_date もパースの対象ですね。他に英語版と中国語版もあるはず。

https://covid19radarjpnprod.z11.web.core.windows.net/ja/terms_update.json

[2021-11-27 11:16] keiji commented on #523
ありがとうございます。ひとまず仮ですが、修正のPull Request #525 を提出しました。

「`DateTime.MinValue`であれば計算しない」という手法は開発チームとの話し合いの中でも案としては出したのですが、「`DateTime.MinValue`でなくとも、たとえば0001/01/01 04:00:00」だとその条件に当てはまらず、計算に進んで同じ問題が起きる」と考えて採用しなかったという経緯があります。

そもそも論ですが、今回のケースで`0001/01/01 00:00:00`に対してタイムゾーンの補正をかけたときに、どのような値になるのが正しいかを考えてみました。`TimeZoneInfo.ConvertTimeToUtc`だと、日時は変わらず`0001/01/01 00:00:00`のままです。

これは @b-wind さんの意見でもありますが、設定ファイ

[2021-11-27 11:54] keiji opened #526 "コントリビューターに名前を載せるIssue"
#345 で @heykuro さんが、コントリビューターに名前を載せる件について書いたんですが、独立したIssueでないので目にとまっていないようで「知らない」とか「そもそもPull Requestだすのがめんどい」という話がありました。

----
COCOAのフォーク元である「COVID-19Radar」では、コントリビューターの情報を`CONTRIBUTORS.md`に記録していました。

COCOAでもそれに倣おうと検討をしていましたが、今回移行するGitHub Pagesに、コントリビューターの皆さんのお名前を掲載するページを設けることにしました。

これまでCOCOAにコントリビュートをしてくださった方で、一覧への記載を希望する方は[documentations/content/docs/contribution/contributors.md](https://github

[2021-11-27 11:59] keiji commented on #345
移行は終わっているのでCloseします。コントリビューターへの追加については独立したIssue（ #526 ）にしました。

[2021-11-27 11:59] #345 closed

[2021-11-27 13:50] #100 closed

[2021-11-27 13:50] #465 closed

[2021-11-27 13:50] #432 closed

[2021-11-27 14:02] Meiryo7743 commented on #519
動作中アイコンの ripple effect は，このアプリらしさを醸し出している印象を受けます。ただ，何らかの理由からアニメーションを無効にしているユーザーにはそう見えないことも事実で，おしゃる通り，不具合と受け取られる恐れがありそうです。このため，アニメーションがオフの場合，波紋エフェクトを失くすのが良いと考えます。

さらに，動作中アイコン自体を✔ 付きの ● に差し替えるのも一案でしょう。どのような経緯があったのかは存じ上げませんが，https://github.com/cocoa-mhlw/cocoa/discussions/252#discussion-3426516 で示された案から変更となっていたのですね（✔ 付きの ● → 単なる ●）。原案の方がアニメーションの設定に依存せず，また，他のステータスアイコンと調和した見た目になりそうです。もちろん，動作状況は文字情報として

[2021-11-28 01:22] b-wind commented on #519
（アクセシビリティの？）設定に寄って表示方法が変わるという案ですと少し混乱を招きそうだなと言う気がします。

また、ウェブアクセシビリティ方針としても不可欠でないアニメーションは推奨されないようにも読めます。

https://waic.jp/docs/UNDERSTANDING-WCAG20/time-limits-pause.html

このような障害を持つ利用者はアニメーションをオフに設定しているのかも知れませんが、全員にそれを期待するのは少し難しいかなとも思います。

アニメーションを伴わない表現が出来るのであればそちらに合わせるのが良いように感じました。

[2021-11-28 01:28] b-wind commented on #519
形状による表現を組み合わせるはどうかと思ったのですが（緑の○、黄色い△、赤い× 等々）、日本以外の文化圏で同じ意味に捉えられるかは怪しいですね……

[2021-11-28 04:58] heykuro commented on #526
@keiji さん、ありがとうございます！

[2021-11-28 05:26] kazuhiro4949 opened #528 "ExposureDetectionBackgroundServiceのテスト実装"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

バックグラウンドで動作するロジックのテストがないので実装する

## 解決策についてお書きください / Describe the solution you'd like

- AbsExposureDetectionBackgroundService.csのExposureDetectionAsync()のユニットテストを実装

もしくは

- iOS, Androidのテストプロジェクトを用意してExposureDetectionBackgroundService.csのScheduleのテストを実装

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

[2021-11-28 13:40] #123 closed

[2021-11-28 13:41] #127 closed

[2021-11-28 13:43] keiji commented on #288
@kazuhiro4949 これは稼働状況表示で解決されたんでしたっけ。

[2021-11-28 14:24] kazuhiro4949 commented on #337
テスト追加したのでreopenします

[2021-11-28 14:41] keiji commented on #524
Done.

追加したテストを実行した結果、正しく失敗を検出できることを確認した。
https://github.com/cocoa-mhlw/cocoa/runs/4344513219?check_suite_focus=true

[code]

[2021-11-28 14:41] #524 closed

[2021-11-28 15:35] keiji commented on #523
#525 の方法で、今回の問題を検出できるようにしたユニットテスト（ #527 ）を通ることを確認しました。
本Issueをクローズして、 developへのPull Request（ #531 ）へ引き継ぎます。

[2021-11-28 15:35] #523 closed

[2021-11-28 16:16] keiji commented on #522
コメント追加した

[2021-11-28 16:16] #522 closed

[2021-11-28 23:46] #512 closed

[2021-11-29 01:29] keiji opened #534 "アクシデントレポートを書く"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#517 自体は解決しつつあるが、障害時の動きや影響範囲などが明確になっていない部分がある。

## 解決策についてお書きください / Describe the solution you'd like

アクシデントレポートを書く。
目的は技術コミュニケーションとし、documentsに資料として公開する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

~~もう解決した話なので書かない。~~

## その他 / Additional context

インシデント（アクシデント）の発生自体は今後もあるものと考えられる。
うまくいったこと。うまくいかな

[2021-11-29 01:36] keiji commented on #517
ホットフィックス版（v1.4.1）についてiOS, Android版の双方でリリースが完了し、正常動作が確認されています。
今後の正式な修正と対応については #520 に、インシデントレポートの作成については #534 に引き継ぎ、本Issueについてはクローズします。

問題の発見と解決にあたって、皆さまからのご協力に感謝します。
本当にありがとうございました。

[2021-11-29 01:36] #517 closed

[2021-11-29 01:57] keiji commented on #519
ひとまずタイトルを調整しました！

[2021-11-29 05:17] keiji commented on #534
レポートに書くこと、こんな感じかな。
さすがにこういうのはサクサク書けない（書いたことがない）から、項目を整理していきたい。

 * 発生日時
 * 事故の内容
 * 発生から解決までの流れ（時系列で）
 * 影響範囲
     * プラットフォーム・OSバージョン
     * 台数
     * 機能
 * 原因
 * 復旧方法
 * 復旧後の状況
 * 当時の対応について
     * 正しく対応できたこと
     * 課題
 * 今後の対応
     * 再発防止策（案）

[2021-11-29 16:26] #491 closed

[2021-11-29 16:27] #509 closed

[2021-11-30 17:47] keiji opened #538 "動作ログIDの表示とコピー機能がアクセシビリティとの整合性が取りづらい"
動作ログIDの表示（ #140 ）の @Takym さんと 実装（ #394 ）してくださった @Murayu0225 さんにご報告です。

## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

開発チームのデザイン部門から指摘を貰いました。

アクセシビリティの観点から「動作ログIDをタップしたらコピーする」という現在の実装は利用者にわかりにくく、他の操作との整合がとれない。「動作情報IDをコピーする」というボタンを設けた方が良い。とのことです。

ただそれをすると、利用者に「動作情報ＩＤをコピーする」が何を意図しているのかをきちんと伝える必要があるよね。と。

ぼくとしては開発者向けの機能という認識で、あまり深く考えていなかったのですが（もともと #140 では送信済み動作ログID一覧を見

[2021-12-01 05:09] keiji opened #540 "利用規約・プライバシーポリシーの更新を反映する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

2021年12月1日付で利用規約とプライバシーポリシーが更新されている。

 * https://www.mhlw.go.jp/stf/seisakunitsuite/japanese_pp_00027.html
 * https://www.mhlw.go.jp/stf/seisakunitsuite/japanese_rk_00028.html

英語、中国語も同様に更新されている。

## 解決策についてお書きください / Describe the solution you'd like

documents/以下のファイルも更新する。diffがわかるようにする。

## あなたが考える代替案についてご説明ください / Describ

[2021-12-01 14:39] keiji opened #545 "[Server] デバッグ用にSubRegionパラメーターを導入する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ENのデバッグをするときに、本番用サーバー同様region（440）という空間で診断キーを配信して接触確認を行うが、細かく区切りたいことがある。
たとえば４台（A, B, C, D）の端末を机の上に置き、A - B, C - Dなどの接触を確認したいとき、診断キーの空間がregionしかないと、A, B, C, Dすべてが接触した取り扱いになってしまう。

## 解決策についてお書きください / Describe the solution you'd like

V3DiagnogisApiのパラメーターに`SubRegion`を導入する。サーバーは診断キーの生成の時にregionの下にさらにSubRegionの空間を作成して診断キーを生成

[2021-12-02 01:26] keiji opened #546 "ドキュメントサイトのメニュー構造を見直す"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

[Webサイト](https://cocoa-mhlw.github.io/cocoa/)の左メニュー。今の構造だとどんどん長く伸びそう。

![Screen Shot 2021-12-02 at 10 22 37](https://user-images.githubusercontent.com/932136/144340462-01e29507-5bc6-432b-a767-b5b0171b9612.png)

## 解決策についてお書きください / Describe the solution you'd like

メニューに掲載しないコンテンツの置き場所を定義する。
`content/docs`以下でなく、`content`直下に

[2021-12-02 04:42] keiji opened #548 "[CI] iOSのビルドで落ちる"
## 不具合の内容 / Describe the bug

GitHub ActionsでiOSのCIが落ちるようになった

## 再現手順 / Steps to reproduce

Pull Request出す。

## 期待される挙動 / Expected behavior

CIが落ちない

## スクリーンショット / Screenshots

https://github.com/cocoa-mhlw/cocoa/actions/runs/1529066729

[code]

## その他 / Additional context

Xcodeのバージョン指定で怒られてるらしい。
https://github.com/cocoa-mhlw/cocoa/blob/develop/.github/workflows/CI.yml

[2021-12-02 06:02] #464 closed

[2021-12-02 14:45] keiji opened #550 "[CI] Xamarin.iOS/Xamain.Androidのバージョンを更新"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Xamarin.Androidの最新バージョンは`12.0.0.3`
Xamarin.iOSの最新バージョンは`15.2.0.17`

## 解決策についてお書きください / Describe the solution you'd like

CIに反映する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

現時点でビルドできてるので反映しない。
今のうちにバージョン上げて、ちゃんと動くかやっておいた方がいい。

## その他 / Additional context

[2021-12-03 04:57] #548 closed, assigned to keiji

[2021-12-03 04:59] #550 closed, assigned to keiji

[2021-12-03 05:00] b-wind commented on #128
#419 で実装され、 v1.4.0 でリリースされてるっぽい？

[2021-12-03 05:26] keiji commented on #128
されてますね。
夕方くらいにクローズします！

[2021-12-03 07:44] #128 closed

[2021-12-03 12:49] #546 closed, assigned to keiji

[2021-12-04 07:42] keiji opened #552 "陽性情報登録の処理番号照合フローのあり方を検討する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在のCOCOAの陽性情報登録フローは、Googleがリファレンスとして提示している構造と相違があると言う指摘をTwitterでいただいている。

https://twitter.com/moonmile/status/1467025795520806912

リンクのリファレンスにある図では処理番号の有効性を確認するサーバー（Verification Code Database）とTEKを登録するサーバー（TEK Databases）は異なる。

https://developers.google.com/android/exposure-notifications/verification-system

## 解決策についてお書きくだ

[2021-12-04 08:09] b-wind commented on #552
キチンと読んで無いですが、Apple の EN Express 用サーバー構成の資料も同じ感じだった様な。

https://developer.apple.com/documentation/exposurenotification/supporting_exposure_notifications_express

[2021-12-04 08:18] keiji commented on #552
当初はこの構造ではなかったという話もあるので、EN Express導入のためにこの構造に変更されたって事でしょうか。

"TEK Database"はEN Expressの仕組み上Apple/Googleが管理。"Verification Code Database"は公衆衛生機関が管理するものと考えれば腑に落ちます。

[2021-12-04 08:42] b-wind commented on #552
分かる範囲で Google の方は 2020年6月にはこの構成の様なので EN Express と直接の関係があるかは分からないですね。

https://web.archive.org/web/20200621061258/https://developers.google.com/android/exposure-notifications/verification-system

[2021-12-04 08:58] keiji commented on #552
ちょっと時期が合わないですね。うーん。引き続き調べます。
（あ、作業の合間にという意味です

[2021-12-04 16:39] b-wind opened #554 "TimeZoneInfo の取得方法を統一する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

LogFile に記録する TimeZone はJSTに固定されている。
この為 JST を表すTimeZoneInfoが必要だが、 TimeZoneInfo.FindSystemTimeZoneById で取得する形式となっている。

該当処理
https://github.com/cocoa-mhlw/cocoa/blob/99712d452169f9088f2a721be1b80ec11ad62910/Covid19Radar/Covid19Radar/Common/Utils.cs#L37-L60

呼び出し元
https://github.com/cocoa-mhlw/cocoa/blob/2a729494ad1efa1f3f31

[2021-12-05 04:19] kazuhiro4949 opened #555 "ExposureDetectionServiceのテスト実装"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

- ExposureDetectionServiceのユニットテストが存在しない
- 接触判定イベント発生時の各種処理

## 解決策についてお書きください / Describe the solution you'd like

- テストの実装

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

- 手動動作確認での担保

## その他 / Additional context

[2021-12-05 12:18] keiji opened #559 "[Server/COCOA2] Regionsが複数ある場合に診断キーが正しく登録されない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`feature/cocoa2`ブランチのV3DiagnosisApiの話で、現在リリースされているサーバーAPI（V2DiagnosisApi, DiagnosisApi）には関係がない。

https://github.com/cocoa-mhlw/cocoa/blob/ed425af115e42c36dbaf83fce00ccfb81ebbd47d/src/Covid19Radar.Api/V3DiagnosisApi.cs#L133-L150

インスタンスが生成されるのは`k.ToModel();`のタイミング。
`submissionParameter.Regions`でループを回しながらListに追加しているが、ループ内でイン

[2021-12-05 15:26] rea-sna opened #562 "「ライセンス...」ボタンについて"
### Discussed in https://github.com/cocoa-mhlw/cocoa/discussions/561

<div type='discussions-op-text'>

<sup>Originally posted by **rea-sna** December  5, 2021</sup>
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?
アプリ内設定にある「ライセンス...」ボタンについてです。
iOSではボタンやラベルの文字が見切れると「...」がついてしまうので、「ライセンス」より先にある文字が見切れているのではないかという誤解を招いてしまう。（私もそう思ってました）

## 解決策についてお書きください / Describe the solut

[2021-12-05 15:51] keiji commented on #554
人間が見る表示はローカルタイムの方がいいですね。
むしろJST/UTC固定より、こういうときこそLocalTimeを使った方がいいのでは（JST固定だと動作端末のタイムゾーン情報が落ちてしまう）と思います。

ギリギリまでUTCで取り扱って出力時にLocalTimeに変換（日時文字列にタイムゾーンを含める）くらいでしょうか。

[2021-12-05 17:51] keiji commented on #554
むしろ、ここにタイムゾーン関係の処理があったのか…LoggerServiceからしか使われないないから気づいてなかった。
`JstNow`については、使われている箇所が`LoggerService`の1箇所しかない＋ログを出力するたびにタイムゾーンを取得する処理が走っているので、staticで持って一回で済むようにしたいですね。

Issueにある解決策と代替案でどちらかという意味では解決策の方「Timezone関係は1つのクラスにまとめる（#523 で統一する）」方向で行きたいですね。
一方、処理をすでにある`Utils`クラスにまとめるかは検討の余地があると考えています。`TimezoneUtils`とか、もう少し用途がわかる名前にしたい。

（そういえば `DateTimeUtility` というクラスもあるんだった。けど、これはServiceとして取り扱う提案されているので、ここへ

[2021-12-06 00:45] keiji opened #563 "Covid19Radar.Backgroundのテストを書く"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`Covid19Radar.Api`にはユニットテスト（`Covid19Radar.Api.Tests`）があるが、`Covid19Radar.Background`にユニットテストがない。

## 解決策についてお書きください / Describe the solution you'd like

テストを書く。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

テストを書く。

## その他 / Additional context

ひとまずこれを代表Issueとして、どのテストが必要なのかは個別のIssueで記載する。

優先順位：高

 * T

[2021-12-06 00:51] keiji opened #564 "Covid19Radar.BackgroundのTemporaryExposureKeyExportBatchのテストを書く"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#563

`TemporaryExposureKeyExportBatch`のユニットテストがない。

## 解決策についてお書きください / Describe the solution you'd like

書く。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

書く。

## その他 / Additional context

[2021-12-06 00:53] keiji opened #565 "Covid19Radar.BackgroundのTemporaryExposureKeyDeleteBatchのテストを書く"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#563

`TemporaryExposureKeyDeleteBatch`のユニットテストがない。

## 解決策についてお書きください / Describe the solution you'd like

書く。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

書く。

## その他 / Additional context

[2021-12-06 01:28] #540 closed, assigned to keiji

[2021-12-06 04:37] b-wind commented on #554
人間が見る…… というよりは本来の目的からすると開発チームがトラブルシューティングのために見るのが存在の第一目的なのかなと。

端末自体のタイムゾーン情報は言語設定（CultureInfo）と一緒に必要な場所でログ出力する方が適切かなと。
端末自体の設定を変えることで「ログファイル内の日時表示方法」が変わるのは嬉しく無さそう。

このあたりは出来れば Viewer側（COCOAの外）に任せたいのはあります。
専用のViewerでは無く Excel 等で開いている人も多いのかな？

[2021-12-06 04:39] b-wind commented on #554
Utils クラス。使ってしまう気持ちは分かりますが、本件の様に見落としやすくなる一因だとは思います。

[2021-12-06 04:44] b-wind commented on #554
私自身の運用経験から来る一般論ですが、クライアントとサーバーのログを突合等するケースを考えて同一のタイムゾーン・日時フォーマットの方が嬉しい等はありますね。

[2021-12-06 04:57] b-wind commented on #554
話を広げてしまっていてなんなのですが、当 Issue の目的はあくまで処理方法の統一までとさせて戴きたいと考えます。
（検討の上 TimezoneUtils クラスなどに纏める・インスタンスの生成を効率化する所までは含む）

動作ログに出力する内容の変更は必要に応じて別 Issue にした方が良いかと思います。

[2021-12-06 04:57] #501 closed

[2021-12-06 04:58] #503 closed

[2021-12-06 11:50] kvaluation commented on #128
zip番号　接触日
865　2027/8/25
866　2027/8/24
867　2027/8/23
868　2027/8/22
869　2027/8/21

2021年9月11日配信分から、この865-869が通知サーバーから削除され、端末に配信されていないことを確認しました。ご対応ありがとうございます。close後にすみません。

[2021-12-06 14:40] keiji commented on #563
`Covid19Radar.Api.Tests`の`Background/Services`に`TemporaryExposureKeyBlobServiceTest`と`TemporaryExposureKeySignServiceTest`を見つけた。
可能であれば`Covid19Radar.Background.Tests`に移動する。

[2021-12-06 15:50] keiji opened #569 "[Server] 使われているNuGetライブラリのバージョンアップ"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#563 をしようと頑張っていて、使われているNuGetライブラリが古くて新しいプロジェクトを作ったりするとバージョンの不整合が発生する。

## 解決策についてお書きください / Describe the solution you'd like

使われているNuGetライブラリのバージョンアップ

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

バージョンアップせず、新しいプロジェクト側のNuGetライブラリをダウングレードする。

中長期的なメンテナンスコストを低減するためにバージョンアップしたい。

## その他 / Additional con

[2021-12-06 15:51] keiji opened #570 "[App] 使われているNuGetライブラリのバージョンアップ"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#569 に関連して、アプリ側も相当古いバージョンが散見される。

## 解決策についてお書きください / Describe the solution you'd like

使われているNuGetライブラリのバージョンアップ

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

バージョンアップせず、新しいプロジェクト側のNuGetライブラリをダウングレードする。

中長期的なメンテナンスコストを低減するためにバージョンアップしたい。

## その他 / Additional context

[2021-12-07 12:14] kvaluation commented on #552
事実上の部分についての整理です。

処理番号：　公衆衛生当局が個人を特定可能
TEK, 日次キー: データベースのデータ構造として、処理番号ごとにTEKを特定可能? (個人と紐付けられないVerificationの情報のみTEKと関連させるのが理想だったかも?)

zipをみていくと、接触日ごとに24時間有効なTEKが格納されており、処理番号の痕跡は入っていないようにみえる（2021/4と古くてすみません）。

（1つの処理番号の複数のTEKは接触日（rolling_start_）が異なるので、異なるzip (iPhoneのHASH行)にわかれて入ると想定できます）

start_timestamp: [2021-04-27 09:00:00+0900]
--
end_timestamp:   [2021-04-28 09:00:00+0900]
region:          [440

[2021-12-07 13:59] keiji commented on #552
はい。配信するTEK（診断キー）に処理番号は含まれていないのでご安心ください。
陽性情報登録サーバー側も、処理番号はVCサーバーに送って確認する以外は使っておらず、データベース等に保存していないのが現在の実装になります。

個人的にはVCとTEKを分けて取り扱う仕組みは面白いと感じていますね。

[2021-12-07 15:21] keiji opened #574 "画面の読み込み後にサイズ変更が発生すると画面が見切れる"
## 不具合の内容 / Describe the bug

COCOA2（`feature/cocoa2-1st-review`含む）で確認された不具合。

## 再現手順 / Steps to reproduce

1. '陽性情報登録画面' に行き、
2. 症状'あり' をクリックする

## 期待される挙動 / Expected behavior

画面が見きれない。

## スクリーンショット / Screenshots

![Screen Shot 2021-12-07 at 23 40 38](https://user-images.githubusercontent.com/932136/145056112-4bef68ff-f8c9-4c07-a209-fb382050a908.png)

## 動作環境 / Environments

- デバイス：Android Pix

[2021-12-07 16:09] keiji commented on #563
現在のプロジェクトが利用しているNuGetパッケージが古く、新しいテストプロジェクトを追加（新しいNuGetパッケージがセットアップされる）すると不整合が起きたりする。

 #569 が取り込まれてから再挑戦。

[2021-12-07 16:10] kazuhiro4949 opened #576 "[COCOA2]HomePageViewModelのテスト実装"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

- HomePageViewModelでENv2用に実装された部分のロジックを自動テストで担保する

## 解決策についてお書きください / Describe the solution you'd like

- ユニットテストを実装する
  - OnClickExposures
  - OnClickCheckStopReason
  - 辺り

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2021-12-08 01:12] keiji commented on #300
@kazuhiro4949
COCOA2のコード取り込みにあたって認識あわせをさせてください。
今 #573 で第一期のコードレビューが進行しています。#530 のPull Requestは、第2期のコードレビューに含めることになると思います。

#573 進行中も`feature/cocoa2`へのPull Requestのマージは進めるということで良かったでしょうか。
`feature/cocoa2`が常に最新（`develop`と同じ位置づけ）、コードレビューでの変更も逐次反映する。逆に`feature/cocoa2`の変更はコードレビュー中のブランチには反映しない（2期まで）。という認識でいきたいです。

[2021-12-08 01:40] keiji commented on #216
これは次のバージョンでやることになりそうです。

[2021-12-08 02:09] keiji opened #577 "[Server] IV1DeviceValidationServiceクラスが残っている"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#503 で不要になった`IV1DeviceValidationService`のファイルが残っている。

https://github.com/cocoa-mhlw/cocoa/blob/develop/src/Covid19Radar.Api/Services/IV1DeviceValidationService.cs

## 解決策についてお書きください / Describe the solution you'd like

消す。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

あっても害はないから消さない（けど消す）。

## その他 / A

[2021-12-10 10:04] keiji opened #578 "JsonからDateTimeに直接パースしている箇所がある"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

イベントの発表資料を作っていて、JSONから直接DateTimeをパースしているところを見つけた。

https://github.com/cocoa-mhlw/cocoa/blob/360150a71beca3e5a34a19c192a487261dc1dae7/Covid19Radar/Covid19Radar/Model/TermsUpdateInfoModel.cs#L25-L29

これは規約・プライバシーポリシーの更新確認に含まれる更新日付で`2021/12/25 11:11:11`のような形になっている。この形式だと大体のロケールで問題なく読み込めたので、そうそう不具合の原因にはならなさそうだけど、念のためフォーマットを指定し

[2021-12-10 14:27] keiji opened #579 "[Android] ダークモード時に表示異常"
## 不具合の内容 / Describe the bug

開発チームからの指摘。

ダークモード有効時にCOCOA2を起動すると表示が異常になる。

## 再現手順 / Steps to reproduce

1. ダークモードを有効にして
2. COCOAを起動する
3. 画面が正しく表示されない

## 期待される挙動 / Expected behavior

これまで通り、ダークモードの影響を受けない。

## スクリーンショット / Screenshots

![Screen Shot 2021-12-10 at 23 24 17](https://user-images.githubusercontent.com/932136/145589306-b53b91a4-2cc7-4d3a-a3b2-a98914cb26f9.png)

## 動作環境 / Environments

[2021-12-10 14:32] keiji opened #580 "プロセス再起動時に`DryIoc.ContainerException`"
## 不具合の内容 / Describe the bug

COCOA2で、アプリのプロセスが再起動されるタイミングで`DryIoc.ContainerException`が発生する。

## 再現手順 / Steps to reproduce

1. COCOA2を起動して
2. ホームに戻り
3. 設定からダークモードを有効にして
4. タスク切り替えでCOCOA2にもどる
5. DryIoc.ContainerExceptionが発生する

[code]

## 期待される挙動 / Expected behavior

例外が発生せず、これまで通り使える。

## 動作環境 / Environments

- デバイス：Pixel 3
- OS：Android 12
- バージョン：COCOA2

## その他 / Additional context

Xamarin.Formsと

[2021-12-10 23:08] Murayu0225 opened #583 "ダイアログのデザインが想定と異なる"
## 不具合の内容 / Describe the bug

#394 のレビューにて開発チームから

[引用元](https://github.com/cocoa-mhlw/cocoa/pull/394#discussion_r756619631)

とあったので他のstring値でemptyとなっている部分をnullに変更します。

## 再現手順 / Steps to reproduce

一番簡単に再現できる方法を書いておきます。

1. '陽性情報の登録' をクリックし、
2. '同意して陽性登録' をクリックし、
3. 必要事項を全て適当に入力し、
4. '登録' をクリックし、
5. ダイアログ画面で'キャンセル'をクリックすると、
6. '登録をキャンセルしました'と表示されます。

この「登録をキャンセルしました。」の表記のタイトルがemptyになっているのでnullに変更

[2021-12-11 05:23] b-wind commented on #578
まだ調べてはないですが、今のままだと取得したDateTime の DateTimeKind が ~~Local になっていそう~~ な気がしました。
（Unspecified かも）

[2021-12-11 06:02] b-wind commented on #578
日時文字列の Deserialize 時には言語設定（CurrentCultureInfo）にも影響されるのでは無いか？

Seriarize 時は ISO 8601 extended format 固定。
https://www.newtonsoft.com/json/help/html/DatesInJSON.htm

[2021-12-11 06:03] b-wind commented on #578
Deserialize （パース）時のフォーマット指定方法。
https://www.newtonsoft.com/json/help/html/DeserializeDateFormatString.htm#!

[2021-12-11 06:08] b-wind commented on #578
コードを見る限り UpdateDateTime を JST のまま持って居ることに意味はなさそう。（参照しているのはテストコードだけ）

Deserialize 時に UTC まで変換しても良いのでは無いか。

DateTime 型にはJSTを表現する方法が無いと言う理由もある。
JST を表現したいなら DateTimeOffset を使うべきと思われる。
https://docs.microsoft.com/ja-jp/dotnet/standard/datetime/

[2021-12-11 11:56] keiji commented on #580
これっぽい
https://github.com/PrismLibrary/Prism/issues/2529

[2021-12-11 12:27] keiji commented on #580
Workaroundで解決を確認。ただ、このPull Requestのままでいくかはまだ決めていない（CommonServiceLocatorの削除は本当は必要ないので

https://github.com/cocoa-mhlw/cocoa/pull/582

[2021-12-11 12:42] keiji commented on #578
はい。影響されるのでUserDataModelの中の使用開始日がパース失敗してたりしました。

JSONをDeserializeする時点ではプリミティブなstring（`UpdateDateTimeJst `）で取っておいて、外向けの`UpdateDateTimeUtc`にはUTCに変換するのを考えています。

DateTimeOffset、クラスの外からはUTCのDateTimeとして見せるのなら、内部的には使っても良さそうですが、内部的に使うならTimeZoneInfoとのちがいは、TimeZoneInfo取得できないかもしれない不安がないというのがメリットではありそう。

[2021-12-11 15:24] keiji opened #589 "CommonServiceLocatorをServiceContainerLocatorに置き換える"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#580 に対応していて気づいたけど、PrismアップデートしたからCommonServiceLocatorはContainerLocatorに置き換えできる。

## 解決策についてお書きください / Describe the solution you'd like

置き換えよう。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

今動いているのだから触らなくていいんじゃないか。

## その他 / Additional context
一応、Pull Requestは作っておく。

[2021-12-12 07:35] keiji opened #590 "動作ログのアップロードをWeb API経由に変更する検討"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在、動作ログのアップロードはAzure Storageに直接アップロードしているが、これだと仮にAzure以外に切り替えるときに、動かしづらい気がする。

## 解決策についてお書きください / Describe the solution you'd like

Web API経由に変更する。ZIPファイルをPOSTしたら保存されるイメージ。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

いま普通に動いているので変えない。

## その他 / Additional context

巨大なファイルを送りつけられる問題や、悪意のある実行ファイルを送り

[2021-12-12 07:46] keiji opened #591 "[CI] コードカバレッジを計測する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#517 の原因がなぜユニットテストで見つからなかったかを #527 で検証した結果、そもそもバージョン1.0.0で想定されている初期値に誤りがあったことが確認された。

コードカバレッジを計測・検証できていたなら、元のユニットテストが`new DateTime()`を通る経路をテストできていないことが確認できた可能性がある。

## 解決策についてお書きください / Describe the solution you'd like

CIでコードカバレッジを計測することで、パターンの見落としや手テストが手薄になっているところがわかるようにする。

## あなたが考える代替案についてご説明ください / Describe alternativ

[2021-12-12 23:42] keiji commented on #580
CommonServiceLocatorについては #589 に譲る。このIssueではDryIoc.ContainerExceptionだけ取り扱う。

[2021-12-13 16:59] keiji commented on #591
メモ
https://samlearnsazure.blog/2021/01/05/code-coverage-in-github-with-net-core/

[2021-12-14 01:49] b-wind commented on #590
現状でもこれは課題として有るように思います。
（Azure Storage の設定内容等分からないので推測ですが）

[2021-12-14 02:27] kazuhiro4949 opened #592 "[COCOA2]Covid19Radar.APIをAzureにデプロイするとAPIが500エラーを返す"
## 不具合の内容 / Describe the bug

現在のfeature/cocoa2ブランチのサーバーサイドのコードをazure上で動かすとAPIが500エラーを返すようになる。
エラーログを見ると以下の問題が発生している。

[code]

以下のプルリクをRevertしたものをデプロイすると正常に動作するようになるため、ライブラリのバージョン変更が影響を受けているっぽい
https://github.com/cocoa-mhlw/cocoa/issues/569

## 再現手順 / Steps to reproduce

1. Azure FunctionにCovid19Radar.APIをデプロイする、
2. その環境に向けたCOCOAパッケージをインストールする
3. 起動後の利用規約同意を行うとエラーが返ってくる

## 期待される挙動 / Expected beha

[2021-12-14 04:16] keiji commented on #592
やります！

[2021-12-14 04:18] keiji commented on #592
まさかの（まったく手をつけてない）利用規約合意APIですか。

@kazuhiro4949
エラー発生地点の分かるスタックトレースありますか？

[2021-12-14 07:41] keiji commented on #592
やってみました。スタックトレースでないですね。

多分これかな。
https://github.com/Azure/azure-functions-core-tools/issues/774

[2021-12-14 08:04] kazuhiro4949 commented on #592
コードの修正に影響を受けたわけではなく、ライブラリのバージョンアップでAPIが変わった影響を受けているんじゃないかなと思います。ライブラリのバージョンアップのプルリクをrevertしたところinternal server errorは無くなりました

[2021-12-14 16:48] keiji opened #597 "[Server] 接触状況収集APIを試験的に実装する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://github.com/cocoa-mhlw/cocoa/discussions/532#discussioncomment-1712027 で接触状況（接触通知の表示状況）を含めたログ収集機能が検討されている。

デバッグ用に限定して同種の機能は実装されているが、通信先はPythonで書かれた実験用サーバーに限定されていて、Azure FunctionsのAPIが存在しない。

## 解決策についてお書きください / Describe the solution you'd like

Azure Functionsにログ収集APIを試験的に実装する。

デバッグ用のログ提出先を切り替えて、通信、データ量などの予測に利用する。

[2021-12-15 00:43] keiji opened #598 "ベータ版の配布についての検討"
検討の過程、現時点での内容をまとめるIssueです。
具体的なディスカッションについてはGitHub Discussion #599 で。

## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#517 の再発防止策の一環としてβ版の配布を提案している（参考: #544 ）。

## 解決策についてお書きください / Describe the solution you'd like

β版を配布するために必要な要件を検討する。

### プラットフォーム
それぞれのプラットフォームでの配布方法と特徴（制限）

 * Android（Google Play Store）
 * iOS（Test Flight?）

### 公開範囲
オープンベータ。

クローズドベータも検討したが、その場合はメ

[2021-12-15 08:21] keiji opened #600 "[COCOA2] コードレビュー後の動作確認に備えて各種設定を調整する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

コードレビュー後に開発チームによる動作確認が予定されている。

DEBUGシンボルでフィルターを無効にしていたり（対応済み）、デバッグ用にいくつか挙動を変えている箇所がある。

## 解決策についてお書きください / Describe the solution you'd like

DEBUGシンボルから、例えばTESTやEN_TESTシンボルに振り返るなど、各種設定を調整する。

期待通り動くように、改めてパターンを抽出して動作確認をする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

確

[2021-12-15 13:49] keiji opened #601 "[COCOA2][Android] バックグラウンド処理が動いていない"
## 不具合の内容 / Describe the bug
プロダクト版とは無関係の不具合。

#582 で確認された事象。

COCOA2 で、e5af0672ca97fdaddf8a253f5b0bd9e53857a382 この変更で間違えてバックグラウンド処理のスケジュールが削除されてる。

4時間ごとのバックグラウンドでの接触確認が行われない。

## 再現手順 / Steps to reproduce

1. 'COCOA2' を起動して、
2. 'COCOA2' を終了して、
3. 4時間ほど待つ。または、`adb shell dumpsys jobscheduler`を実行してWorkManagerのジョブが登録されているか確認

## 期待される挙動 / Expected behavior

4時間ごとにバックグラウンドで接触確認が行われる

## スクリーンショット / S

[2021-12-16 06:31] daisuke-nogami opened #605 "閾値以下で接触通知の対象にならなかった接触を確認出来る画面を作る"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

discussion #532 の *接触通知が出なかった場合も含めた、接触状況を知らせる定期的な通知の追加* を起点とするIssue。
https://github.com/cocoa-mhlw/cocoa/discussions/532#discussioncomment-1712003

接触通知を発生させる閾値以下の接触があったことを（OSの設定画面ではなく）COCOA内で確認できるようにする。

## 解決策についてお書きください / Describe the solution you'd like

通知だけでは通知を消した後に内容が確認できなくなるので、どこかの画面で確認できるようにすべきだが、
その通知・画面で伝えることは以

[2021-12-16 06:41] daisuke-nogami opened #606 "「陽性者との接触結果を確認」画面での接触の表示方式を変更する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

discussion #532 では議論の対象になっていないが、EN v2では接触が回数ではなく時間で把握され、
例えば60分の接触であれば30分のExposure Window2個を返して「2件」とされてしまいミスリードなため、
接触が回数で返されるv1を前提とした画面表示を変更する必要がある。
https://github.com/cocoa-mhlw/cocoa/discussions/532

## 解決策についてお書きください / Describe the solution you'd like

以下の様に分数表示で表示する。

- 「陽性者との接触確認」画面
  - ◯日間に合計◯分間
- 「陽性者との接触一覧」画面
  -

[2021-12-16 06:46] keiji opened #607 "[COCOA2] 陽性情報登録画面で「登録する」ボタンが有効にならない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://github.com/cocoa-mhlw/cocoa/pull/596 のマージの時に、ViewModel側のメンバ変数`ProcessingNumber`が`DiagnosisUid`に戻ったのでバインディングができない状態になっていた。

## 解決策についてお書きください / Describe the solution you'd like

修正する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

修正する。

## その他 / Additional context

そろそろ開発チームにも、`feature/cocoa2`

[2021-12-16 08:26] #607 closed, assigned to keiji

[2021-12-16 12:54] b-wind commented on #606
v1 時点でも詳細な接触情報を知りたいと言う要望は時折目にします。（何時頃に濃厚接触が発生したのか等）

どこまで詳細にするかはシステム上・プライバシー保護上の問題が有るので検討は必要だと思いますが、丁寧で分かりやすい説明というのは求められていると感じて居ます。

[2021-12-16 13:01] b-wind commented on #605
本題とはずれてしまうのですが、こちらについて違和感を覚えました。

現状 iOS/Android 共に通知をロック画面に表示する設定があり、ロックを解除出来ない第三者が見られる可能性があります。
また Android では他のアプリから通知文面を取得することが出来ると認識しています。

また、ゲーム配信などで画面を映す機会が増え通知メッセージがそのまま表示されてしまうという事故も耳にします。

これら状況を踏まえ、特に閾値以下の接触があった場合の通知文面は別 Issue で別途検討することを提案致します。

[2021-12-16 13:46] b-wind commented on #605
こちらのページは所謂濃厚接触に対する物では無いので、提示戴いているユーザー自身の情報に加え
COCOA全般の統計情報を表示してしまって良いのかなと考えました。

まず考えたのは期間内に発生したCOCOAからの陽性者登録数です。
全国の数値を念頭に置いて居ますが、いずれ県ごとの数字などが見られる様になると良いなと。

また、データ取得を行う事が前提になりますがCOCOAが濃厚接触を判定し、通知した数等も表示されると実感しやすいかなと。

[2021-12-17 06:15] #592 closed, assigned to keiji

[2021-12-17 06:56] keiji commented on #562
最新のdevelopではアクセシビリティ対応の一環で対応しているとのことです。
手元で表示したらこんな感じになっていました！

![Screen Shot 2021-12-17 at 15 19 28](https://user-images.githubusercontent.com/932136/146498655-0a09642a-3774-464a-8de3-8392c006cae0.png)

[2021-12-17 07:37] keiji commented on #569
Microsoft.NET.Sdk.Functionsを`4.0.1`にすると、.NET SDK 6系が必要になるのでアップデートを保留

[2021-12-17 07:38] keiji commented on #569
Microsoft.Extensions.LoggingとMicrosoft.Extensions.Httpを`6.0.0`にすると #592 の問題が発生したのでアップデートを保留

[2021-12-17 07:54] keiji opened #612 "[Server] RegisterApiのリファクタリング（ICryptionServiceの削除）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#592 を対応する過程でRegisterApiのリファクタリングをする中で、ICryptionServiceを使っていないことに気づいた。

## 解決策についてお書きください / Describe the solution you'd like

ICryptionServiceおよび関連する設定を削除する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

動いているのでこのまま使う。

## その他 / Additional context

COCOAが始まった当初、RegisterApiを通じてUUIDを発行していた名残と思われる。

[2021-12-17 07:57] keiji commented on #612
サーバーの話なのでdevelop向けに出した方がいい気がしてきた。開発チームに確認する。

[2021-12-17 08:39] keiji opened #615 "Visual Studio for Mac / .NET SDK / Xamarin.* のアップデート"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

アップデート来た。

![Screen Shot 2021-12-17 at 16 28 28](https://user-images.githubusercontent.com/932136/146514609-5c9305c2-da23-4d40-9691-d199dac48524.png)

![Screen Shot 2021-12-17 at 17 36 49](https://user-images.githubusercontent.com/932136/146514758-34578760-18fb-42df-a53c-1cd6e94d81e6.png)

## 解決策についてお書きください / Describe the

[2021-12-17 08:40] keiji commented on #615
なんらかのバージョンの.NET SDKがUnsupportedになったらしい:thinking:

![Screen Shot 2021-12-17 at 17 39 34](https://user-images.githubusercontent.com/932136/146515144-e020d950-fa0f-4cc8-a500-95df2667874e.png)

[2021-12-17 09:13] keiji commented on #615
あかんぽい

[code]

[2021-12-17 10:01] keiji commented on #615
NDKを `21.2.6472646` にダウングレード

![Screen Shot 2021-12-17 at 18 17 19](https://user-images.githubusercontent.com/932136/146526558-a827358c-d94b-4c0b-ac60-487edd1946fa.png)

Covid19Radar.Androidの設定で「Android Package Signing」が初期化されていたので再設定したらビルド・インストールできた。

[2021-12-17 10:18] keiji commented on #615
iOS版のビルドと実行は問題なし。

[2021-12-17 12:01] daisuke-nogami commented on #606
実際には何時頃というのはExposure Windowのデータからは分からないですし、それは犯人を特定するような思想なので受け入れがたいでしょうね…

もともとの◯件という表示は、回数ではリスクのイメージが湧きにくいので、個人的には時間表示になるのは、よりリスクの大きさの方に着目して貰える（例えば15分よりは30分の方が危ないと感じて貰えるだろう、など）ので、よい方向の変更だとは思います。

[2021-12-17 12:08] daisuke-nogami commented on #606
言葉だと変更イメージが分かりにくいので画面イメージを作って見ました。

*「陽性者との接触確認」画面*
![image](https://user-images.githubusercontent.com/71449929/146542376-7c7b41f5-94e1-4955-b3dc-3c2e00babc86.png)

*「陽性者との接触一覧」画面*
![image](https://user-images.githubusercontent.com/71449929/146542647-9ea11950-98e0-4a9d-ad54-0ca173d74023.png)

[2021-12-17 12:18] daisuke-nogami commented on #605
通知の文言については以下のようにあまりCOCOAでの対応という感覚がないのですが、
他の問題も含めてIssueを立てていただけますとありがたいと思います。

通知画面で文字が見える見えないについては、iOS/Androidともに、通知画面に詳細を表示するか否かの設定があり、利用者に委ねる話かとも思いました。ゲーム配信で画面を写すときについても、どちらかといえばゲーム配信アプリ側の方の課題にも思えます。

また、他のアプリからの情報取得ですが、個人的に利用しているwena3はAndroid/iOSともに通知の文言を拾って手元に送ってくれるもので、これはこれで「重要なものほど手元にすぐに見せて欲しい」ものですので、こちらについても、他のアプリに見せる見せないについてはCOCOA側で考慮すべきなのかなやましいと感じます。
（設定を作ったとしても、そういう配慮を必要とする利用者ほどそういう設定を気

[2021-12-17 12:24] daisuke-nogami commented on #605
このページを情報提供ページにすべき、というアイデアはまさに同じことを考えており、discussionでも、

https://github.com/cocoa-mhlw/cocoa/discussions/532#discussioncomment-1712003

というようなラフな試算を書いた通り、

- 全国の直近7日間の新規感染者数　◯人
- 全国の直近7日間の新規陽性者登録数　◯件
- 全国の直近7日間の「濃厚接触の可能性」通知件数　◯件
- 行動圏（◯◯県）の直近7日間の新規感染者数　◯人
- 想定される行動圏（◯◯県）での直近7日間での通知件数　◯件

のような感じで、自分の身近なところのリスクを認識する画面に発展できれば、とは個人的に思っています。

[2021-12-17 12:24] daisuke-nogami commented on #605
こちらも画面イメージを作って貼り付けてみます。

![image](https://user-images.githubusercontent.com/71449929/146544335-29a10352-0d85-4f40-afe5-ac72c0dbe197.png)

[2021-12-17 15:27] keiji opened #616 "ベータ版用の起動時のダイアログ実装"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?
#598
ベータ版利用者に、今使っているアプリがベータ版であることを常に意識してもらいたい。

## 解決策についてお書きください / Describe the solution you'd like

ベータ版はベータ版と分かるように、アプリを起動するたびにダイアログで「ベータ版です」「不具合があるかも」「気づいたことがあったらGitHubに連絡してね」みたいな内容を簡単に表示したい（詳細画面は別途作成）

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2021-12-17 15:28] keiji opened #617 "ベータ版用の「アプリに関するお問い合わせ」画面実装"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?
#598
ベータ版の問い合わせがプロダクト版の窓口に行かないようにしたい。

## 解決策についてお書きください / Describe the solution you'd like

「アプリに関するお問い合わせ」のフローを再構成する。

メールでのお問い合わせは削除。
動作情報を送信は残すけど、メールでの問い合わせフローではなくGitHubに誘導したい。
「アプリに関するお問い合わせ」直下に、ちゃんとGitHubについても書いておく。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2021-12-17 15:44] keiji commented on #615
Covid19Radar.Functionsは、問題なくビルド・publishできた。引き続き動作確認を行う。

[2021-12-18 05:40] b-wind commented on #616
ダイアログなどで積極的に注意を促すのも良いかと思いますが、メインの画面にバージョンとβであること、ENS のバージョンなど（これは可能かどうかよく分かっていません）を表記してしまっても良いのでは無いかなと。

Twitter などで見ていると取りあえずメイン画面のスクショ貼る人が多い事からの発想です。

[2021-12-18 16:59] keiji opened #620 "`V2DiagnosisApiTest.cs` のファイルが `V2DiagnosisApiTest.cs`ディレクトリの中にある"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`V2DiagnosisApiTest.cs` のファイルが `V2DiagnosisApiTest.cs`ディレクトリの中にある。

https://github.com/cocoa-mhlw/cocoa/tree/develop/src/Covid19Radar.Api.Tests/V2DiagnosisApiTest.cs

## 解決策についてお書きください / Describe the solution you'd like

移動させる。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

動いているので対応しない。

## その他 / Add

[2021-12-19 08:03] #601 closed, assigned to keiji

[2021-12-19 11:46] keiji commented on #616
ホーム画面の下とかにすかしのような形でバージョン（e.g. 2.0.0-beta01）とENSのバージョンを表示できるとうれしそうですね。
CappuccinoならENSのバージョンは取得できます（iOSでは2としか表示できませんが。

いっそ色味自体を変えてはどうだろうとも思っていたのですが、アクセシビリティ系の検討ができなくなるのでやめた方がいいかなと思い始めています。

[2021-12-19 12:51] keiji opened #622 "`DeviceValidationService`を陽性情報登録API以外からも利用可能にする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`DeviceValidationService`の`Validation`メソッドには`IDeviceVerification`を指定している。
IDeviceVerificationの実体は`IAndroidDeviceVerification`と`IAppleDeviceVerification`だが、これらのフィールドは陽性情報登録API（DiagnosisApi）をベースで構成されているので、他のAPIから使いづらい。

 * https://github.com/cocoa-mhlw/cocoa/blob/develop/src/Covid19Radar.Api/Models/IAndroidDeviceVerification

[2021-12-19 13:03] keiji opened #623 "[Server][COCOA2] DeviceVerificationを有効にするとAndroidのV3DiagnosisApiが失敗する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOAのアプリ側でSafetyNet Attestation APIに渡すClearTextと、サーバー側のClearTextの生成ロジックに相違があるので、検証の時にNonceが一致せず、DeviceVerificationは必ず失敗する（理論上）。

アプリ側

https://github.com/cocoa-mhlw/cocoa/blob/d4c59581ba45761f99771ae2cbc3630f59cdcd84/Covid19Radar/Covid19Radar.Android/Services/DeviceCheckService.cs#L43-L50

サーバー側

https://github.com/cocoa-

[2021-12-19 13:20] keiji commented on #605
そうですね。
これを防ぐためにAndroid版では通知ドットを表示しないとか、ヘッドアップ通知を出さないとかケアしていますが、iOSの方は一筋縄ではいかず、なにせENv1のシステムからの通知がロック画面からも見えてしまっていましたからね。

通知文面については「COCOAから今週のレポートです」みたいな表示に統一するのはどうでしょうか。前述の「通知を知られたくない問題」は、COCOAが通知を出すときは接触の可能性が **あるとき** という前提です。いっそ週次レポートのような形で定期的に出るようにすれば、通知そのものを隠す必要はなくなると思います（文面のケアは引き続き必要）。

と、そんな思想で初期のENでは「接触確認やってますよ」とか「今月はなにもなかったですよ」みたいな通知を出していた記憶がありますが、やはり利用者層が厚いと「通知が出るだけでパニックになる利用者」もいるようです。最近i

[2021-12-19 13:21] #620 closed, assigned to keiji

[2021-12-19 13:48] keiji commented on #615
現時点で（上述したAndroidでのビルド以外の）特に問題なし。
今週を目処にクローズします。

[2021-12-19 14:13] #570 closed, assigned to nobody

[2021-12-20 05:48] kazuhiro4949 commented on #617
ベータ版のみメールの問い合わせを削除してGithub issueへのリンクを出すイメージですかね

[2021-12-20 17:32] b-wind commented on #605
案として同様の文面を検討していました。

同感です。デフォルト設定では「COCOAからの通知自体はあるが、文面からは（少なくとも）濃厚接触があったか無かったかは推測出来ない」状態が望ましいと考えます。

一方でこちらのような要望も理解出来ます。確実に自分しか触らない端末ならその方が都合がよいとも思います。
ただ、あまり設定を増やしたりするのもCOCOAとして好ましくない様に感じました。
上手く両方のニーズを満たせる方法があれば良いのですが。

[2021-12-20 17:47] b-wind commented on #605
本題の表示内容ですが、以下の３件は内容の分かりやすさもあって候補として有るとよいと思いました。

欲を言うとグラフ化されているとイメージとして掴みやすいかも知れません。

行動圏毎の物に関しては、提供して貰えていると言う前提であれば全国の数字と置き換えて優先してしまって良いのでは無いかと思います。

[2021-12-21 03:13] keiji opened #626 "[COCOA2]AppDelegateで取得するExposureConfigurationがnullになる"
## 不具合の内容 / Describe the bug

iOS版で、接触確認時にAppDelegateから取得するExposureConfigurationがnullになる。

## 再現手順 / Steps to reproduce

1. iOS版のCOCOA2を起動する

## 期待される挙動 / Expected behavior

ExposureConfigurationがnullにならない。

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：iOS
- バージョン：COCOA2

## その他 / Additional context

`AbsExposureNotificationApiService`が複数作られている可能性を調査したけど、どうやらSingletonは守られている様子。
どこかでE

[2021-12-21 06:00] daisuke-nogami commented on #605
ありがとうございます。

新規感染者数については既にダッシュボード https://covid19.mhlw.go.jp/extensions/public/index.html がありますが、
アプリから利用するには生データなのがネックなのと、
新規陽性者登録数・「濃厚接触の可能性」数はダッシュボードがないのも含めて
サーバ側の追加開発が必要なのがいまのところのネックです。

ただ、そのあたりが揃ってくればダッシュボードでグラフ形式表示なども提供していくのは
そこまで難しくないかとは思いました。

[2021-12-21 06:17] parasite2006 opened #627 "アプリ内で表示される陽性登録方法の説明が不統一"
## 不具合の内容 / Describe the bug

2021年12月から陽性登録方法の変更（陽性判明者情報のHER-SYS登録完了時の陽性登録用処理番号の自動発行SMS通知とアプリ本体のディープリンク対応によるユーザー側登録操作の簡略化）
https://www.mhlw.go.jp/stf/seisakunitsuite/newpage_00060.html
がすでに実行に移されているにもかかわらず、アプリ内で表示される陽性登録方法の説明が新しい方法にあわせて統一されていない。

## 再現手順 / Steps to reproduce

1) ホーム画面→画面右上の「使い方」→「新型コロナウイルスに感染していると判定されたら」と操作し説明画像を表示させる。ここの説明画像（図1）と説明文は処理番号自動発行と矛盾しない。
2) ホーム画面→「陽性情報の登録」→「同意して陽性登録する

[2021-12-21 07:41] keiji commented on #627
これなんですが、保健所にお願いする経路もまだ残ってるんですよね（My HER-SYSの健康観察の経路もあった気がしますが、確認しておきますね）。
とはいえ、COCOAとしてはAppLinksが主流になる（していきたい）というのは事実なので、どこかのタイミングで手を入れたいですね。

ちなみに、アプリ開発者の立場からすると、ユーザーは本当に驚くほど画面を読まないので、最低限、事実に合わせて書く必要はありつつも、記述を増やすことについては強く推していない状況です。今回ご指摘の件についてはもう少し統一して案内できるように、ケース別に案内する画面を作ってそちらを使うのが良いかもしれませんね。

ちなみに、送り元の電話番号については、利用しているSMS送信サービスや時期で変わる可能性があるという認識です。ここはアンコントローラブルな要素があるので、記載しない方がいいと思います。

[2021-12-21 08:04] #559 closed, assigned to keiji

[2021-12-21 08:06] b-wind commented on #627
アプリ内かどうかは別として、分かりやすい所にSMSが送られてくることと文面の事例は載せて周知しておかないとフィッシング詐欺と区別が付けづらそうではありますね。
実際にフィッシング詐欺に利用されるかどうかで言うと、現状は確率は低そうではありますが……

[2021-12-21 23:57] #580 closed, assigned to keiji

[2021-12-21 23:58] #579 closed, assigned to keiji

[2021-12-22 07:40] keiji opened #632 "[Android] マルチユーザー（プライマリーユーザーでない）環境でクラッシュする"
## 不具合の内容 / Describe the bug

マルチユーザー（複数ユーザー）環境で、プライマリーユーザーでない場合（2人目以降のユーザーの場合）、接触確認が有効にすることができず、初期設定時にクラッシュする。

## 再現手順 / Steps to reproduce

1. マルチユーザー環境（プライマリーユーザーでない状態で）でCOCOAを起動する
2. 接触通知機能を有効にする
3. クラッシュする

## 期待される挙動 / Expected behavior

プライマリーユーザーでなくても接触確認APIが利用できる。利用開始できる。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：Android（例：Android、iOS）
- バージョ

[2021-12-22 09:54] b-wind commented on #632
Exposure Notifications System の仕組みから考えると同一端末を複数ユーザーで使い回すことは想定に無さそうに思えます。

仮に動作するとしても、複数アカウントが同一人物なのか複数人利用なのかでCOCOAとしてどう捉えるかの検討が必要そう。

適切なアナウンスが出せるなら出した方が良いと思います。

[2021-12-23 01:32] keiji commented on #632
ApiExceptionの17が出てました。
これならcatchできそうです。

https://developers.google.com/android/reference/com/google/android/gms/common/api/CommonStatusCodes#public-static-final-int-api_not_connected

[code]

[code]

[2021-12-23 02:28] #589 closed, assigned to keiji

[2021-12-23 02:29] keiji commented on #583
COCOA2に入れました。

[2021-12-23 02:29] #583 closed, assigned to Murayu0225

[2021-12-23 07:24] #622 closed, assigned to keiji

[2021-12-23 15:29] kazuhiro4949 commented on #605
@daisuke-nogami とりあえず各々のExposureWindowでSecondsSinceLastScanを集計して、更に全ExposureWindowの集計値を足し合わせる形で「合計◯分間」を計算しました。個別には扱ってないのですがそれで大丈夫ですかね？（少しだけ注意を促す画面）

https://github.com/cocoa-mhlw/cocoa/pull/629/files#diff-1bb98eeda90b892d6c10bd879a590b66f7f14aefecfee4031881d24ef86f80cbR38-R55

[2021-12-23 15:34] kazuhiro4949 commented on #605
画面イメージをそのまま素直にXamarin.Formに当てはめるとこんな感じに
<img src="https://user-images.githubusercontent.com/18320004/147261538-db0ca13d-24e5-4665-b8df-6c5bf5861483.jpeg" width=300>

[2021-12-23 15:56] daisuke-nogami commented on #605
ありがとうございます！

はい。仕様上も1個1個のScanInstanceの合計時間がExposureWindowになっていますし、手元で実際に出力させたExposureWindowも整合が取れる数値になっています。

ただ、表示する単位は工夫したいですね…
複数台×12時間以上だと24時間を越えてしまうなど、「◯分間」では違和感がでる表記がでてしまうので。
厳密に言えば「◯分・台」ではあるのですが、あまり分かりやすいとは思えないです。

そして、通知画面をみて気づきましたが、タイトルは「陽性者との、リスクが極めて低い接触」じゃないと
日本語の意味が変になりますね…ここも含めて、Githubに加えて開発・行政サイドの意見を聞いて
詰めて行く必要がありますね。

[2021-12-24 01:04] keiji opened #636 "[Server] アクセスブロック時に返すステータスコードを`418 I'm a teapot`からの変更を検討する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

サーバーのIValidationServerServiceで、Azure Front Door経由でない場合にブロックする際にHTTPStatus Code 418を返している。

https://github.com/cocoa-mhlw/cocoa/blob/b7d4a5fd0e767c24d63fd714ff35c9b641444379/src/Covid19Radar.Api.Common/Services/IValidationServerService.cs#L23-L27

`I'm a teapot`はジョークとしてRFC2324 Hyper Text Coffee Pot Control Protocol (HTCPCP/

[2021-12-25 07:15] keiji opened #639 "陽性情報登録時に送信するTEKの範囲を変更する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ExposureNotificaiton APIのバージョンアップに伴い、`daysSinceOnsetOfSymptoms`が導入されており、この値に応じた感染性を設定することになる。

## 解決策についてお書きください / Describe the solution you'd like

送信するテックを発症日（または検査日）から約2日前、から、その時点で取得できるすべてのTEKに変更する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

これまで通り、送信するテックを発症日（または検査日）から約2日前に限定して感染性を有するものとして取り扱う

[2021-12-25 07:58] keiji commented on #639
`daysSinceOnsetOfSymptoms`が-14未満、または14を超える値の診断キーが含まれる診断キーファイル（zip）があったとき、Android版のEN APIは診断キーファイルの接触確認を行わない（外形的にはなにもせず、結果も返さない）挙動が確認されている。

-15以下、15以上の`daysSinceOnsetOfSymptoms`が設定されていた場合、フィルタリングして診断キーを生成しない変更が必要。

[2021-12-25 08:37] keiji commented on #216
Android, iOS版で、すべての言語でアプリ名を「COCOA」で統一することになりました。

[2021-12-25 08:37] #216 closed

[2021-12-25 08:40] keiji commented on #243
先頃のコード反映で新ロゴへの置き換えを行ったので、ご報告します。
Issueの提出ありがとうございました。

![Screen Shot 2021-12-25 at 17 36 51](https://user-images.githubusercontent.com/932136/147381094-e9a6eb41-e6fe-4d19-937f-ea4dd8ce9806.png)

[2021-12-25 08:40] #243 closed

[2021-12-25 09:21] keiji opened #642 "[App] 接触状況送信を試験的に実装する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#597 に関連。

## 解決策についてお書きください / Describe the solution you'd like

COCOAから接触状況収集API（イベントログAPI）に接触状況を送信する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

現状で送信機能を有効化するのはデバッグ版のみ。リリース版については十分な検討が必要。

[2021-12-25 11:49] #327 closed

[2021-12-26 09:02] kazuhiro4949 commented on #605
@daisuke-nogami 以下の変更を加えてみましたがこんな感じでどうでしょう？
- デザインを「過去14日間の接触」に似せる
- ナビゲーションタイトルを「リスクが極めて低い接触」に変更 (幅狭端末でも表示できるように)
- 本文タイトルと「陽性者とリスクが極めて低い接触がありました」に変更(14日間というワードが繰り返し出てきていたので削る)

<img src="https://user-images.githubusercontent.com/18320004/147403550-9746a3e2-c4a6-4c5b-b671-baf87a09c718.jpeg" width=300>

表示方法ですが、〇〇時間〇〇分と表示させるようにしてみたんですがこれだとどうでしょう？時間と分はそれぞれ存在する時だけ表示される感じにしました。
テストコード内に表示パターンを書いてみました

[2021-12-27 01:21] kazuhiro4949 commented on #605
@daisuke-nogami 細かいですが、合計接触時間が数秒の時の扱いは0分表示で大丈夫ですかね。(そういうケースは正常系としてはなさそうでしたっけ？)

[2021-12-27 01:25] daisuke-nogami commented on #605
はい、流石に数十秒で感染という事例はないので…
なお、現時点ではScanInstanceは60秒単位で出ているので、0分表示というのは現時点の正常系では存在しなさそうです。

[2021-12-27 02:18] keiji commented on #150
WorkManagerに移行します

[2021-12-27 13:34] daisuke-nogami commented on #605
接触通知がでている（閾値を超える）接触があったときの仕様を定義していなかったことに気づきました…
すいません。

当該14日間に接触通知がでる（閾値を超える）接触があったときには
- 画面表示を変える
  - 「！」マークと黄色は閾値越えがあるときに使う
  - 閾値以下のみのときは別の配色・マークをつかう
    - ※アクセシビリティ対応などをしている担当者の方の意見を聞きたい
  - 閾値以下もない場合は緑色系・マーク無し
- 閾値以上の接触があるときは「陽性者との接触の表示」画面に遷移するボタンを設ける
- 表示する時間は閾値以下のもののみに限る

そして、これらを踏まえると、COCOA2の接触通知の閾値を変える設定を作る必要がありました。
こちらは別Issueで立てます。

[2021-12-27 13:46] daisuke-nogami opened #646 "接触通知を発生させるリスクスコアの閾値を変更しやすくする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Exposure Notification v2では、接触通知を出すかどうかはアプリケーション側に処理が委ねられており、
基本的にはENが返すリスクスコアが一定の閾値を超えたときに接触通知を出す。

現在のCOCOA2では、ENの設定はサーバ側から配信しているが、閾値の設定だけはコードに埋め込まれている（はず）ため、アプリ再配信をせずに閾値を変更するには、設定値をサーバ側で設定できるようにする必要がある。

参考 :
https://github.com/cocoa-mhlw/cocoa/issues/605#issuecomment-1001573220_

## 解決策についてお書きください / Describe the solutio

[2021-12-28 02:30] #615 closed, assigned to keiji

[2021-12-28 02:38] keiji commented on #554
AppConstantsに定数として定義して、アプリ内からは常に1つのインスタンスを使う（テストは別）ようにしました。

[2021-12-28 02:47] keiji commented on #646
configuration.jsonに入れようかとも思ったのですが、性質的には分けた方が良い気がするので、threashold.jsonのようなものを作りましょうか（実際にJSON形式を採用するかは要検討）。

こういうファイルを作るときに一番頭が痛いのは対応するオペレーションと数値の書式ですね。
今回は「以上、以下、等しい」くらいがあればいいかなと思いますが、なんにせよ設定ファイルの書式にバージョンの概念を持たせておくのが良さそうです。

[2021-12-29 01:32] kazuhiro4949 commented on #605
@daisuke-nogami 既存の接触なし画面では以下の２つのコンポーネントが存在しています。

- ピクトグラム画像
- 共有ボタン

これらは引き続き低リスクと接触なし両方にあってもいいかなと思いましたがいかがでしょうか。

<img width="462" alt="スクリーンショット 2021-12-29 10 29 55" src="https://user-images.githubusercontent.com/18320004/147618988-cee9c5ed-add0-4fd2-a9fd-6cf681ff8f2a.png">

[2021-12-29 01:38] kazuhiro4949 commented on #605
一般的には単なる情報のみであれば青もしくは灰色や白を使うのがwebでよくある配色のように思います。
cocoaの場合、青はすでにボタンの色として使われているため、既存の接触なし画面と合わせて台座なし白背景でがいいように思います。

[2021-12-29 02:15] kazuhiro4949 commented on #605
@daisuke-nogami  既存の接触なし画面に合わせる形で、レイアウト微調整しつつ文言を変更して新接触なし画面を作ってみました。
こんな感じでどうでしょう。(低リスク画面にも同じ画像をつけた方が良さそう？)

<img width="462" alt="スクリーンショット 2021-12-29 11 12 31" src="https://user-images.githubusercontent.com/18320004/147620913-c7c446a7-eaea-4fa1-a9fa-a35f37743e2a.png">

[2021-12-30 10:44] kazuhiro4949 commented on #605
@daisuke-nogami ホームにある既存の「陽性者との接触結果を確認」から遷移するイメージで進めていますが大丈夫でしょうか？
その中で新しく「閾値以下接触の画面」をだしわけつつ、「接触なし画面」の差し替えをおこなっています。

その上で、現状ではリスク計算ロジック自体は接触さえあれば既存の接触通知画面に遷移するようになっています。

[2021-12-31 12:00] daisuke-nogami commented on #605
@kazuhiro4949
位置づけとして、リスクを示すのではなくCOCOAの動作状況を示すものとしていたので、
遷移方法も画面も別のものになるのを想定していました。

遷移ルート
- ハンバーガーメニューに別の項目を立ててそこから遷移
- ホーム画面では動作状況を示すボタンからの遷移
- 陽性者との接触結果確認画面からも遷移

厚生労働省側との議論の中でも、リスクの大きさを適切に認識して貰う（どちらかといえば過剰に反応して、検査・相談依頼が必要以上に増えることへの懸念）があり、少し違う画面であることはうまく伝えたいなと考えています。

[2021-12-31 12:13] daisuke-nogami commented on #605
上記のコメント内で「厚生労働省側との議論」という記載をしましたが、

という問題提起を受けて、違う表現が出来ないかを考えており、整理しきれていないのですが、どのような形式が望ましそうかのご意見をいただけますと幸いです。

*閾値以下の接触についてどのように表現するか*

表示内容
- 有無のみ
- 合計分数のみ
- 合計分数と、最も強い（近接した）ときの電波強度
- 合計分数と、最も強い（近接した）ときの距離（電波強度より理論値を計算）

分解能
- 14日間合計して表示
- 1日ごとに分解して表示

※電波強度まで示すと、陽性者との接触結果確認画面よりも情報量が多いことになるので両方変える必要がでてくる

[2021-12-31 16:51] daisuke-nogami commented on #646
ありがとうございます。別の理由（後述）から、（閾値の種類は増やす必要はないですが）リスクスコアの範囲によって、通知で表示するメッセージを一部変更する必要が生じうるため、その点からも別ファイルに分けた方がよさそうです。

- リスクスコアの閾値
- プッシュ通知を出す要否
- 検査を促す理由を示す文字列

の組み合わせを複数設定し、閾値が大きいものから順に判定するようなイメージです。

後述：「濃厚接触者にあたる可能性」以外の理由で、行政検査を受けることをお願いするメッセージを出しうるため
詳細… https://github.com/cocoa-mhlw/cocoa/discussions/532#discussioncomment-1891923

[2022-01-01 15:28] kazuhiro4949 commented on #605
@daisuke-nogami なるほど、ちょっと勘違いしていたかもです。
そうするとここでリスクを列挙して既存のやつも含めそれによって出し分けるようにしようと思っていたのですが、
そういうものとしては扱わない方がいいのですね。(判定ロジックも分ける前提の話になりますよね)
https://github.com/cocoa-mhlw/cocoa/pull/647/files#diff-ba5850c284ad981770e306fc7fa895bcde1d57d187cf920a094a3607cdd8eeb4R14-R20

既存の画面出しわけはとは切り離して作ってみます

[2022-01-03 01:08] kvaluation commented on #605
ご検討をありがとうございます。感謝です。

1日ごとに分解する表示には、下記の利点があります。すべての利点は、必要のない問合せを発生させない方向に役立ちます。

1. ［行動変容］通知を受けた人が、接触のリスクを評価しやすくなる。接触日が、電車移動のみか、会食やイベント参加日かなど、行動の振り返りをしやすい。
2. ［経過日数と感染リスク］ 科学的に、例えば接触日から４日後に発症のピーク、発症日から１０日後に退院可能、など経過日数とリスクに関する知見がある場合、接触日が１３日前ですと仮に発症入院していても明日には退院可能なため、通常の行動をしやすいです。一方、接触日から４日間が経過しておらず無症状の場合、数日間、より体調に気をつけてくださる方もあるかと思います。
3. ［接触の同一性］毎日、低リスク判定をするとします。当初１日前の低リスク接触は、１４日経過まで同一の低リスク表示が消えないよ

[2022-01-03 01:16] kvaluation commented on #605
**「陽性者との、リスクが極めて低い接触がありませんでした」**

COCOAを使っていない陽性者、陽性登録をしない陽性者と接触している可能性に、ご配慮いただけたらと思います。

登録陽性者との、感染リスクが極めて低いすれ違いも、発見しませんでした。

というような意味になるでしょうか。

[2022-01-03 01:18] daisuke-nogami commented on #605
ありがとうございます。
先に技術的限界の話をしますと

Exposure NotificationがUTC基準でしか日付を判断できませんので、ローカルタイム変更は難しいですね…

こちら、2mより1.5mの方が距離測定が安定する、という資料はなにかお持ちでしょうか。
現在距離検知のロジックを踏まえたパラメータの詰めをしているのですが、
「2mを境にした2m以内/2m越え、は判定しやすくて、むしろ1.5mや1.0mは判定しにくい」
という感触で、それを踏まえた判断を促すよう状況を整理中でして…

あと、区分については、接触通知を出す判断基準が「1m以内・15分以上」に限定されている前提での
表示でしょうか、それとも、例えば「1m以内・15分以上 あるいは 2m以内・30分以上」のように通知をだす
基準が拡張されても1m以内を示すイメージでしょうか。

とはいうものの、1m未満を切り出して示す

[2022-01-03 01:27] kvaluation commented on #605
動作状況を示す低リスク表示の周辺のリンク表示から、低リスクの接触が表示された方にして欲しいことを示す厚生労働省のWebページへのリンクを貼っておき、検査・相談依頼が必要以上に増えないように、感染状況に応じた案内をWebページの方で更新していけると良いかと思いました。

Webページ側で、都道府県などを選んでもらい、都道府県毎の案内に誘導することもできるかと思います。

まず、低リスク表示がでて、本来の接触が検出されなければ、COCOAは正常動作しており、かつ、通常の生活を続けていただいて問題無いことと、原則、公費検査の対象ではないことをお伝えしつつ、都道府県ごとのメッセージページに遷移するなどが考えられます。

[2022-01-03 03:50] keiji opened #648 "targetSdkを31にすると、通知の表示で`IllegalArgumentException`が発生する（Android 12対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

[code]

`targetSdk`を31以上にするとき、通知に渡すPendingIntentのflagsには`FLAG_IMMUTABLE`が含まれるか、またはFLAG_MUTABLEのみを設定するかしている必要がある。

## 解決策についてお書きください / Describe the solution you'd like

`FLAG_IMMUTABLE`を追加する。`FLAG_MUTABLE`はBubblesを使うときにしか必要がないと考える。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

targetSdkを現在の30のままにしておけば

[2022-01-04 02:03] daisuke-nogami commented on #605
ありがとうございます。

こちら、この機能に限らない話ですが、COCOAが出す情報を踏まえた行動の案内は大きな課題になっています。

- Webページを整えても、結局は保健所に電話はかかりがちで、保健所の問い合わせが増えることも懸念されがち
- 案内のWebページをCOCOA単体で整備できず、厚生労働省側に頼る必要があるが、そこの整備がなかなか進めにくい・行政としての表現が求められて分かりにくい表現になりがちなのはボトルネック
- 公費検査：公費検査の枠組みはあれど、受け止める医療機関側の理解も高めないといけない、

ということで、もう少し「低リスク表示」自体も工夫して、そこで望ましい行動をしたいと思って頂けるような工夫ができないか、と考えております。

[2022-01-04 04:17] kazuhiro4949 commented on #605
@daisuke-nogami 導線はこんな感じで2つ作ってみましたがどうでしょう。リンクタイトルはiOSの設定アプリの接触確認の表現に寄せています
動作状況のモジュールはテキストが３つ並んでしまって読み難いようにも思うので変えた方がいいかもしれないですが。

- ホームの動作中の下にテキストリンク配置
- メニューのホームの下に項目追加
<img width="200" alt="スクリーンショット 2022-01-04 13 14 07" src="https://user-images.githubusercontent.com/18320004/148008842-39dde6c8-106e-44b7-8769-c33344d9bb44.png">
<img width="200" alt="スクリーンショット 2022-01-04 13 14 10" src="https://u

[2022-01-04 05:52] #626 closed, assigned to keiji

[2022-01-04 05:53] #623 closed, assigned to keiji

[2022-01-04 05:55] #337 closed

[2022-01-04 05:56] #576 closed, assigned to kazuhiro4949

[2022-01-04 07:42] kvaluation commented on #605
@daisuke-nogami さん

資料ですが、わたしはこちらの情報を信頼して繰り返し見ています。
https://shizuk.sakura.ne.jp/bluetooth/beacon/proximity.html
「電波の減衰　距離毎に 実測で求めたRSSI値を元に作成した グラフ」
信頼できる区間、175cmぐらいまででしょうか。

長距離の不安定性はこちらでご報告しておりました。
https://github.com/cocoa-mhlw/cocoa/discussions/532#discussioncomment-1734340

また、GoogleのBLTキャリブレーションも1mというnearbyを狙ったもので、なるべく近い方が精度がでるのかなと理解しています。
・キャリブレーション
https://developers.google.com/android/expos

[2022-01-04 08:11] kvaluation commented on #605
@daisuke-nogami さん

EN1のcocoa-log、Androidでは、電波強度（の差）50(約45cm), 70(約250cm)の3区分で、その距離区分内の滞在時間がわかります。
2021/1/8から、2021/08/24 まで、Twitter経由の不特定の方39回（同一人の複数回を複数でカウント）からキーの一致がでたとして送ってもらったcocoa-logのうち、ExposureSummary.AttenuationDurations:をメモしておいた値です。

■ご報告：
1. 数として、ほぼ、250cm以上でのすれ違いでした。
2. また、45cm以内で経過時間がでると、COCOAでも接触通知がでたり、陽性登録者さんとの会食をご自身で把握していたりです。

■意見
1m以内・15分以上 あるいは 2m以内・30分以上
の場合、1mと2mをしきい値とするのが良いかと思い

[2022-01-04 09:35] kvaluation commented on #605
非常に重要な話題で、別のdiscussionsがよいでしょうか。都道府県に行動案内の選択肢を持っていただくことで、より積極的なCOCOAへの関与を期待できると思います。

[2022-01-04 11:55] keiji opened #651 "複数回、接触確認が行われたときに過去の接触データが消える"
COCOA2で発生している不具合

## 不具合の内容 / Describe the bug

複数回、接触確認が発生したときに、過去の接触データとマージされずに上書きされてしまう。

## 再現手順 / Steps to reproduce

接触確認を複数回、発生させるのはそれなりに大変なので、テストケースで再現と修正を確認した。

## 期待される挙動 / Expected behavior

接触データ（DailySummaryとExposureDataのセット）が複数回来た場合、重複分は取り除いた状態でマージされる。

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：COCOA2

## その他 / Additional context

[2022-01-04 13:38] daisuke-nogami commented on #605
ありがとうございます。動作状況はおっしゃる通りテキストが3つ並んでいるのが読みにくいのと、
この文字を見て期待する画面とは情報が違う（たぶん「◯時間稼働中！」みたいなものをイメージする）ので、
メニューの項目追加だけを実装してみましょうか @kazuhiro4949

[2022-01-04 14:00] daisuke-nogami commented on #605
ありがとうございます。
私の方では、こちらの資料のp.12のFigure 4の説明文にある数式を元に判断していました。
https://arxiv.org/pdf/2007.05057.pdf

この数式をもとに、1.0m, 1.5m, 2.0mなどの特定の距離においてdBがどのようにブレるかの幅を計算して、
「0.5mと1.0mは区別がつく」「1.0mと2.0mは区別がつくが、1.0mと1.5mは区別がつかない」などを考えていました。
計算結果を簡易化して図にすると、以下のようになります。
※図は個人で作成したもので、誤りがあった場合の責任は私にあります

![image](https://user-images.githubusercontent.com/71449929/148068023-b9909afc-b366-4a44-addc-64fe22eb98e4.png)

そして、

[2022-01-04 14:03] daisuke-nogami commented on #605
はい、別のdiscussionがよいですね。
COCOA自体の画面遷移などを変えやすくするような機能拡張が手段になってくるかとは思います。
ただ、現時点では、都道府県別でCOCOAが動作を変える/データを取得することが難しいことなどから、都道府県が案内の選択肢を切り替えることは考えにくく、その結果として「どのような機能があるべきか」というアイデアも得にくいことから、議論は難しいと思います。

それよりは（最近さまざまなサイトでみかけるような）チャットボットなどの方がより効果的でしょうけれど、だとすると尚更COCOAに限らない話になってきてしまいますが…

[2022-01-05 03:25] keiji opened #653 "動作ログ送信が機能しない"
## 不具合の内容 / Describe the bug

動作ログの送信が機能しない。

## 再現手順 / Steps to reproduce

開発チームからの指摘。

手元で作成した環境では動作ログ送信API（Inquiry）と、Register, DiagnosisApiのサーバー（エンドポイント）のサーバーが同じなので人お降り動作していたが、開発チームが運用しているサーバー（本番サーバーと構成が同じもの）では動作ログ送信API（Inquiry）と、Register, DiagnosisApiのサーバー（エンドポイント）が異なる可能性がある。

## 期待される挙動 / Expected behavior

サーバーのエンドポイントが動作ログの送信が問題なく機能する。

Storageへの書き込み権限のトークンを発行するサーバーが別でも対応できるようにする。

## スクリーン

[2022-01-05 08:04] kazuhiro4949 commented on #605
@daisuke-nogami こちらのプルリクエストでメニューからの遷移を想定した画面の実装をしました。（途中指摘いただいていた文言修正もついでにしています）
https://github.com/cocoa-mhlw/cocoa/pull/647#issuecomment-1005459234

現在の未実装部分は
- メニューからの導線
  - 画面などの実装は既にfeature/cocoa2へ入っているので、出す出さないも含め内部で仕様が決定した時点で削除している導線をつける段取りにしようと思います
- 低リスクとの接触の判定
  - 現在接触があれば必ず「低リスクとの接触画面」を出すようにしています
  - ここってどうしましょうか？読み飛ばしていただけかもしれないですが議論されてましたっけ。

[2022-01-05 13:11] daisuke-nogami commented on #605
はい、pull-requestが生えて対応いただいているのは見ておりました。

はい、接触があれば、その内容を問わず表示します。
というのも、そもそもの目的が

であるため、少しでもスコアがあったらそのことが見えるようにする必要があるためです。

[2022-01-05 13:34] daisuke-nogami commented on #605
そして、接触について合計分数を示している部分についても行政側とも議論をしましたが、

- 分数や距離に相当する情報を示すと、どうしても、なんらかの感染リスクを伝える画面となって、検査対象でないことなども含めて示しにくい
- 目的のうち「ENが正しく動作している」の方を優先して伝えるなら、単純にスコアを示して、それが閾値を下回っていると説明するのがよいのではないか、

という観点で、添付の図のようなイメージに実装できないかと議論しております。

![image](https://user-images.githubusercontent.com/71449929/148225053-08e7b467-fd1d-4594-998c-0cd02611cffc.png)

※2段組になっているのはあくまでスライド上の都合で、現在の「陽性者との接触結果確認」画面と同じような1段組の実装でも問題ありま

[2022-01-05 16:00] kvaluation commented on #605
接触日ごとのスコア、見やすくて良いと思います。調整ありがとうございます。

おなじ接触日に別の２名の陽性登録者Aさん、Bさんと接触して、それぞれの診断キーAさんTEKa、BさんTEKbが異なる日に配信されて、それぞれはスコアが20に満たないけれど、単純に加算すると20を超えてしまう場合、COCOAの接触にならないのに、○日前のスコアが20を超える可能性があるかなと思いました（配信日が同じでも）。

1日前　TEKaで15点

1日経過して、

2日前　TEKaの15点と、TEKbの10点が重なって25点が表示されると、何が起きたのか分かりにくくなると思いました。

ただ、TEKaの15点は、15日前になって（接触日から15日経過して）やっと消える方が、配信日当日のみ表示するより、動作確認としても良さそうに感じます。TEKaの15点と、TEKbの10点を加算せず別に表示すると、新しい接触なの

[2022-01-05 16:34] kazuhiro4949 commented on #605
@daisuke-nogami 了解です。UX的にも技術的にも２段組みではなくリストにした方が良いので、リストでスコアを表示するUIを検討して実装してみます。
既存の文言に関しても現状の形より感染リスクに関する画面でないことが伝わるようにした方がいいように思いましたが、とりあえずまずリストを埋め込む形で実装します

[2022-01-06 05:05] #300 closed

[2022-01-06 05:05] #160 closed

[2022-01-06 05:05] #167 closed

[2022-01-06 05:05] #369 closed

[2022-01-06 09:13] keiji opened #656 "ログの出力内容を整備する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Cappuccinoへの移行に伴い、陽性情報登録、接触確認の２つの経路でログの出力が不足しており、不具合発生時のトラッキングが難しいことがある。

## 解決策についてお書きください / Describe the solution you'd like

ログ出力を整備する。

COCOAのメインである次の機能について、各ポイント毎のログ、エラー発生時のログを記録する。

 * 陽性情報登録
 * 接触確認

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

#379 `feature/featur

[2022-01-06 17:41] #653 closed, assigned to keiji

[2022-01-06 17:41] #651 closed, assigned to keiji

[2022-01-07 05:57] keiji opened #657 "デバッグ用のログ送信で新旧すべてのDailySummary, ExposureWindowが送信されてしまう"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Legacy-V1では、ENから取得するExposureInformationは「接触通知が発生する原因になったもの」だったので、追記するだけで問題なかったが、ExposureWindow modeで得られるDailySummaryとExposureWindowは「これまで発生したすべて」となり、仮に2回接触が発生した場合、getExposureWindow()で戻るデータの中には1回目のものも含まれる。

デバッグ用のログ送信ではENから取得した情報すべてを送ってしまっているので、複数回の接触が来たときに正しいデータが送られない可能性がある。

## 解決策についてお書きください / Describe the solution you'd

[2022-01-07 07:36] keiji opened #658 "イベントログ・デバッグ用の接触データ送信に失敗したときにリトライされない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

テストチームより「デバッグ用の接触データがアップロードできていないことがある」と報告があり、動作ログを調べたところ `IOException` が起きていた。

現状のコードはリトライしないので一度接続できないと接触データはアップロードされない。別途開発中のイベントログ送信に関しても仕組みは同じなので、同様の問題が発生する可能性がある。

## 解決策についてお書きください / Describe the solution you'd like

アップロードをリトライするようにする。
むしろ、アップロード処理自体を独立したバックグラウンド処理にして送信が完了するまでリトライする仕組みにするのが確実。

## あなたが考える代替案についてご説

[2022-01-07 15:17] daisuke-nogami commented on #605
文言は最後に差し替えていきますのでUIの方はよろしくお願いいたします。

Exposure Notificationの実装 & あるべき接触確認の両面で、この挙動という理解でよいのか確認が必要ですね…
少なくとも同じ配信日であれば、AさんBさんとの接触スコア合計が閾値を超えたら通知が出るはずですし、
感染リスクとしては人は違っても時間が長ければある、と見なすべきですので…

[2022-01-08 04:35] keiji opened #660 "CappuccinoのIsTest廃止を反映する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

詳細は次のIssueを参照のこと。

https://github.com/keiji/chino/issues/148

## 解決策についてお書きください / Describe the solution you'd like

Cappuccinoのnugetパッケージを、Debugビルドの時とReleaseビルドの時で切り替える。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Releaseパッケージに固定するのが良いかもしれないけど、iOSのテストでTest(Debug)メソッドを使う必要があることを開発チームから共有されている。

## そ

[2022-01-08 05:02] keiji opened #661 "[Android] PreExposureDetectedのあとにExposureDetectedが呼ばれないことがある"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

テストチームから「PreExposureDetectedが呼ばれたにも関わらず、続くExposureDetectedが呼ばれない」という現象の報告があった。
いまのところ発生件数はAndroidで1件。

ログを仕込んで再発を捉えようとしているが、原因になり得る要素については、今のうちに手当てしておきたい。

Cappuccinoでは、接触確認を開始する際に`ExposureNotificationClient` の`ProvideDiagnosisKeys`メソッドの引数にExposureConfigurationを指定する。

Androidの場合、接触確認を行うタイミング（UIまたはWorkManager）と結果を受け取るタイミング（

[2022-01-08 06:43] keiji opened #662 "ExposureConfigurationの有効期限や取得できなかったときの挙動を改めて考える"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2ではExposureConfigurationはExposureConfigurationRepositoryを通じて取得する。

https://github.com/cocoa-mhlw/cocoa/blob/develop/Covid19Radar/Covid19Radar/Repository/ExposureConfigurationRepository.cs

挙動の概要は次の通り。

* ローカル（`FileSystem.AppDataDirectory`/`exposure_configuration`ディレクトリ内）に設定ファイル（キャッシュ）があり、ダウンロードから「2日」経過していない場合はキャッシュファイ

[2022-01-08 07:46] keiji opened #663 "接触ログ（イベントログ）送信に関する設定画面を作成する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現時点でプロダクトに含むかどうかは不明ながらも、接触ログ（イベントログ）送信機能を追加している。

現時点でプロダクトに含むかどうかは不明ながらも（大事なことなので2回言う）、仮に組み込むことになれば、利用者へのお知らせや、送信の有効無効を切り替える操作ができる画面が必要

## 解決策についてお書きください / Describe the solution you'd like

次の画面を追加。テキストはすべて仮のもの。
プライバシーを侵害されるという不安を与えないように留意が必要。

 * 新規利用者はチュートリアルの中で「情報提供に関するご協力のお願い」画面を表示する
 * 既存利用者は、アップデート後の初回起動時に「情報提供に関する

[2022-01-08 07:56] keiji commented on #656
#379 は「陽性情報登録」「接触確認」以外の変更もあって性質が異なるので、別ブランチで作業することにします。

[2022-01-08 09:29] kazuhiro4949 commented on #605
@daisuke-nogami プルリクの方に現状で僕の方で実装した仕様をまとめておきました。多分不都合ありそうだと思うのでお手隙にご確認お願いしますmm

[2022-01-08 16:01] keiji commented on #663
画像は使い回しです。

起動時に立ち上がる画面
![Screen Shot 2022-01-09 at 0 54 28](https://user-images.githubusercontent.com/932136/148650955-a1c3266a-a59b-42fa-ab47-3163fdf9599e.png)

『協力する』を選ぶと、
![Screen Shot 2022-01-09 at 0 54 16](https://user-images.githubusercontent.com/932136/148650969-e9345d81-6f72-4c4f-a132-0e4ec7c00d38.png)

『後で設定』を選ぶと、
![Screen Shot 2022-01-09 at 0 54 31](https://user-images.githubusercontent

[2022-01-08 16:06] keiji commented on #229
c496a3b2073bc0604dbd0232f21b183cc1dd4f75 が developに取り込まれたのでcloseします。

[2022-01-08 16:06] #229 closed

[2022-01-08 16:06] keiji commented on #223
c496a3b2073bc0604dbd0232f21b183cc1dd4f75 が develop に取り込まれたのでcloseします。

[2022-01-08 16:06] #223 closed

[2022-01-08 16:12] keiji commented on #241
時が過ぎ、現在のdevelopからはXamarin.ExposureNotificationがdevelopは含まれていませんので本IssueをCloseします。

[2022-01-08 16:12] #241 closed

[2022-01-08 16:14] keiji commented on #288
#320 で対応されたという認識です。本Issueはクローズしますが、もし漏れ等があればreopenをお願いします！

[2022-01-08 16:14] #288 closed

[2022-01-08 16:19] keiji commented on #519
本件、 5d3a2e03d65bc476be90e2ad2ab691f88f9161a7 で対応済みと言う認識です。本Issueをcloseします。

アニメーションの実行を一度だけに限定したという処置になっているのは、課題が解決できなかったというわけでは決してなく、アクセシビリティの基準の中に「5秒を超えるアニメーションは非推奨」と言うものがあり、その点に準拠するための改修と言う位置づけとなります。

何かあればreopenをお願いします。

[2022-01-08 16:19] #519 closed

[2022-01-08 16:20] keiji commented on #484
TempNugetFeedの中にDebugとReleaseの2つのnuget packagesを持たせて、CIで切り替えられるようにする方式を模索中です。

[2022-01-08 16:22] keiji commented on #577
9d8a57f42cc342a5a7c8d056dc9c3f0f91f576fd このコミットで消えたのでcloseします。

[2022-01-08 16:22] #577 closed, assigned to keiji

[2022-01-08 16:26] keiji commented on #197
現在のバージョンでは「陽性者との接触結果を確認」となっています。
ボタンを押して接触確認にはなっていませんが、バックグラウンドでの接触確認も安定して動作しており、任意実行の需要は高くないものと考えています。

本Issueは数日後を目処にcloseする予定です。何かご意見等あればコメントをいただければ幸いです。

[2022-01-08 18:58] #642 closed, assigned to keiji

[2022-01-09 09:58] keiji opened #667 "COCOA 1.x系からCOCOA2へのマイグレーション（接触情報）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA 1.x系で接触情報（UserExposureInfo）はSecureStorageに保存しているが #374 に記載したとおり、接触情報そのものを暗号化して管理する意義は大きくないと考えている。

接触情報には利用者の個人情報や接触した陽性者を特定可能な情報は含まれていない。
接触情報は動作ログにも出力しており、暗号化して保護する意義に乏しい。
（動作ログも接触情報も、利用者自身が望めば確認が容易であることが望ましいと個人的には考える）

## 解決策についてお書きください / Describe the solution you'd like

COCOA2のマイグレーション処理に、SecureStorageから通常のアプリ専用

[2022-01-09 10:42] keiji commented on #667
うーん。ひとまず代替案で実装します。

[2022-01-09 15:36] daisuke-nogami commented on #646
リスクスコアとはなにか、が書いていなかったのを調べ直したのでpull-request本文の更新とともに
詳細をメモ。

- リスクスコア = scoreSum
  - infectioness, reportTypeも加味したスコアで判断する必要がある
  - weightedDurationSumはinfectioness, reportTypeによる重み付けを無視する（※要：挙動検証）
- ただし、将来的な「閾値を設定しうる対象」にはweightedDurationSumも含まれる
  - reportTypeによって挙動を変える可能性があるため

*Android*

https://developers.google.com/android/exposure-notifications/exposure-notifications-api#data-structures

*iOS

[2022-01-09 15:47] daisuke-nogami commented on #605
実装いただいた仕様について確認をしました。
https://github.com/cocoa-mhlw/cocoa/pull/647#issuecomment-1008319251

一点、こちらのpull-requestでのご相談ですが、「リスクスコアは数字として大きすぎない方がよいか」というものです。

ENv2のスコア（ScoreSum）の通常取り得る最大値は 21.6万 （60秒×60分×24時間×weight 250%、2名以上同時に接触すればこれを上回る）と、かなり大きな数字になり、結果として閾値は1000を越えた数字になります。
とはいえ、一般的な感覚では、スコアに数百という数字がでると「大きい値」のような印象を与えるのではないかと思いました。
そうすると、たとえば数百というスコアがでて、これが閾値より低かったとしても、なにか心配を与えるのではないか、という感覚があり、閾値・

[2022-01-09 17:51] keiji commented on #605
ぼくは無加工派です。本当にENからその値がでたなら、そのまま利用者に知らせる方が良いと思います。

ぼくはアプリを作る上で、必要のない計算はすべきではない。という立場です。
例えば21万という値がでたとして、100分の1しても相当大きな値です。
利用者に過度な不安を与えないためという目的を達成するために、元の値が大きくなればなるほど除する数も大きくしていく。みたいな話になりそうですが、値を階段グラフのようにして取るのか、対数のように取るのか、議論になりそうです。

そして、その議論をしても特に得るものがありません。
仮に今検討している利用者から接触データの収集のご協力をお願いできるとなれば、そのときにExposureWindowやScanInstanceから独自スコアを算出することもできます。
そのとき大いに議論すればよいと考えます。

[2022-01-10 01:58] daisuke-nogami commented on #605
ひとつ誤解を与えてしまったので補足しますと、小さく見せたいのは閾値です。閾値超えたらいくらでも大きくて構いません（だって不安を持つのが正しいですから）。なので対数軸とかそういう意見には発展しません（させません）。

[2022-01-10 02:08] daisuke-nogami commented on #605
あと、質問を受けて、縮めるのがなぜ二桁なのかに気づいたのですが、リスクスコアは有効数字が2-3桁だということです。
電波の強度は有効数字は2桁、
時間（分単位）は閾値を超えないときには1桁-2桁、
そうすると閾値の有効数字も2桁、
ここまでは意味がある数字・ここから下は意味がないけど生の数字は見せてる数字、
というのを暗黙で考えてました。

（丸一日の接触なら時間の有効数字は3-4桁になりますので、最大が4桁でも整合します）

[2022-01-10 03:40] keiji commented on #605
ぼくは表示の時に閾値を小さく見せる必要性はないと考えています。

EN自体の計算式は公開されており、ExposureConfigurationもパブリックな場所に置くので、取りうる値域も、わかるひとには分かります。

https://developer.apple.com/documentation/exposurenotification/enexposureconfiguration

表示のときだけ数値を加工するということは、何か意図があるということです。その意図が違ったところにある（リスクを小さく見せようとしている）と議論を呼ぶことは避けたいです。

もし100分の1にするのであれば、Infectiousness weightかReportType weightの段階で最終的に100分の1になる値を設定するので良いのではないでしょうか。

ExposureConfiguration

[2022-01-10 03:55] kvaluation commented on #605
@daisuke-nogami

EN2のExposureWindowの仕様がそうなっているのを確認しました。日次ですべての接触した陽性登録者さんのスコアを加算して接触通知の判定をするのですね。失礼しました。ありがとうございます。

EN1では、複数の、例え４人の陽性登録者さんと1m以内に同時に6分間同席しても接触通知はされないが、
EN2では、1m以内6分間のスコアが4人分加算されて接触通知ありのスコアになるのかな、と考えています。
この陽性登録者さん4名は、同一日に検査・陽性登録するとは限らないので、接触日を10日として、

FさんとGさん　12日に検査結果判明、陽性登録、13日に配信:　単純計算で12分間分で、EN2でも接触通知なし
HさんとIさん　13日に検査結果判明、陽性登録、14日に配信:　FさんGさん分のExposureWindowのスコアを含めて加算して、24分間分で、接触

[2022-01-10 03:57] kvaluation commented on #605
ExposureWindowの数(30分以内の陽性登録者さんとの接触の延べ人数)を併記しておくと、スコアの大きさだけで判断される可能性を減らせるかなと思いました。

[2022-01-10 06:28] daisuke-nogami commented on #605
先にENの仕様について、実機の動作を踏まえてコメントしようと思って出来ていなかった部分について書きます。

はい、同じ認識です。

はい、このイメージに合います。
手元の、接触者役端末1台(a)・陽性者役端末2台(b,c)で接触を模擬して、bの陽性登録⇒aの通知発生⇒日付が変わる⇒cの陽性登録⇒aの通知発生、という手順を踏むと、以下の様に、それぞれの日のスコアが追いかけで変わります。

![image](https://user-images.githubusercontent.com/71449929/148725392-bc511fa6-6a89-4d81-9860-e36800279682.png)

[2022-01-10 09:39] keiji opened #670 "接触データからリスク値に応じて挙動を分岐する機構を実装する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

リスクスコアや条件に応じてリスク値を算出して通知を出したり、ホーム画面からリスクの高い接触画面へ遷移する根拠になる機構が必要という話。

関連Issue

- #646
- #605

## 解決策についてお書きください / Describe the solution you'd like

ExposureCalcurationServiceをちゃんと作る。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

ExposureDetectionSerivceに作り込む手もあるけど、サイズが大きくなるし、外部ファイルによる条件変更に対応するなら独立しておい

[2022-01-10 11:00] keiji commented on #646
すみません。このコメント今読んだのですが、
https://github.com/cocoa-mhlw/cocoa/issues/646#issuecomment-1003416788

[code]

仕様としてToo bigなので2.0より後に対応しましょう。
IssueのDescriptionにある閾値だけなら外部ファイル化はしておいてもいいかなと思いますが、現時点ではちょっとやり過ぎ感あります。閾値だけ対応してもややこしいことになることは間違いないので「最新のCOCOAはよりよい接触通知ができるよ」としてアップデートを促す手段にする方が、当面は良いと思います。

[2022-01-10 15:09] daisuke-nogami commented on #646
了解です。たしかにToo Bigですし、そこまでこまめに閾値を変更するような運用にはすぐにはならないでしょうから、v2.1以降での対応で了解です。

[2022-01-10 15:57] keiji commented on #646
ひとまず当初想定していた「閾値を変更する」「比較のオペレーターと値をJSONファイルで設定できる」「比較する対象となる変数は決め打ち」という仕様で作っていたものをPull Request #672 として出しています。

こんな感じの設定ファイルです。

[code]

[2022-01-10 16:59] keiji commented on #663
チュートリアルの「プライバシーポリシー」の後ろに設定画面が表示されるようにしました。
（プライバシーポリシーの前にしようか迷ったのですが、プライバシーポリシーを読んだ後に表示して、さらに画面内部のリンクから読めるようにしておいた方がフェアだと思い、この位置にしました）

https://user-images.githubusercontent.com/932136/148806315-1579b20e-7434-42bc-a9be-3c8a5fbce5e7.mp4

[2022-01-10 18:02] keiji commented on #617
コメント見落としてましたごめんなさい。こんな感じで進めています。
![Screen Shot 2022-01-11 at 3 01 16](https://user-images.githubusercontent.com/932136/148815785-314821c8-480a-4f4e-b175-1b93d7df8874.png)

[2022-01-10 23:41] b-wind commented on #662
ENS の仕様として７日間変更が出来ず、（iOS/Android 共に？）変更されていても捨てているなら、キャッシュ自体を７日間使うものとして扱って良い様に思います。

設定ファイルがダウンロード出来ないケース、主にネットワークが繋がっていない事が多いと思いますが
接触確認にはTEK（list.json 他）のダウンロードも必要な筈なので結局処理は出来なさそうに思いました。

あえて言うなら設定ファイルとTEKの配信環境に差があるかどうか調べてみるぐらいでしょうか。

[2022-01-11 02:40] keiji opened #673 "リスク算出をUIに繋ぎ込む"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

リスク算出を #671 #672 で実装中だが、リスクに応じたUI（ #645 #647 ）への繋ぎ込みが行われていない。

## 解決策についてお書きください / Describe the solution you'd like

リスク算出の仕組みを「リスクの高い接触有り」「リスクの極めて低い接触あり」「接触無し」それぞれのUIに繋ぎ込む。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

やる。

## その他 / Additional context

[2022-01-11 05:56] daisuke-nogami commented on #646
ENv2に更新したときに、不適切な設定値を設定してしまってアプリを更新せねばならない、という事態を
防ぐために、必要最低限に絞って実装するのがよいと考えました。

今回調整せねばならないのはScoreSumですので、

[code]

この部分だけあると、リリース後の万が一に備えられてありがたいですし、
他の事項は、接触通知を多様化するときに必要なもので、アプリの更新をしないと使えないものですので、
初期リリースでは入れなくてよいと考えます。

[2022-01-11 06:22] daisuke-nogami commented on #605
リスクスコアを除算するかどうかについて、

という懸念は確かにそのとおりで、
このアイデアも、私が勝手に余分に気を回したというところで要件・仕様として上がったものでは無いので、
そのままリスクスコアを表示する方向で内部の確認を進めます。

ただ、リスクスコアの下2桁くらいは有効数字ではなく、その変動はほとんど意味がない割に、
閾値は10の位まで数字が入って意味があるように見えてしまうので、その点は説明文などで
適切に意味を伝えつつ、多くの人がなにかミスリードな読み方をするなど問題が見えてきたら、
その問題に合わせて対応を検討しようと思います。

よろしくお願いいたします。

[2022-01-11 07:38] keiji commented on #646
他の項目はNOP（なにもしない）に設定しておけばいいので。
文字リソースとか通知の出し分けは今回は入れないということで。

[2022-01-11 09:03] keiji commented on #658
ひとまずリトライで対応。

時間があればバックグラウンドタスクにしよう。

[2022-01-11 09:05] keiji opened #675 "Visual Studio for Mac で feature/cocoa2 がビルドできない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

Cappuccinoをrc10に更新したけど、テストプロジェクトが参照しているバージョンが`rc09`のまま。

https://github.com/cocoa-mhlw/cocoa/blob/5af6efe9905e25589e57a17332bc44a58c532e16/Covid19Radar/Tests/Covid19Radar.UnitTests/Covid19Radar.UnitTests.csproj#L26-L29

## 解決策についてお書きください / Describe the solution you'd like

修正

## あなたが考える代替案についてご説明ください / Describe alternativ

[2022-01-11 09:13] keiji commented on #675
なぜCIで気づかなかったのか（msbuildはバージョンは見てない？

[2022-01-11 16:20] keiji commented on #658
これイベントログの送信機能そのものがv2.0.0のタイミングに入れない気配濃厚になったので、逆に時間をかけられます。
いきなりバックグラウンドタスクとして実装しましょう。

[2022-01-12 00:22] keiji opened #678 "接触状況確認画面のテキスト調整"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://github.com/cocoa-mhlw/cocoa/pull/647#pullrequestreview-849219859

このあたりの調整事項を担当するIssue

## 解決策についてお書きください / Describe the solution you'd like

変更（調整）する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

テキストは翻訳をお願いしたあと、再反映することになるので、開発チームにお任せする。
けれど、画面への収まりとかも見たいので、こちらでも対応するのが良いと思う。

## その他 / Addit

[2022-01-12 00:28] keiji opened #679 "`DebugDiagnosisKeyRegisterServer`の廃止"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#600 にも関連して、en-calibration-server向けの`DebugDiagnosisKeyRegisterServer`は混乱の元なので削除する。

## 解決策についてお書きください / Describe the solution you'd like

削除する。
テスト用のサーバー（en-calibration-server）は`DiagnosisKeyRegisterServer`と互換のブランチがあるので向き先（endpoint）を変えさえすれば問題はない。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 /

[2022-01-12 03:28] keiji commented on #678
これも考える
https://github.com/cocoa-mhlw/cocoa/pull/674#discussion_r782670045

[2022-01-12 04:21] kazuhiro4949 opened #681 "[COCOA2] Menuからの接触状況確認ページへの遷移"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

こちらのissueに合わせてメニューからの導線もつける

https://github.com/cocoa-mhlw/cocoa/issues/678

## 解決策についてお書きください / Describe the solution you'd like

メニュー項目としてExposureCheckPageへの遷移を追加する

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

- Menu用のアイコンを作成する必要がある

[2022-01-12 04:57] keiji commented on #681
これメニュー（ドロワー）からの導線付けるって画面の検討にありましたっけ。

[2022-01-12 05:16] keiji commented on #217
COCOA2ってラベルを反射的に付けたけど、これからはCOCOA2が普通になるので付ける必要がなかった…

[2022-01-12 06:15] daisuke-nogami commented on #681
当初の検討での導線は週次の通知でしたが、通知が未実装なこと・通知を消しても確認できる必要があることから
どこかに導線をつける必要がありまして、1番汎用的であろうメニュー（ドロワー）を選択したものです。

導線をつけうる場所
- メニュー（ドロワー）
- ホーム画面の「動作中」の近辺
- 「陽性者との接触結果確認」画面
- 週次の通知

[2022-01-12 07:55] keiji commented on #681
本来ホーム画面から遷移する（ホーム画面の下にある）画面に、上位のドロワーから直接遷移できるのは、アプリの構造に関する誤ったメッセージを利用者に与えて混乱の元なのでやめましょう。

1. ホーム画面からハイリスクな接触が**あれば**、まずそれを提示する（ContactedNotifyPage）。
2. ハイリスクな接触がない場合はリスクの極めて低い接触が**あれば**提示する（ExposureCheckPage）。
3. 接触がなければ「接触無し画面」を表示する（ExposureCheckPage）。

これでいいと思います。理由は次に書きますね。

----

ドロワーは、UIの中でかなり上位の位置です。
接触確認アプリの主要機能は「接触確認」と「陽性情報登録」ですが、そのどちらの機能についてもドロワー内にメニューとして設けられていません。

ハイリスクな接触が存在する期間は、ハイリスク

[2022-01-12 09:02] keiji opened #682 "v2.0.0に *含まない* 機能を取り除く（無効化する）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

v2.0.0 リリース時点で含まないことが決まった機能を取り除いたり、無効化したりする。

## 解決策についてお書きください / Describe the solution you'd like

基本的にServiceとかRepositoryとして実装して、IoCで入れ替え可能なので、無効化する機能について「なにもしない(NOP)」ものを別途作成して入れ替えを行う。

### 取り除く機能（現在とりまとめ中

 - [x] #719
 - [ ]

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

機能（クラス等）自体を削除するコミットを入れる。

#

[2022-01-12 09:03] #667 closed, assigned to keiji

[2022-01-12 09:03] #660 closed, assigned to keiji

[2022-01-12 09:04] #675 closed, assigned to keiji

[2022-01-12 09:05] #612 closed, assigned to keiji

[2022-01-12 09:05] #679 closed, assigned to keiji

[2022-01-12 15:47] kazuhiro4949 commented on #646
@daisuke-nogami @keiji
DLしてきたデータのパラメータに関してですが、それぞれ値の範囲って想定可能でしょうか？
第３者によってユーザーのconfigが差し替えられることも想定して、異常な値が排除できればと思っています。(必ず0以上になるなど)

オーバーフローさせるなど具体的できるかを考えてみましたが特に思いつかなかったので、明らかに異常な値で想定外の挙動が発生しない範囲で大丈夫だと思っています。

[2022-01-12 15:48] keiji opened #684 "HttpClientで `InvalidOperationException`"
## 不具合の内容 / Describe the bug
https://github.com/cocoa-mhlw/cocoa/pull/672 の対応中に発見。

HttpClientにTimeoutを設定後、一度URLのアクセスに使用してから再度Timeoutを設定すると`InvalidOperationException`が発生する。

HttpClientの仕様らしい。インスタンスはアクセスの度に作り直すのがよさそう。

[code]

## 再現手順 / Steps to reproduce

HttpClientにTimeoutを設定後、一度URLのアクセスに使用してから再度Timeoutを設定すると`InvalidOperationException`が発生する。

## 期待される挙動 / Expected behavior

InvalidOperationExcept

[2022-01-12 16:00] daisuke-nogami commented on #646
値の範囲、以下の5項目なら0以上の正の値で上限なし、ですね。

"DailySummary_DaySummary_ScoreSum"
"DailySummary_DaySummary_WeightedDurationAverage"
"ExposureWindow_ScanInstance_SecondsSinceLastScanSum"
"ExposureWindow_ScanInstance_TypicalAttenuationDb_Max"
"ExposureWindow_ScanInstance_TypicalAttenuationDb_Min"

想定される問題行為としては、閾値を下げて通知を余分に出す／閾値を上げて通知を出ないようにする、という根本的なものはありますが、それを防ぐための設定値を考えるには、configuration.jsonの設定値から計算とかをしないといけない

[2022-01-12 16:27] kazuhiro4949 commented on #646
そういった問題であれば現状のcocoaの他の通信も潜在的に持っている課題なのでこの対応の中であえて対策する必要なさそうです。
ご確認ありがとうございます。

[2022-01-12 17:55] keiji opened #686 "ホーム画面で「接触有無の最新確認日時」が更新されない"
## 不具合の内容 / Describe the bug

タイトルの通り。

## 再現手順 / Steps to reproduce

COCOA2のテスト版を起動してチュートリアルを完了させる。

## 期待される挙動 / Expected behavior

「接触有無の最新確認日時」に、最後に接触確認を実行した日時が表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：全部
- OS：全部
- バージョン：COCOA2

## その他 / Additional context

[2022-01-12 23:55] #684 closed, assigned to keiji

[2022-01-12 23:56] #670 closed, assigned to keiji

[2022-01-12 23:56] #657 closed, assigned to keiji

[2022-01-12 23:58] #686 closed, assigned to keiji

[2022-01-13 00:51] #681 closed, assigned to keiji, kazuhiro4949, daisuke-nogami

[2022-01-13 01:00] keiji commented on #484
バイナリを切り替える方式にしたのでコードベースの取り込みはしません。本IssueはCloseします。

https://github.com/cocoa-mhlw/cocoa/commit/bb6453cf89cc4eab2d75352ff6a034e56231fdbb#diff-492b491f29c3f287b43e041599f8a0909997281cd3e176883980725fe3ad0e29

[2022-01-13 01:00] #484 closed

[2022-01-13 01:50] daisuke-nogami commented on #681
ありがとうございます。
こちらご提案の通りに進めることで調整すすめて行きます。
理由は、いただいた理由に加えて、

というご意見も加えて、となります。

そして、この調整が発生した背景には、COCOAというツールの目的に対する認識があっていない
（あけすけにいうなら省内でも深く考え切れていない）こともあるように思いました。

元々は「自分にリスクがあるときに教えてくれるアプリ」に止まっていましたし、
未知の感染症で、情報があっても適切な行動を選べなかったこともあり
情報量・情報開示範囲を絞り込む必要も強く、その発想が抜けきっていない所があります。
一方、知見の蓄積や社会側の対応の進展（検査を受けやすいなどの直接的なものだけではなく、
リモートでの勤務・生活が出来る体制なども少しずつ整ってきた）を踏まえると、もう少し
「周囲の状況をしるダッシュボードアプリ」として活かしていただいて適切な行動

[2022-01-13 06:08] keiji opened #690 "動作ログが送信できない"
## 不具合の内容 / Describe the bug

動作ログを送信しようとしても送信できない。エラーメッセージが表示される。

開発環境で試してみると Azure.Coreから`System.TypeInitializationException`が出ているのが確認された。

## 再現手順 / Steps to reproduce

COCOA2から動作ログを送信してみる。

## 期待される挙動 / Expected behavior

動作ログが正常に送信できる。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：1.2.2)

## その他 / Additional context

[2022-01-13 06:11] keiji opened #691 "[iOS] 陽性情報が登録できない"
## 不具合の内容 / Describe the bug

サーバーから500 INTERNAL SERVER ERRORが返ってきている。

Androidでは問題なく陽性情報登録ができる。

## 再現手順 / Steps to reproduce

iOS版のCOCOA2から陽性情報登録をする。

## 期待される挙動 / Expected behavior

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：1.2.2)

## その他 / Additional context

[2022-01-13 06:13] keiji opened #692 "[Android] 陽性情報登録中にプログレスダイアログが表示されない"
## 不具合の内容 / Describe the bug

iOS版では表示される。

画面遷移が微妙に異なるので影響しているのか。

## 再現手順 / Steps to reproduce

Android版のCOCOA2で陽性情報を登録する。

## 期待される挙動 / Expected behavior

プログレスダイアログが表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：1.2.2)

## その他 / Additional context

[2022-01-13 06:16] keiji opened #693 "TEKが0件の時に陽性情報登録ができない"
## 不具合の内容 / Describe the bug

COCOAを使い始めたばかりでTEKが0件の状態で陽性情報登録ができない。

陽性判明時にCOCOAを利用していなかった場合、処理番号を使用しないと（陽性情報登録ができないと）、何度も処理番号の再発行が行われてしまい利用者の不便になっていたので、TEK0件でも登録を受け付けるように改修していた。

## 再現手順 / Steps to reproduce

COCOAを使い始めたばかりの状態で陽性情報登録をする。

## 期待される挙動 / Expected behavior

陽性情報登録が完了する。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：

[2022-01-13 06:18] keiji opened #694 "[iOS] 接触確認後にLastProcessTekTimeStampが更新されない"
## 不具合の内容 / Describe the bug

接触確認後、確認した診断キーのタイムスタンプの最新を保存して次回同じ診断キーについては接触確認の対象から除外しているが、LastProcessTekTimeStampが保存されていないので、同じ診断キーを何度も処理してしまう。

CappuccinoのProvideDiagnosisKeysの中でNull Pointer Exceptionが出ているのが原因。Cappuccinoでは対応済み。

## 再現手順 / Steps to reproduce

iOSのCOCOA2を起動して接触確認を行う。

## 期待される挙動 / Expected behavior

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
-

[2022-01-13 06:19] keiji opened #695 "ExposureRiskCalculationConfigurationがダウンロードできない"
## 不具合の内容 / Describe the bug

リスクの高い接触と見なす閾値を定義しているExposureRiskCalculationConfigurationファイルがダウンロードできない。

## 再現手順 / Steps to reproduce

COCOA2を起動する。

## 期待される挙動 / Expected behavior

ExposureRiskCalculationConfigurationファイルがダウンロードできる。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：1.2.2)

## その他 / Additional context

[2022-01-13 07:39] keiji commented on #691
サーバー側のログを見ると`DeviceValidationAppleService`でエラーが発生している。

[code]

ビルドもテストも通ってるのになぜという感じだけど、まずはアップグレードした関連パッケージを元に戻すところから始める。

[2022-01-13 07:53] keiji opened #698 "[Android] COCOA1からのアップグレードの際に既存のWorkerがキャンセルされない"
## 不具合の内容 / Describe the bug

COCOA1からCOCOA2にアップグレードしたときに、COCOA1で登録されたWorkManagerのWorkerのうち `cocoaexposurenotification-202107` についてキャンセルされない。

## 再現手順 / Steps to reproduce

COCOA1をインストールして起動する（Worker起動）。

COCOA2にアップグレードする。

## 期待される挙動 / Expected behavior

COCOA2にアップグレードしたときに、以前のWorkerについてはすべてキャンセルされる。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Androi

[2022-01-13 08:01] keiji commented on #690
Storage の NugetPackage を`12.10` にすると発生する様子。

https://developercommunity.visualstudio.com/t/xamarinforms-app-crashes-when-creating-a-new-blobc/1544818

ダウングレードして対応。

[2022-01-13 08:39] keiji commented on #692
表示のロジックは実行されていたが、Androidの場合は「TEKを取得してもいいか？」と確認するダイアログが表示されるタイミングでキャンセルされていた模様。

TEK取得完了後にダイアログを表示するようにして対応する。

[2022-01-13 09:10] keiji commented on #693
NotifyOtherPageに条件式がないから安心してたけど、その向こう側のServiceでInvalidOperationExceptionを出していた。
該当処理を削除して対応する。

[2022-01-13 09:10] keiji commented on #695
ServerConfigurationの参照するプロパティを間違えていたので修正して対応。

[2022-01-13 09:11] keiji commented on #691
デバッグ用サーバーへの反映が終わり、無事にiOSでも登録ができるようになったことを確認した。
Pull Requestがマージされた時点でclose（自動的に）します。

[2022-01-13 10:38] keiji commented on #646
#696 でもらった内容を設定ファイルの初期値として設定しましょうか。

現在は設定ファイルがダウンロードできないとすべての条件がNOP扱いになり、ハイリスクな接触がないものとして扱われます。

[2022-01-13 11:01] daisuke-nogami commented on #646
はい、それがよいと思います。
出ないのは非常に問題なので…
（現在の設定値、もし問題があるとしても「機種によっては1.5mくらいでも反応する」という感じにはなると思うので、初期値としても適切だと思います）

[2022-01-13 13:37] kazuhiro4949 opened #700 "動作状況画面でシェアシートが表示されない"
## 不具合の内容 / Describe the bug

接触確認の動作状況画面でシェアシートが表示されない

## 再現手順 / Steps to reproduce

1. 接触確認の動作状況画面に行き、
2. アプリを周りの人に知らせるをクリックし、
4. エラーが発生します。

## 期待される挙動 / Expected behavior

シェアシートが表示される

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：-
- OS：Android、iOS
- バージョン：-

## その他 / Additional context

[2022-01-13 13:59] kazuhiro4949 opened #702 "Xamarin Exposure Notificationライセンスの削除とCappuccinoのライセンス追加"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

EN用のライブラリが差し代わっているのでライセンス情報を更新する
https://github.com/cocoa-mhlw/cocoa/wiki/COCOAが使用しているOSSのライセンス情報について

関連issue:
https://github.com/cocoa-mhlw/cocoa/issues/322

## 解決策についてお書きください / Describe the solution you'd like

- ライセンス情報を更新する

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

-

## その他 / Additional con

[2022-01-13 14:17] kazuhiro4949 commented on #690
おそらく同様の原因でiOSだと現在developで動作情報送信をするとClient作成でクラッシュしているようです。

<img width="200" alt="スクリーンショット 2022-01-13 23 15 57" src="https://user-images.githubusercontent.com/18320004/149346534-496cb2a9-d3cd-481c-a129-561c8978debd.png">

[code]

[2022-01-13 14:29] kazuhiro4949 opened #703 "陽性者との接触結果確認ボタンを押してから画面遷移までタイムラグがある"
## 不具合の内容 / Describe the bug

iOSでタップ後すぐに反応せず、少し経ってから画面遷移がされる。
繰り返しタップできるため２重の遷移も発生する。

## 再現手順 / Steps to reproduce

1. ホームに行き、
2. 陽性者との接触結果確認ボタンをクリックし、
4. 繊維がずれる。

## 期待される挙動 / Expected behavior

タップしたらすぐに画面遷移する

## スクリーンショット / Screenshots

https://user-images.githubusercontent.com/18320004/149348061-4c305408-6fea-46c2-a9bb-b207e480cc3b.MOV

## 動作環境 / Environments

- デバイス：iphone12promax
- OS：iOS

[2022-01-13 16:48] keiji opened #705 "`infectiousness_when_days_since_onset_missing` の値について確認"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#696 を元に、各Configurationをフォールバックする設定を #704 にて調整中です。

`apple_exposure_config_v2`, `google_diagnosis_keys_data_mapping_config` における `infectiousness_when_days_since_onset_missing` の設定値について現在は `1 = Infectiousness.Standard` となっていますが、これは `2 = Infectiousness.High` が適切ではないかという確認です。

この値（ `infectiousness_when_days_since_onset_missin

[2022-01-13 17:09] keiji commented on #639
サーバー側では 1808785236a8a12bed8241d9a0005eb3c857a02a このコミットで反映済み。
本Issueをcloseします。

[2022-01-13 17:09] #639 closed, assigned to keiji

[2022-01-13 17:24] keiji opened #706 "イベントログが送信できない"
## 不具合の内容 / Describe the bug

サーバーAPI系はAzure Front Doorというもので守られていて、リクエストヘッダーにキーを付けないとアクセスできないようになっている。

https://github.com/cocoa-mhlw/cocoa/blob/514c0642946d99d21883ae4303f416077190d615/Covid19Radar/Covid19Radar/Services/HttpDataService.cs#L37-L45

サーバー側
https://github.com/cocoa-mhlw/cocoa/blob/develop/src/Covid19Radar.Api.Common/Services/ValidationServerService.cs

現在のイベントログ送信処理では、ヘッダーの設定をしていないの

[2022-01-13 17:31] keiji opened #707 "`HttpDataService` 廃止の検討"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在のCOCOAは、陽性情報登録APIと動作ログ送信APIへのアクセスを`HttpDataService`を通じて行っている。さらにHttpDataServiceが`IHttpClientService`を通じて`HttpClient`を取得して、APIアクセス用のインスタンス（`apiClient`）などを設定して利用している。

IHttpClientServiceはHttpClientのインスタンスを渡すことしかしておらず、テストという目的を鑑みてもHttpDataServiceを独立させておく理由は乏しいと考える。

## 解決策についてお書きください / Describe the solution you'd like

`Htt

[2022-01-14 01:12] keiji opened #708 "ホーム画面「陽性者との接触結果を確認」のテキスト変更"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ホーム画面で「陽性者との接触」という記述をしているが、厳密に言えばCOCOAで検出できるのは「陽性登録者」との接触に限定されていて、最近のテキストでは「陽性登録者」と記述する方針という認識。

またCOCOA2では「接触確認の動作状況」が追加される。

## 解決策についてお書きください / Describe the solution you'd like

厳密に「陽性登録者との接触結果を確認」にするのは長いので、「接触状況を確認」とするのはどうか。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

「陽性登録者との接触結果を確認」にする。
ボタンのラ

[2022-01-14 01:21] keiji commented on #678
https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782175011

[code]

「閾値」という言葉は専門用語に近いので、より一般的な用語に改めた方が良いと思います。「基準値」とかどうでしょう。

また、伝えたいのは「基準値を下回っていた」と言うこともそうですが、言葉を返すと「基準値を超える信号はなかった」と言うことでもあるので、利用者に不安を与えタンク内場合は、そのように言い換える手もあるかと思います。

[2022-01-14 01:22] keiji commented on #678
https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782177065

[code]

「端末」「スマートフォン」の表記揺れがあります。スマートフォンに統一するのはどうでしょうか。

[2022-01-14 01:24] keiji commented on #678
https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782179688

設定ファイルから読まないといけませんね。別途Issueで対応します。

[2022-01-14 01:27] keiji commented on #678
https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782180972

受動態を避け、一文を短くすることで理解しやすくなる傾向にあるので、次のように記述するのはどうでしょうか。

[2022-01-14 01:28] keiji commented on #678
https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782181516

「COCOAの通知＝濃厚接触 **ではない** 」ということは重要なので、この点、修正の必要があると考えます。

[2022-01-14 01:29] b-wind commented on #684
https://docs.microsoft.com/ja-jp/dotnet/api/system.net.http.httpclient?view=net-5.0

実際にSocketが枯渇するかどうかは分かりませんが、HttpClient を都度作り直すのは推奨されないように思います。

[2022-01-14 01:32] keiji commented on #678
画面タイトルの「接触確認の動作状況」も、機能の名前であって利用者が知りたい情報ではないと考えます。

シンプルに「陽性登録者との接触状況」にするか、それだと接触の可能性と混同される（この画面はリスクが低いという話なので）ことを避けたいなら「基準値を超える接触はありません」とかどうでしょうか。

[2022-01-14 01:37] keiji opened #709 "「接触と見なす基準値」を設定ファイルから表示する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://github.com/cocoa-mhlw/cocoa/pull/647#discussion_r782179688

基準値は外部ファイルから読み取るように変更したが、現在の実装は（実装時点でそうだった）固定値になっている。

## 解決策についてお書きください / Describe the solution you'd like

「接触と見なす基準値」を設定ファイルから表示する

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

v2.0.0 では決め打ちでいく。
「スコア」を表示することの利用者からの反応を見ながら、表示の内容自体を

[2022-01-14 01:40] daisuke-nogami commented on #705
こちら、COCOAの位置づけを側の定義としても、おっしゃるとおりデフォルト値はHighが正しいと考えました。
具体的な設定も含めてApproveします！

[2022-01-14 01:56] keiji commented on #678
ここまでの提案を組み込んだらこんな感じになります。
表示スコアが高いのは無理矢理この画面を表示しているからで、実際には「接触がありました」の画面が表示されるはずのデータです。

「陽性登録者のスマートフォンから受信した信号は基準値を下回っていました」これ長すぎるのでもう少し短くしたい。

![Screen Shot 2022-01-14 at 10 55 20](https://user-images.githubusercontent.com/932136/149438132-8bfda820-c008-4ac4-9f74-dd8c9b891e49.png)

![Screen Shot 2022-01-14 at 10 55 35](https://user-images.githubusercontent.com/932136/149438148-bd6821cc-0782-4d10

[2022-01-14 02:10] #700 closed, assigned to kazuhiro4949

[2022-01-14 02:18] #690 closed, assigned to nobody

[2022-01-14 02:18] #691 closed, assigned to keiji

[2022-01-14 02:18] #693 closed, assigned to keiji

[2022-01-14 02:18] #695 closed, assigned to keiji

[2022-01-14 02:18] #698 closed, assigned to keiji

[2022-01-14 03:20] daisuke-nogami commented on #678
メッセージの「！」マークを外し、背景も白色に変更をした方がよい（という個別提案をいただき同感でしたので反映した方がよい）と思います。

「！」マークと黄色にしていたのは、もともと、「過去14日間の接触」画面と別の画面だったので信号を受信している/していないで差をつけるためのものでしたが、
「過去14日間の接触」で濃厚接触の可能性通知と同じカテゴリの画面に入ると、「濃厚接触の可能性」と同じマークでは逆のメッセージになってしまうためです。

[2022-01-14 05:01] keiji opened #711 "プロダクト版で陽性情報登録ができない"
## 不具合の内容 / Describe the bug

開発チーム・サーバー監視チームよりアラート。

本日 11:44 より、陽性情報登録の完了（登録成功）レスポンスをしていない状況。

リリースしているCOCOA（プロダクト版）で陽性情報登録ができない。正しい処理番号を入力しても「処理番号が違うか…」と表示されて陽性情報登録が完了しない。

## 再現手順 / Steps to reproduce

陽性情報登録をする。

AppLinks経由でも、手動入力でも同じと考えられる。

## 期待される挙動 / Expected behavior

処理番号が正しければ、陽性情報登録が完了する。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス： すべてのデバイス
- OS：Android / iOS
- バージョン

[2022-01-14 06:17] keiji commented on #711
15:04頃から、正常登録がログに出力されることを確認。以前失敗しているケースもあるとのこと。

[2022-01-14 06:39] keiji commented on #684
ふーむ。タイムアウト時間を共通化することは難しそうですが、ソケット枯渇のような潜在バグを踏むのは怖いので、サービス毎にインスタンスを作って、初期化の時にタイムアウトとか設定するようにしましょうか。

特にたくさんコネクションが発生するのは診断キーのダウンロードのあたり（ここは都度HttpClient作るわけではありませんが）。
あとはリスク値の閾値を設定する設定ファイルのダウンロードもですね。

ちょっと全体計画を考えます。

ありがとうございます！

[2022-01-14 06:47] keiji commented on #678
Pull Request #712 だしました。

@daisuke-nogami
引き続きテキスト・デザイン調整しましょう。やっぱり元に戻してでも大丈夫です。

@kazuhiro4949
このリポジトリの featureブランチとして作っているので、もし何か変更あれば直接pushしてしまってください。

[2022-01-14 06:57] keiji opened #713 "HttpClientの取り回しを再検討"
#684 の対応で、都度HttpClientのインスタンスを作成、検討する方式にしたものの、再利用が原則であるとの指摘あり（同Issueコメント）。

https://docs.microsoft.com/ja-jp/dotnet/api/system.net.http.httpclient?view=net-5.0

実際にSocketが枯渇するかどうかは分かりませんが、HttpClient を都度作り直すのは推奨されないように思います。

_Originally posted by @b-wind in https://github.com/cocoa-mhlw/cocoa/issues/684#issuecomment-1012667655_

----

Timeout再設定時のInvalidOperationExceptionは必ず起きるので対応しなければならないものの、ソケット

[2022-01-14 06:57] keiji commented on #684
#713 Issue作りました。

[2022-01-14 07:31] b-wind commented on #713
ドキュメントには、
https://docs.microsoft.com/ja-jp/dotnet/api/system.net.http.httpclient.timeout?view=net-5.0

（日本語がおかしいのはご愛敬）

とあります。

また、サンプルコードとして以下の物があります。
https://docs.microsoft.com/ja-jp/dotnet/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time#complete-example

サンプルコード中では、ループ内で CancellationTokenSource を使い回していますが CancellationTokenSource 自体はリクエスト毎に都度使い捨てで問題ないかと思います。

C#

[2022-01-14 07:36] keiji commented on #711
状況の共有です。

処理番号発行数（陽性者数）の急増により、SMSの送信が追いついていない。
処理番号が発行されてから、実際に陽性者の手元に届くまでに有効期限（現在は1時間）が経過しているため、今回の事象が発生していると思われる。

[2022-01-14 07:42] b-wind commented on #713
こちらについては以下の様な記述があります。
現実的には別スレッドで動作中だったり、 Keepalive 等でコネクション自体が繋がったまま変更されるのを防ぎたいなどの理由を推測します。

[2022-01-14 07:48] b-wind commented on #713
個人的には RequestHeader や Timeout の値が異なる少数の HttpClient を保持する分には許容されるのでは無いかと考えますが、こちらは識者の意見が欲しい所です。

[2022-01-14 08:07] keiji commented on #713
これについては段階的に直していきます。
まずはusingを止めて、各ServiceでHttpClientを1つだけ持つようにします（ #714 ）。

まずは現時点で分かっていることとして、現在の実装では `using` で毎回廃棄しているので、都度disposeされる。disposeされるとコネクションプールのソケットは閉じられるという認識で、今回のアプリを仮に配信したとして、すぐにソケットを枯渇させると言うことはなさそうです。

一方、コネクションプールの廃棄はとてもコストの高い処理になりますので、現在のdevelopの実装がイケてない、非効率的なものという点で修正の優先順位は高いです（この実装でリリースはしない）。

根本的にはHttpClientServiceから各Serviceに必要な設定のHttpClientを割り振る予定です。
もしHttpClientのインスタンスが1つにで

[2022-01-14 08:33] b-wind commented on #713
御意。
HttpClient を多用するアプリではないので、ただちに問題になることは無いだろうと言う認識です。
とは言え何かの切っ掛けで問題のトリガーになりかねないので早めに改善しておきたいですね。

[2022-01-14 10:55] keiji commented on #616
スプラッシュ画面を改装して、起動の度にベータ版であることを知らせるようにしました。

![Screen Shot 2022-01-14 at 19 52 43](https://user-images.githubusercontent.com/932136/149504281-8a2f10c1-751f-42c1-96fe-f13ba8defcb7.png)

![Screen Shot 2022-01-14 at 19 52 47](https://user-images.githubusercontent.com/932136/149504309-0ff9f038-5a01-4987-8bc4-a3a83464ad73.png)

[2022-01-14 13:27] daisuke-nogami commented on #678
変更案のpull-requestで良いと思いましたのでapproveしてきました！

[2022-01-14 16:20] keiji commented on #711
今後同様の事象の発生を防止するための方策の一つとして、まずはSMS送信のキャパシティ拡張する措置を行う連絡を受けています。

より厳密に言うと、SMS送信機能はほかの用途でも陽性者への連絡に使っている。今回はCOCOAの処理番号のSMS送信について分割する措置をするとのことです（別のサーバーを割り当てる？　詳細は未確認

[2022-01-14 17:38] #678 closed, assigned to keiji, kazuhiro4949, daisuke-nogami

[2022-01-14 19:01] keiji commented on #694
今、手元で発生した。Chino.iOSのバージョンアップがdevelopのprojファイルに反映されてない。

[2022-01-14 19:36] keiji opened #716 "陽性情報の再試行時に「しばらくそのままでお待ちください」ダイアログが表示されない"
## 不具合の内容 / Describe the bug

COCOA1では、陽性情報登録のときに処理番号の不一致などの理由でサーバーから失敗が返された後、再度「登録する」ボタンを押すと、

「登録を開始します
しばらくそのままでお待ちください」

と表示され、実際にサーバーにアクセスする前に一定時間のDelayを設けている。

また、陽性情報登録に３回失敗すると、

「登録回数の上限に達しました。
アプリを終了します」

と表示してアプリ自体を強制終了する。

COCOA2では、これと異なる挙動をしていて、登録は何回でも試すことができるし、規定回数はなく、アプリを強制終了しない。

## 再現手順 / Steps to reproduce

陽性情報登録画面から正しくない処理番号を入力して陽性情報登録を試みる。

## 期待される挙動 / Expected behavior

これ個人的

[2022-01-14 20:06] #705 closed, assigned to keiji, daisuke-nogami

[2022-01-15 01:27] keiji commented on #682
やるぞ！

[2022-01-15 02:20] b-wind commented on #711
単純に疑問に思ったのですが、「処理番号の有効期限切れ」というレスポンスが返ってくるわけではないのですね。

[2022-01-15 03:53] keiji opened #719 "イベントログの送信機能の無効化（v2.0.0リリース対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#682 に関連して、イベントログ（接触データ）の送信機能はv2.0.0リリースには含まないことになった。

## 解決策についてお書きください / Describe the solution you'd like

無効化する。
削除するのではなく、確実に動作しない状態にする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2022-01-15 04:22] keiji commented on #711
「処理番号を確認するサーバー」についてはCOCOAの境界を超えるので言えることが少なくなるのですが、
たとえば「メールアドレス」と「パスワード」の組み合わせでログインするシステムがあったとして、入力したメールアドレスはシステムに存在しない（登録されていないとき）に「アカウントがありません」、メールアドレスは存在するけどパスワードが異なるときに「パスワードが違います」と表示してしまうと、アカウントの存在を知られてしまうので、すべて一括で「メールアドレスまたはパスワードが違います」のような取り扱いにする。のに似ていますね。

公開されている情報からの推測になりますが、先日のプライバシーポリシー改訂まで期限切れの処理番号は削除されていたので、期限切れか存在しないかをサーバー自身も判別できなかったのもありそうです。

今回はSMSの送信の滞留を改善して対応となりましたが、期限そのものの見直しが必要

[2022-01-15 04:52] b-wind commented on #711
なるほど、そう言う処理だった可能性があるのですね。
様々な要件と検討の結果なのだと思いますし、現時点で特に要望等はありません。

それとは別に処理番号の通知は遅れれば遅れるほど陽性者登録もずれ込みますし、デメリットは大きそうに思います。
SMS送信のキャパシティを増やす方向は適切な対処と感じました。

[2022-01-15 05:02] keiji opened #721 "動作ログ取得機能への動線確保と送信機能の無効化（ベータ版対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?
#617 #598 に関連。

ベータ版は、サポート（お問い合わせ）はすべてGitHubに流す。お問い合わせ画面から動作情報送信への導線は存在していないが、動作情報そのものは取れるようにしておきたい。

## 解決策についてお書きください / Describe the solution you'd like

「お問い合わせ」から動作ログを取得する導線を作る。

また送信機能はサービスそのものをNOPに置き換えて、確実に送信されないようにする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

動作情報送信を受け入れるサーバーをベータ版用に用意する（動作情

[2022-01-15 05:08] keiji opened #722 "陽性情報登録画面のお問い合わせ先を安定版への導線へ置き換える（ベータ版対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#598 に関連。

ベータ版は、サポート（お問い合わせ）はすべてGitHubに流す。
陽性情報登録も例外ではない。

## 解決策についてお書きください / Describe the solution you'd like

陽性情報登録画面の該当表記をサポートに関する説明と、不具合がある場合は安定版（リリース版）を使ってくださいという案内とボタンを用意する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2022-01-15 05:18] kazuhiro4949 opened #723 "ContactedNotifyPageでHTTPClientの例外が発生した際にクラッシュする"
## 不具合の内容 / Describe the bug

## 再現手順 / Steps to reproduce

1. 接触確認画面 に行き、
3. リクエストのキャンセルやDNS Lookupのエラーを発生させる
4. アプリがクラッシュする

## 期待される挙動 / Expected behavior

クラッシュせずに問題が発生したことと問い合わせへの誘導を行う

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：すべて
- OS：Android, iOS
- バージョン：すべて

## その他 / Additional context

[2022-01-15 05:53] keiji commented on #723
情報の提供として、今のNotifyOtherPageでは各Region毎に一回のアクセスをしています。これは先んじてExposureWindow modeの陽性情報登録に対応していたデバッグ環境（en-calibration-server）ではregionをBodyではなくURLのパスに指定していたためです。

V3DiagnosisApiではregionはBodyに入れるので、アクセスを各Region毎にする必要はありません。もっと言えば、今のCOCOAは複数regionの指定に対応していないと理解しています（settings.jsonのsupportRegionsが配列ではなく文字列）。

対応についてはtry catchで囲んで例外を取るだけでも良いと思いますし、抜本的に解決するならアクセスそのものを一本化しても良いと思います。

[2022-01-15 05:59] daisuke-nogami commented on #716
確かリトライ回数を確認するリグレッションテストはなかったので、COCOA2実装のままでも良さそうな気がします。仕様書含めて確認します。

[2022-01-15 06:20] daisuke-nogami commented on #716
まだ仕様書は見れていませんが、リグレッションテストでは、delayが起こることの検証は行っておらず、delayをなくすことの障害はなさそうです。
（自分用メモ・シナリオS-4）

リトライ回数の制限ですが、こちらはリグレッションテストで確認しています。
回数制限を完全に外すとすると、陽性登録サーバーの処理の負荷も一応考える必要はあるかと思いました、が、大きな負荷を与えない上限回数を真面目に定義すると100回とか大きな数字になって、検証コストに見合わない仕様になりそうです…
あと、勘違いで誤入力を連打するときには、見直さず何度も連打するのはあるあるで（昔、住基カードをそれでロックした苦い思い出が…）、数回ミスしたときにクールダウンを促すdelayを入れるのはあり、とは思います、が、現行の「強制終了」はやり過ぎですね…

仕様書の記述確認してからではありますが、
- delayと強制終了は不要

[2022-01-15 06:26] daisuke-nogami commented on #716
仕様書発見しました。操作に関する記述は

だけでしたので、仕様書には縛られず考えられそうです

[2022-01-15 06:28] #694 closed, assigned to keiji

[2022-01-15 07:24] kazuhiro4949 commented on #723
NotifyOtherPageではなくContactedNotifyPage上でクラッシュしていました

[2022-01-15 07:35] keiji commented on #723
あ、サーバーからRiskConfiguration取ってくるときのtry catch漏れ……かな？

もしそうだとしたら、取ってこられなかったときにどうするかですね。

[2022-01-15 08:54] kazuhiro4949 commented on #723
異常系なので特には何もせず再アクセスとお問い合わせへの案内を表示させるようにしました

https://github.com/cocoa-mhlw/cocoa/pull/725#issuecomment-1013645748

[2022-01-15 09:05] keiji commented on #716
確認ありがとうございます！

強制終了はやり過ぎにしても、いきなり「無制限にしておきましたのでよろしく」も乱暴かもしれないですね。
以前のPull Request #511 で林さんが、ホーム画面に戻るようにしてくれているので、ここからさらに変えるのも焦りすぎかな（ぼくが）と思い直しました。v2.0.0では遅延有り、ホーム画面に戻る挙動でリリースしてみて利用者の反応を見ましょうか（Twitterとかで）。

ひとまず仕様書に明記してあるわけではないと言うことがわかったのは収穫ですね。ありがとうございます。

[2022-01-15 09:45] keiji commented on #723
ダイアログ表示いい感じですね。
メッセージで「不明なエラー」だと突き放した感じがあるので、例えば

「設定ファイルを取得できません」とかどうでしょう。

タイトル「設定ファイルを取得できません」

メッセージ案１「接触の基準値を設定するファイルを取得できませんでした。ネットワークが不安定か、サーバーが混み合っている可能性があります。ご迷惑をおかけして申し訳ありません。時間をおいて再度お試しください。」

メッセージ案２「時間をおいて再度お試しください。接触の基準値を設定するファイルを取得できませんでした。ネットワークが不安定か、サーバーが混み合っている可能性があります。」

「『お問い合わせ』より動作情報の送信…」と書いてしまうと、一時的な不具合でも問い合わせした方がいいのかなと思ってしまうかもしれないので、まずは初期対応としての「時間をおいて再度お試し」を案内するに留めるのが良いと思いま

[2022-01-15 10:01] keiji opened #726 "動作ログのZIPファイル作成タイミングを検討する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ベータ版向けの #721 をやっていて、動作ログのzip作成はお問い合わせページ（InqueryPage）の段階でやっておいた方がベータ版にとって都合が良い。

現在のCOCOAは、お問い合わせページ（InqueryPage）から「動作情報を送信」のボタンを押して、「動作情報の送信について（SendLogConfirmationPage）」を表示するタイミング（Initialize）で送信するログのZIPファイルを作成している。

一方、ベータ版はお問い合わせページ（InqueryPage）から画面遷移無しで、「動作情報を共有する」ボタンを押すとシステムの共有に繋ぐようにしたい。

「InqueryPage」と「SendLogConfirm

[2022-01-15 11:35] keiji opened #728 "バージョンチェックを止める（ベータ版対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ベータ版は安定版（リリース版）とは違い、Google PlayやApp Storeの更新の仕組みだけ使いたい。

## 解決策についてお書きください / Describe the solution you'd like

バージョンチェックを停止する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2022-01-15 14:18] keiji opened #731 "AppUtils.CheckVersionをサービス化する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#730 をやってみて、CheckVersionがstaticメソッドでサービス化されていない。
このままでも動くけれど、No-operation版に置き換えることを考えるとサービス化されてる方がうれしい。

## 解決策についてお書きください / Describe the solution you'd like

サービス化する。
#730 の内容を develop に入れる。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

動いてるから触らない。

## その他 / Additional context

急ぎではないので v2.0.0 以降に考え

[2022-01-15 14:19] #721 closed, assigned to keiji

[2022-01-15 14:30] #728 closed, assigned to keiji

[2022-01-15 14:34] #617 closed, assigned to nobody

[2022-01-15 14:34] #616 closed, assigned to nobody

[2022-01-15 16:31] keiji opened #732 "同じ日付のDailySummaryが複数件有ると強制終了する"
## 不具合の内容 / Describe the bug

接触確認を繰り返したときに、同じ日付で（データが異なる）DailySummaryが得られることがある。
現状の処理はDaySummaryの日付は１件しかない前提で`ToDict`でまとめているので例外（ArgumentException: An item with the same key has already been added. Key）が発生して強制終了する。

後から来た診断キーで接触が確認されたデータと思われる。

[code]

`01/14/2022 00:00:00`のキーが2つある。
それぞれScoreSumが違うので重複ではない。片方は `177000` と大きな値で、もう片方が `750` なので、新しい診断キーで接触確認をした（同じ日付に追加の接触が検出された）挙動と考える。

## 再現手順 / St

[2022-01-15 16:38] keiji commented on #732
同じ日付のDailySummary（に紐付くExposureWindow）が複数ある場合は、それぞれについてリスク値を評価する。

これが一番シンプルでよさそう。 > @daisuke-nogami

[2022-01-15 16:42] keiji commented on #732
ExposureWindowはDailySummaryに紐付いているのではなくて、純粋に日付別に取得することになるので、同じ日付のDailySummaryが複数兼有ったときに、ExposureWindowがどのDailySummaryに紐付くかという判断が難しい構造。うーん。やっぱり合算かなぁ

[2022-01-15 16:55] keiji commented on #732
ちょっと整理。

あとで追加された同じ日付の診断キーで接触が上がると言うことは、既存の接触とは違う陽性者と言うこと、そのDailySummaryは合算せず、個別に見るべき。

[2022-01-15 17:38] keiji commented on #732
これ見るとExposureWindowを元にDailySummaryを計算している。

https://developers.google.com/android/exposure-notifications/meaningful-exposures#daily-summaries

一日の接触を合算して、閾値を超えるか、超えないかという話と理解した。
その視点で見ると、接触が確認されたときにEqualsで比較して一致しなければ同じ日付でも異なるデータとして取り扱ってる今の保存処理の時点でおかしいことになる。

保存の時に、すでに保存済みの日付のDailySummaryがあれば、そのデータと合算して、閾値を超えれば通知で知らせる。
内部データ上で日付は常に一つだけ（単純にリストを追加をしない）という動きをするのがよさそう。

この挙動がもっとも合理的か（本当に合理的かは寝てから考える）。

[2022-01-15 17:57] keiji commented on #732
一度データ全部消してから同じ診断キーで接触確認やり直したら、同じ日付のDailySummaryは合算で得られたので、想定した取り扱いで間違いはなさそう。岩手に3m

[2022-01-15 19:30] keiji opened #733 "[Android] 接触の通知をタップしても接触一覧画面が表示されないことがある"
## 不具合の内容 / Describe the bug

すでにActivityが起動している状態で接触の通知をタップしても接触一覧画面が表示されないことがある（表示されることもある

## 再現手順 / Steps to reproduce

デバッグ画面から「Show ExposureNotification」をタップして、表示される通知をタップ

## 期待される挙動 / Expected behavior

「過去14日間の接触」画面が開く

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：Android
- バージョン：COCOA 2で確認しているけど、それ以前のバージョンでも発生しうる

## その他 / Additional context

この事

[2022-01-16 01:01] daisuke-nogami commented on #732
はい、その通りで、ExposureWindowを使って計算すれば正しいDailySummaryを出せます（以前、実機のログで確認済み）。
なので極論するとDailySummaryをすっ飛ばして自力計算してもよい、とはなっちゃうんですよね…

合算ではなく最大値を取る方がただしいかと思います。あるいはDailySummaryは都度入れ替え、とか。
（DailySummaryは、毎回、端末の中に残っているExposure Windowを全部見て計算し直しているはずなので、
　合算では初回に拾ってしまったものが重複カウントされるはず）

[2022-01-16 01:10] keiji commented on #732
最大値！　それですね！
DailySummary入れ替えだと、今回のようにいきなり750とかに下がったときに接触事実が消えてしまうことになるので良くないかなと思います。

今のところ #734 では合算で進めているので、このPull Requestを変更して最大値を取るようにします。

[2022-01-16 02:50] kazuhiro4949 commented on #723
設定ファイル取得時のエラーハンドリングはこの辺りに追加したため、
ViewModel上で発生する例外はこちらが把握できているもの以外になります。
そのため扱いとしては想定外の問題をクラッシュさせずにキャッチしておくためのものになります。
https://github.com/cocoa-mhlw/cocoa/pull/725/files#diff-23e5a2c74f15e6092efc9fc53f350a3d2de52fbbbf72b0f29324c8d04364ef55R141-R143

時間を置いて再アクセスを促す意図で以下の文言でいかがしょうか。
ネットワークの問題の可能性は低いのですが、再アクセスしてもらう理由をつけるために入れています。

「確認画面へのアクセスに失敗しました」
「ご迷惑おかけして申し訳ありません。ネットワークが不安定か、サーバーが混み合っている可能性がありま

[2022-01-16 04:03] #648 closed, assigned to nobody

[2022-01-16 04:03] #733 closed, assigned to keiji

[2022-01-16 06:57] #719 closed, assigned to keiji

[2022-01-16 07:14] keiji commented on #706
後に回すとして、少なくとも動くようにはしておきたいよね。
ということで。

[2022-01-16 07:52] keiji commented on #711
本日午後より、現象の再発が確認されています。
確認したところ、やはりSMSの送信数の増加により遅延が発生しているとのことです。

SMSサーバーをさらに増強する事に加えて、追加の対応策についても検討中です。

[2022-01-16 09:01] keiji commented on #722
GitHubに誘導しようかと思ったけど、陽性情報登録をしようとしている人がIssue作って返事を待つ時間は見合わないと思う。それより、安定版に切り替えて、まずは陽性情報登録をしてもらった方が良い。

[2022-01-16 09:06] keiji opened #739 "陽性情報登録API（V2）のレスポンスコード 204 に対応する（ベータ版対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

V2DiagnosisApiは陽性情報登録に成功すると 204 No Contentを返す。

COCOA2はV3DiagnosisApi用に作ってあるので 204 でダイアログを出さないけれど、Betaの初期はV2DiagnosisApiを使うので、204が返ってきたときに対応できない。

## 解決策についてお書きください / Describe the solution you'd like

`204` で「陽性情報登録を完了した」ダイアログを表示する。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional co

[2022-01-16 09:07] keiji commented on #722
![Screen Shot 2022-01-16 at 18 07 16](https://user-images.githubusercontent.com/932136/149653909-dcdf98d9-2aca-4fdf-a5b5-e3fa27679d83.png)

[2022-01-16 09:08] #722 closed, assigned to keiji

[2022-01-16 10:54] #716 closed, assigned to keiji, kazuhiro4949, daisuke-nogami

[2022-01-16 10:55] keiji commented on #709
これ忘れてた。
やります！

[2022-01-16 13:21] kvaluation commented on #732
getDailySummaries()は、本来、既存の対象となる全てのExposureWindowを対象に計算をするのかと思いますので、最新の計算結果が常にその時点で正しいのかなと考えておりました。
https://developers.google.com/android/exposure-notifications/exposure-notifications-api#getdailysummaries

どちらかというと、これが不思議な気がします。

1回目のgetDailySummaries()では、14日前（かな）の対象とするExposureWindowが10個あったけれど、
2回目のgetDailySummaries()では、多くが15日前となって2回目実行時点では10個中8個が対象外となってスコアが750とかに下がるのは、自然ですよね。

そうでない日時の関係で、2回目で75

[2022-01-16 14:46] keiji commented on #732
今回の場合なんですが、問題の日は1/14で、1期限切れになるような日付ではないんですよね。SymptomDateを考慮しても、やっぱりExposureWindow含めて有効であるべき期間です。

また、一度COCOAのストレージを全消去した後、まったく同じキーで接触確認を実行（Android版はこれで同一キーに接触確認をしないというENの制約をリセットできる）したところ、結果は古い方が表示されて、あとから来た750の方は跡形もなく消えてしまいました。

今回のケース、後勝ちにして750に寄るというのは個人的には避けたいところです。利用者からしてみれば特に理由もなくスコアが突然下がるわけなので。

 * 接触があったと判定されたら、14日間は「その日は接触の可能性があるよ」と表示され続ける。
 * 仮に低リスクの日が、あとから追加された診断キーで接触確認をしたところ、接触の可能性があったと判

[2022-01-16 15:17] #732 closed, assigned to keiji

[2022-01-16 15:23] daisuke-nogami commented on #732
おお、これエラーの中身をみてなかったのですが、あとから返るDailySumの数字が少なかったのですね。
バグにしか見えない挙動だ…

期限切れになるような日付の接触だったとしても、（潜伏期間も感染可能期間も過ぎたタイミングになりつつあるとは言え）リスクのある接触がなくなるわけではないので、通知をするのが正しい挙動でしょう。
という点で「最大値を取る」で正しい挙動だと思います。

[2022-01-16 15:55] keiji opened #743 "`a.b.c` 以外のバージョン名を設定すると強制終了する"
## 不具合の内容 / Describe the bug
基本的にはwon't fixだけど記録のためにIssue化しておく。

ベータ版の準備のため、AndroidManifestの`Version name`に`2.0.0-beta01`と入力して実機で動かしたところ、スプラッシュを終えてマイグレーション処理に入ったところで強制終了した。

[code]

マイグレーションの開始直後に、データがバージョンアップしているかどうかの確認を行っている。
その際、アプリのバージョン名を`Version`クラスに与えてインスタンス化するが、このクラスが`a.b.c-beta01`のフォーマットを受け付けないために発生している。

## 再現手順 / Steps to reproduce

AndroidManifestの`Version name`に`2.0.0-beta01` と指定してビルド

[2022-01-16 16:16] keiji opened #744 "[iOS] 接触一覧を開くときにKeyNotFoundException"
## 不具合の内容 / Describe the bug

接触確認後、接触一覧を開くときに `System.Collections.Generic.KeyNotFoundException`

[code]

DailySummaryの一覧から日付をキーに引いてくるところで存在しないキー（`2022/01/16 0:00:00`）を指定していると怒られている。
たしかに 2022/01/16 0:00:00 のDailySummaryはシステムから取得できていない。

しかしここにキーがあると言うことは、ExposureWindowは有ると言うこと。この不整合はなぜ起きるのか。

iOSでのみ発生。

## 再現手順 / Steps to reproduce

1. '....' に行き、
2. '....' をクリックし、
3. '....' へスクロールすると、
4. エラーが発生し

[2022-01-16 23:57] #739 closed, assigned to keiji

[2022-01-17 00:17] keiji commented on #682
やった

[2022-01-17 00:17] #682 closed, assigned to keiji

[2022-01-17 00:57] keiji commented on #703
こちら確認しました。

ContactedNotifyPageViewModelの`Initialize`上で重めの処理をしているので、ボタンを押してから表示されるまで時間がかかっているようです。

この処理を非同期にして、まずは画面遷移を終えてProgressDialogを表示、準備ができ次第画面を更新…とすると体験は改善しそうですね（本当はダイアログじゃなくて画面に読み込み中表示を出したいけど、ダイアログでも今よりはかなりいい感じの動きになると思います。このあたり事前計算も含めて継続的に考えていきたいです）。

[2022-01-17 00:59] keiji commented on #702
これアプリ内から表示するライセンスですね。
COPYRIGHT_THIRD_PARTY_SOFTWARE_NOTICES.mdの方は更新済みなので、あとはAndroid, iOSが持っているHTMLを更新する。と言う流れになると思います。

ベータ版対応でもしなければならないので、ぼくの方で担当しましょうか？

[2022-01-17 01:10] #709 closed, assigned to keiji

[2022-01-17 03:59] keiji opened #747 "ExposureRiskCalculationConfigurationの更新が反映されない"
## 不具合の内容 / Describe the bug
開発チームからの指摘。最後に保存するときにnewExposureRiskCalculationConfigurationでなくcurrentExposureRiskCalculationConfigurationを指定しているので、これでは設定が更新されたときに新しい値が戻ってこない。

https://github.com/cocoa-mhlw/cocoa/blob/adfc256b59a063f88239a58ac17267792800b6b5/Covid19Radar/Covid19Radar/Repository/ExposureRiskCalculationConfigurationRepository.cs#L146-L170

## 再現手順 / Steps to reproduce

1. '....' に行き、
2

[2022-01-17 04:54] keiji opened #749 "`settings.json` をGitの管理下から外す"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

`settings.json`は現在`.gitignore`に指定されている。

https://github.com/cocoa-mhlw/cocoa/blob/c5e480b43779b8dec3f196947c7971f147c51e8f/.gitignore#L383-L385

しかし、.gitignoreに指定するより前のタイミング（Covid19Radar時代）でGitの管理下に置かれた様子。

https://github.com/cocoa-mhlw/cocoa/commit/72c2d4f2d9f83b37404b2fd42bc63858768acf7e#diff-5bdec46c6ceb5e47888fee275ff5

[2022-01-17 07:13] keiji commented on #673
@daisuke-nogami
今見たら接触の可能性の行で「14分間の接触」となっていました。スコアは2100です。
これ今は切り捨てなので、切り上げで15分になるかやってみます。

![Screen Shot 2022-01-17 at 14 53 00](https://user-images.githubusercontent.com/932136/149723895-eaec2bd8-6c6e-4e76-9b80-9d3b78645c87.png)

[2022-01-17 07:23] keiji commented on #673
元データがきっかり840秒ですね。DailySummaryとExposureWindowsを出します。

[2022-01-17 08:01] keiji opened #750 "翻訳が必要な文字列リソースを確認する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

日本語については用意しているが英語・中国語については開発チームを通じて翻訳をお願いする。

## 解決策についてお書きください / Describe the solution you'd like

ここをベースに、COCOAで大きく変更があった画面の文字列リソースをピックアップ
https://github.com/cocoa-mhlw/cocoa/compare/v1.4.1...develop#diff-aa26a1565f1641e7041a944e4a7514c1b2cf25c9bb51a02227c609d200675920

## あなたが考える代替案についてご説明ください / Describe alternatives yo

[2022-01-17 08:03] keiji commented on #750
[code]

-----

これ使ってなかったので後で消します。
[code]

[2022-01-17 08:11] keiji commented on #673
[code]

[2022-01-17 08:23] keiji commented on #646
@daisuke-nogami  @kazuhiro4949

ぼく複数の基準値がある場合の評価をORで作ってますが、これ必要なのは絞り込みANDですね。

https://github.com/cocoa-mhlw/cocoa/blob/adfc256b59a063f88239a58ac17267792800b6b5/Covid19Radar/Covid19Radar/Services/ExposureRiskCalculationService.cs#L68-L87

例えば次の課題に対応するために、ExposureWindow_ScanInstance_SecondsSinceLastScanSumに `900` を設定するとケースを考えています。

https://github.com/cocoa-mhlw/cocoa/issues/673#issuecomment-1014207

[2022-01-17 08:32] daisuke-nogami commented on #646
はい、そうしましょう（接触通知を出す基準が1m以内・15分以上に絞られている現状では、ANDで絞り込むニーズの方がある）

[2022-01-17 09:07] keiji commented on #750
## 接触の確認画面
![Screen Shot 2022-01-17 at 17 18 08](https://user-images.githubusercontent.com/932136/149740065-9083407b-9d2c-46d3-ac73-dfb2b2a15f0f.png)

## 信号を受信したことを知らせる画面

**接触のデータを無理矢理表示しているので値が高く出ていますが、実際には基準値を超えるデータは表示されません**

![Screen Shot 2022-01-17 at 17 22 48](https://user-images.githubusercontent.com/932136/149740158-7ba96a86-f646-4ea9-8122-16f650d0c770.png)

![Screen Shot 2022-01-17 at 17

[2022-01-17 11:21] keiji commented on #750
## 接触（受信）無し画面
![Screen Shot 2022-01-17 at 20 20 54](https://user-images.githubusercontent.com/932136/149760833-6cba43d9-bd72-45f3-9de8-677f5b455e6a.png)

[2022-01-17 11:24] keiji commented on #750
## エラーメッセージ

![Screen Shot 2022-01-17 at 20 24 05](https://user-images.githubusercontent.com/932136/149761216-a312c062-7aa9-4bab-b161-0bfcdc579202.png)

[2022-01-17 13:04] keiji opened #752 "ExposureWindowに対応する日付のDailySummayが存在しないことがある"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://github.com/cocoa-mhlw/cocoa/issues/744

に関連して、ExposureWindowに対応する日付（同じ日付）のDailySummayが存在しないことがある。

DailySummayはExposureWindowから計算されるものなので、なぜかわからない。

## 解決策についてお書きください / Describe the solution you'd like

調査をして原因が分って修正できるならやる。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

対応しない。

https://github

[2022-01-17 16:00] daisuke-nogami commented on #673
こちら、今のパラメータでは端末を50cm以内など非常に近接させた時には、15分未満でも閾値を超えることがあるためですね…（多様な端末で、1m/2mを区分しつつ1mを漏らさず検知するためには、「15分未満で閾値を超えないようにする」のは難しいと考えます）
考慮漏れすいません。

現時点で、「濃厚接触者にあたる可能性があり行政検査の対象とする」ときの条件としては15分以上となる必要がありますので、条件判定にExposure Windowの接触時間の合計を足す必要があり、その場合には、閾値以下の信号検知を表示する画面についても、閾値を超える数値が表示されてしまうので、表示の修正が必要ですね。

表示修正を少し検討してみます。

[2022-01-17 16:12] keiji commented on #673
いっそ1mと言う記述をはずして、条件をぜんぶ表示するようにしましょうか。

※ 現在の基準値は1170以上のスコアです。

※ 現在の基準値は1170以上のスコア、かつ15分以上の時間です。

※ 現在の基準値は1170以上のスコア、かつ15分以上の時間、かつ20db以上の電波強度（減衰）です。

みたいなイメージです。
一般利用者にはわかりにくいですか…？

[2022-01-17 17:47] daisuke-nogami commented on #673
確かに、接触通知を出さなかった画面で出すなら

が正しくて1番よさそうな表現ですね。
アプリの説明として「1m以内15分以上の接触を通知する」ことが掲げられているので、
軽い理解でよい利用者なら「この組み合わせが1ｍ以内を判断する条件なのか」と思うでしょうし、
もう少し詳しく知りたい方には、スコアの説明をひと言でするのは難しいので、アプリ外で解説する必要がありますし…

[2022-01-17 23:48] #723 closed, assigned to kazuhiro4949

[2022-01-18 01:06] kazuhiro4949 commented on #703
↑の状態が発生しているのは遷移前の接触結果確認のときでした。
Configの通信などが行われた時にラグが発生するケースが出そうです。

CommandやInitializeのイベント自体はasyncとなっており、非同期に実行はされていました。

ボタンはユーザー操作にあたるものでレスポンスが必要なため、押したらUserDialogsのShowLoadingを呼んで完了したらHideするで検討しています。
遷移後は画面表示が一瞬遅延する可能性がありますが、連続で画面全体を覆う読み込みを表示させるのも良くないのと少ししたら表示されるので一旦そのままにしようと思います。

[2022-01-18 01:23] daisuke-nogami opened #754 "リスクスコアが15分未満の接触で閾値を越えたときの対応が考慮されていない"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

確実に1m以内・15分以上の接触を拾うためのパラメータを設定しているので、特定の条件においては
14分以下であってもリスクスコアが閾値を超えることがある。
この場合、陽性者との接触確認画面で、14分未満の接触があった日が表示されて、
「15分以上の接触」が記載されることが期待されている状態と齟齬がでる。

これを無くすためにExposure WindowのScanInstanceの時間合計を判断条件に加えると、
今度は、閾値以下の信号受信が表示される画面に閾値以上のスコアが表示される日が出る。

## 解決策についてお書きください / Describe the solution you'd like

閾値に、Exposure Window

[2022-01-18 01:23] daisuke-nogami commented on #673
#754 としてissueを立てました！

[2022-01-18 01:25] daisuke-nogami commented on #754
設定ファイルは、
cocoa/documents/static/exposure_configuration/risk_calculation_configuration.json
を以下の様になおす。

[code]

[2022-01-18 03:50] daisuke-nogami opened #755 "現在のENv2のパラメータではiPhoneの接触通知を出す感度が低いのを改善する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

理論値と実機の長時間接触のデータ収集に基づいてパラメータを設計していたが、
パラメータ検証で短時間の接触を模擬したところ、iPhone同士の接触通知の発生感度が非常に低くなっていた。

背景：
電波強度は、同じ距離であっても端末の向きによって変化する。
事前の調査では、iPhoneの電波強度はよく調整されているとの情報があったため、Android機種を多めにデータ収集を行った。
その段階では、Android, iPhoneともに、端末の向きによる電波強度の変化は少なかったため、
理論値を元にパラメータを設計した。
パラメータ検証では、シェアの大きいiPhoneを中心に15分の接触を多数発生させたところ、
Androidは引き続き端末の向きに

[2022-01-18 04:13] keiji commented on #755
iOSとAndroidでパラメーターファイル自体分けちゃいますかと聞こうとして、もともとAndroidとiOSで設定パラメーター分けてあったと気づいた。

[2022-01-18 04:47] daisuke-nogami commented on #755
どうもiOS側が発信するAdvertisingのTxPowerに傾向の違いがあるか、
あるいはAndroidのキャリブレーションの仕組みが上手くワークしてないようで、
陽性者側のOSが分からないとパラメータを決め打ちできないんです…
（Android側も、リファレンス機であるPixel4を間に挟んだキャリブレーション情報しかもっていないので
　しかたないと思いますが）

[2022-01-18 04:47] #744 closed, assigned to keiji

[2022-01-18 04:50] keiji commented on #755
いや、Xamarin.ExposureNotificationの時みたいにAndroid/iOSで設定共有してたらURL分けるとか必要でしたけど、Cappuccinoなら何の問題もないです。

[2022-01-18 04:51] #755 closed, assigned to nobody

[2022-01-18 04:56] daisuke-nogami commented on #755
接触者側端末のEN（特にAndroid）に、「接触した陽性者側の端末のOSがiOSならこのパラメータ、Androidならこのパラメータ」と設定できればいいんですが、そういう設定はなかったので…（接触者側のOSだけ影響するなら楽だった）

[2022-01-18 05:51] keiji opened #760 "Releaseビルドで接触確認が実行されない"
## 不具合の内容 / Describe the bug

開発チームからの指摘。

Releaseビルドで接触確認が動かない。

## 再現手順 / Steps to reproduce

Releaseビルドで接触確認機能が動かない。

## 期待される挙動 / Expected behavior

Releaseビルドで接触確認機能が動く。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス： すべて
- OS：Android, iOS
- バージョン：COCOA2

## その他 / Additional context

[2022-01-18 05:55] keiji opened #761 "設定の「アプリバージョン」に「Beta」を付ける（ベータ版対応）"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

AndroidManifestに指定するバージョン名にBetaを含めようと思ったけど、　#743 に阻まれた。

## 解決策についてお書きください / Describe the solution you'd like

View側で「バージョン名＋Beta」を付けることにする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

Betaをつけない。
それだとややこしいのでやっぱりBetaを付ける。

## その他 / Additional context

[2022-01-18 06:07] #760 closed, assigned to keiji

[2022-01-18 06:16] keiji opened #762 "ホーム画面から開始した接触確認処理が終わったときにホーム画面の最終確認日時が更新されない"
## 不具合の内容 / Describe the bug
開発チームからの指摘。

COCOA1ではホーム画面から開始した接触確認処理が完了すると、ホーム画面の更新をして最終確認日時も更新される。

しかし、COCOA2では画面を遷移しないと更新されない。

## 再現手順 / Steps to reproduce

接触確認処理が実行される条件下（新しい診断キーがある）で、COCOAを起動してしばらく待つ。

## 期待される挙動 / Expected behavior

ホーム画面から開始した接触確認処理が終わったときにホーム画面の最終確認日時が更新される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：すべて
- OS：Android/iOS
- バージョン：COCOA2

## その他 / Additiona

[2022-01-18 07:10] #762 closed, assigned to keiji

[2022-01-18 08:07] keiji commented on #750
COCOA2では接触情報の保存にSecureStorageを使わないようにしたので `暗号化され、` を削除した方がいい。

COCOAの対象バージョンのAndroid,iOSはストレージが標準で暗号化されているので、残っていても必ずしも間違いとは言えないかもしれないとも考えたけど、アプリのプライバシーで明示すると言うことは、やはり、アプリレベルで暗号化していることを前提にしていると思われる。またはSecureStorageを使うように変更するか。

![Screen Shot 2022-01-18 at 17 03 02](https://user-images.githubusercontent.com/932136/149895807-286c4577-36df-47f2-bf41-b3380119c485.png)

これは検討Issueにした方がいいかもしれない。

[2022-01-18 08:14] #761 closed, assigned to keiji

[2022-01-18 08:19] keiji commented on #752
これ検討Issueだった。reopenします

[2022-01-18 08:20] keiji commented on #754
やります

[2022-01-18 09:40] kazuhiro4949 commented on #750
こちらのプルリクで文言を追加する必要があるものがでました。
ローディング中であることを示す文言で重要ではないですが、翻訳が必要になります。
https://github.com/cocoa-mhlw/cocoa/pull/753

[2022-01-18 09:49] keiji commented on #754
これ思ったんですが、14分とか基準値未満であればスコアを表示しなくていいのでは?

![Screen Shot 2022-01-18 at 18 50 03](https://user-images.githubusercontent.com/932136/149913263-58a16b28-8eee-42a9-821a-ce28b600ab38.png)

[2022-01-18 09:51] #747 closed, assigned to keiji

[2022-01-18 09:53] keiji commented on #754
リストタイトルも「受信した信号と通知をしない理由」とかにして、日付の下に

スコア1200のため通知対象外

とか

14分間の接触のため通知対象外

と言う記載にする

[2022-01-18 10:14] kazuhiro4949 opened #767 "[Android6, 7限定] ENポップアップにおいて、「キャンセル」を押下した場合に強制終了となるケースがある"
## 不具合の内容 / Describe the bug

【Android下記以外のバージョン】
　　→「キャンセル」ボタンを押下した後、ENポップアップが閉じ、「接触検知をご利用いただくために」画面に戻る。
【Android6、7】
　　→「キャンセル」ボタンを押下した後、強制終了となる

## 再現手順 / Steps to reproduce

ENポップアップ画面で「キャンセル」押下

## 期待される挙動 / Expected behavior

ENポップアップ画面で「キャンセル」押下後、ホーム画面に遷移すること

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：-
- OS：Android
- バージョン：6, 7

## その他 / Additional context

[2022-01-18 10:59] keiji commented on #754
@daisuke-nogami
こんな感じで、
電波を受信したことを利用者に示すことで接触確認の仕組み自体が正常に動作していることを示し、
下回った基準値に限定した値を示すことで、過剰な不安を与えないように配慮しています。

![Screen Shot 2022-01-18 at 19 53 59](https://user-images.githubusercontent.com/932136/149924001-5e2d2666-b29e-4954-9dc8-b5675fa104d8.png)

![Screen Shot 2022-01-18 at 19 57 42](https://user-images.githubusercontent.com/932136/149924608-d82e4bfe-c689-4bf7-b19b-c17a5ce8e47d.png)

[2022-01-18 12:10] daisuke-nogami commented on #754
危険であることをAND条件で判断するときに、いずれかの条件が否定されたので危険ではない、というのは理屈としては通ってますが、スコアという分かりにくいものがならぶの、なんとなく都合のよい部分だけみせてる感じがしてしまいます。

もともと、距離と時間で危険を判断しているので、そのどちらかを否定することがわかればよいとすると、スコアは距離・時間の合成変数なので、時間で割った値をスコアとしてみせるのはどうでしょうか。
（実際、閾値は、その「スコア」に900秒をかけて定義してます）

ただ、また新しいものが出てきちゃいますが…

[2022-01-18 12:31] keiji commented on #754
わかりました。
この画面については引き続き、利用者の受け止め方を注視して、何かあればすぐに改善できるようにしましょう。

スコアを秒数で割る件については、そのままでも、割っても、利用者にわかりにくいのは変わりないと思うので（下部の注釈でカバーするとして）このままでよいと思います。

[2022-01-18 12:32] keiji commented on #754
ちなみにスコア1100、時間が18分。みたいなパターンはないですか？

その場合はスコアだけ出す感じでしょうか。

[2022-01-18 13:05] kazuhiro4949 opened #768 "言語設定が「日本語、English、简体中文」以外の場合に表示言語が「English」にならない場合がある"
## 不具合の内容 / Describe the bug

テストチームからの指摘

OSの言語設定を「日本語、English、简体中文」以外の言語に設定した際に、前述の三言語のうちで直近に選択していた言語で表示される。

## 再現手順 / Steps to reproduce

1. OSの「設定」より、「言語と地域」の設定を「日本語」に設定する。
2. OSの「設定」より、「言語と地域」の設定を「한국어」に設定する。
3. アプリを起動し、「ホーム」画面で表示されている言語を確認する。

## 期待される挙動 / Expected behavior

「言語と地域」が「日本語、English,简体中文」以外に設定されている場合に、COCOA内の言語表示が「English」で表記されること。

## スクリーンショット / Screenshots

## 動作環境 / Environm

[2022-01-18 13:10] #703 closed, assigned to kazuhiro4949

[2022-01-18 13:14] kazuhiro4949 commented on #768
Resources.jaのテキストが使われているが、フォントはSTHeitiになっている

[2022-01-18 13:20] keiji commented on #768
以前も話が出た覚えがありますが、前のタスクが残っているだけじゃないかと思います。

Xamarin.Formsはフォントの大きさ変えたり言語を変えても反映されず、一回タスクをキルしないと反映されないので。

タスクのない状態（スプラッシュ画面が表示される）から始めてるか、明日にでもテスト工程を確認してみましょう。

[2022-01-18 13:53] kazuhiro4949 commented on #768
原因はCFBundleDevelopmentRegionの指定なのですが、最新のdevelopではすでに修正済みのようでした

https://github.com/cocoa-mhlw/cocoa/commit/eb2897a80a6ea8d1b7d2457bfb0c4c1363e471b9#diff-2dd0ce0162569b348189ecc08bb24c39c6a0fb7d519ab9797237c1111644abaf

[2022-01-18 13:53] #768 closed, assigned to kazuhiro4949

[2022-01-18 14:08] daisuke-nogami commented on #754
ありますね。数m以上の距離でも数時間などの場合には数十分というのは出てきてしまいます。
そういう場合には、やはりスコアだけが良いでしょうね、必要以上に不安になったり原因を探したくなると思います。

「信号の強さ・時間から算出したスコアで判断する」が大前提で、
「ただし、時間が15分未満なら（リスクが少ないので）通知は出さない」
※なんで15分未満でもスコアが基準値を超えるんじゃ ⇒ 技術的制約により安全を取りました
という考え方がにじみ出るようにはしたいですね。

[2022-01-18 14:10] keiji commented on #767
Android6、7かー。
ログがないとどうしようもない感じのやつですね。

部屋の片隅に転がっていたNexus 9がAndroid 7だった…

[2022-01-18 14:14] keiji commented on #754
まとめると、こんな感じでしょうか。

![exam3](https://user-images.githubusercontent.com/932136/149953798-41dae923-2e86-4de2-9391-b39851e46be1.png)

[2022-01-18 14:44] keiji commented on #767
いまやってみたらCOCOA v1.4.1でも起きてますね……

https://user-images.githubusercontent.com/932136/149958932-8a7cd4e7-38f3-4917-8415-4e37a03776b0.mov

よし。直すか…

----
記録のために再度現象を発生させた上で動作ログを取った。

[cocoa_log_b74f2683-5588-4d77-a90e-3214276a3209.zip](https://github.com/cocoa-mhlw/cocoa/files/7890175/cocoa_log_b74f2683-5588-4d77-a90e-3214276a3209.zip)

記録されているErrorは3件

[code]

どれもCOCOA2には存在しない箇所っぽい。

[2022-01-18 14:58] daisuke-nogami commented on #754
はい！

[2022-01-18 15:08] keiji commented on #767
Work for me

https://user-images.githubusercontent.com/932136/149963361-fed03203-e5df-4340-be5b-b18534fa0769.mov

[2022-01-18 15:15] keiji commented on #767
COCOAは develop ブランチの最新 3ba533f4c7aedcb60ea2b65f04703ccca89aa491 をReleaseビルドしたもので実験。

そのほか環境は次の通り。

Android 7.1.1
![Screen Shot 2022-01-19 at 0 14 14](https://user-images.githubusercontent.com/932136/149964484-9d932079-c5e9-42c6-98f6-3e34c9cd411d.png)

EN API v1.8 (214815000)
![Screen Shot 2022-01-19 at 0 14 28](https://user-images.githubusercontent.com/932136/149964509-9c6fe473-e8fd-42db-b6a3-b860

[2022-01-18 15:25] keiji commented on #754
見出しの「スコア」はどうしましょう。
「受信した信号」に変えましょうか

[2022-01-18 15:30] keiji opened #769 "[Android] ホーム画面でENが有効になった時に接触確認タスクを実行する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?
#767 をやっていて気づいたこと。

ENを無効にしたとか、他の接触確認アプリに切り替えた状態でホーム画面を表示すると「ENを有効にするか」尋ねるダイアログが表示される。

ダイアログにYESと答えると接触確認APIは有効になるが、接触確認タスクは実行されない（定期実行とホーム画面を開きなおしたときの実行はされる）

## 解決策についてお書きください / Describe the solution you'd like

ENを有効にしたタイミングで接触確認タスクも実行されるとうれしい。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

慌てて接触確認

[2022-01-18 15:44] daisuke-nogami commented on #754
そうしましよう！
スコアだとなにのことか分かりにくいですしね…

[2022-01-18 16:16] keiji commented on #754
こんな感じでPull Request出します。改善点が見えたらまた変えると言うことで。

![Screen Shot 2022-01-19 at 1 15 26](https://user-images.githubusercontent.com/932136/149975638-41df10d9-eb94-4261-9356-43d8c84346be.png)

[2022-01-18 16:49] keiji commented on #754
Pull Requestだしました。

[2022-01-18 22:57] keiji opened #772 "機内モードを無効にしたあとに「接触有無を確認できません」が継続する"
## 不具合の内容 / Describe the bug
開発チームからの指摘。

機内モードにして Bluetooth を OFF にすると「停止中」になるが、機内モードを解除すると「動作中」にならずに「接触有無を確認できません」になることがある。
一度「接触有無を確認できません」になると、アプリを再起動しても「動作中」にならず「接触有無を確認できません」のままになる。

## 再現手順 / Steps to reproduce

1. COCOAを起動して
2. 機内モードにする
3. COCOAの表示が「接触有無を確認できません」になっていることを確認する
4. 機内モードを解除する
5. COCOAの表示が「接触有無を確認できません」のままになる

## 期待される挙動 / Expected behavior

機内モードを解除したら「停止中」も正常に戻る

## スクリーンショッ

[2022-01-19 01:27] #772 closed, assigned to keiji

[2022-01-19 03:40] keiji opened #774 "[iOS] 陽性情報登録中にプログレスダイアログが表示されない"
## 不具合の内容 / Describe the bug

開発チームからの指摘。#692 のiOS版
むしろ #692 の対応でiOS側に影響したと思われるので、Issueは2つとも開けて両プラットフォームでの確認後Closeにする。

## 再現手順 / Steps to reproduce

iOS版のCOCOAで陽性情報登録をする。

## 期待される挙動 / Expected behavior

陽性情報登録中（ボタンを押してからサーバーとの通信を終えるまで）プログレスダイアログが表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：対応するiOS端末全部
- OS：iOS
- バージョン：COCOA2

## その他 / Additional context

[2022-01-19 04:53] keiji commented on #750
https://github.com/cocoa-mhlw/cocoa/issues/750#issuecomment-1015160660

「暗号化され、」「暗号化された」を削除

[code]

#753 追加

[code]

#771 変更（予定）

「スコア」を「受信した信号」に変更

[code]

#771 追加（予定）

[code]

#771  「一般的な条件では」変更（予定）

「一般的な条件では」を追記

[code]

[2022-01-19 05:31] #769 closed, assigned to keiji

[2022-01-19 05:52] keiji opened #775 "陽性情報登録でサーバーにアクセスできないときにダイアログが表示されない"
## 不具合の内容 / Describe the bug

表題の通り。

## 再現手順 / Steps to reproduce

機内モードに設定して、サーバーにアクセスできないときに陽性情報登録をする。

## 期待される挙動 / Expected behavior

「センターに接続できません」「サーバーに接続できません」とか「ご不便おかけして申し訳ありません。ネットワークが不安定か、サーバーが混み合っている可能性があります。時間をおいて再度お試しください。」などがダイアログで表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：すべて
- OS：Android、iOS
- バージョン：COCOA2

## その他 / Additional context

[2022-01-19 06:33] keiji commented on #775
COCOA1では「処理番号を再度入力してください」というダイアログが出るけど、これはミスリードなので変えた。

![Screen Shot 2022-01-19 at 15 32 44](https://user-images.githubusercontent.com/932136/150076877-1e81ea13-2593-4fe8-8353-0c5cbefb2cba.png)

[2022-01-19 06:37] keiji opened #778 "各言語リソースの<data>をそろえる"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#750 に関連。

機能を追加していて、言語リソースとしてデフォルト（英語）と日本語についてはそれぞれ言語リソースを整備（<data>を追加）してきたが、中国語については対応していたり、していなかったりする。

## 解決策についてお書きください / Describe the solution you'd like

追加された言語リソースについて、中国語についても同じ`<data>`を用意して、翻訳が届いたときにすぐに置き換えできるようにしておく。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

する。

## その他 / Additional c

[2022-01-19 07:24] tmurakami commented on #754
すみません。少し気になったのでお聞かせください。

Duration の重みをつけなければ (immediate, near, medium を 100% に、other を 0% にすれば) ScoreSum はScanInstanceの時間合計になると思うので、新たに条件を加える必要はなくなるのではないかと思いますがいかがでしょうか？

Duration に重みをつけている意図は何かありますか？

[2022-01-19 10:32] #754 closed, assigned to keiji

[2022-01-19 10:39] keiji commented on #775
ダイアログタイトルは「陽性情報の登録ができませんでした」の方が良いらしい。

[2022-01-19 10:53] keiji opened #780 "診断キー一覧（list.json）の取得に失敗したとき、動作状況が「接触有無が確認できません」にならない"
## 不具合の内容 / Describe the bug
開発チームからの指摘。

list.json の取得に失敗（404 NOT FOUNDなど）していても、動作状況が「動作中」のままになる。

## 再現手順 / Steps to reproduce

存在しない診断キー一覧のURLを読みに行く。

## 期待される挙動 / Expected behavior

診断キー一覧の取得に失敗したら「接触有無が確認できません」が表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：すべて
- OS：Android, iOS
- バージョン：COCOA2

## その他 / Additional context

[2022-01-19 12:38] keiji opened #782 "陽性情報登録時にTEKの共有を拒否したときの動作が想定と異なる"
## 不具合の内容 / Describe the bug
テストチームからの指摘

陽性情報登録時にTEK（ランダム識別子）を共有するかを尋ねられるが、この際「共有しない」を選択したときの動作が想定と異なる。

## 再現手順 / Steps to reproduce

1. '陽性情報登録画面' に行き、
2. 必要項目（処理番号はダミーでもいい）を入力して、
3. 「登録する」ボタンを押す
4. 「陽性情報の登録をします」ダイアログの「登録」を押す
5. 表示される「情報（ランダム識別子）を共有しますか？」のダイアログまたは画面で「共有しない」を選択する

iOS：なにも起こらず、ダイアログが消えるだけ
Android：何度でも「共有しますか？」のダイアログが表示されてキャンセルできない

## 期待される挙動 / Expected behavior

「陽性情報の登録ができませんでし

[2022-01-19 12:40] keiji commented on #782
COCOA1だと同様の操作をするとダイアログが表示される。メッセージが「処理番号を再度入力してください」なのは明らかにおかしいので「登録をキャンセルしました」の扱いにする。

![Screen Shot 2022-01-19 at 21 38 38](https://user-images.githubusercontent.com/932136/150132404-62053821-1887-41c1-9f4b-b06ede3248d1.png)

[2022-01-19 12:54] keiji opened #783 "一部端末で接触通知OFFで陽性登録をした時の挙動が想定と異なる"
## 不具合の内容 / Describe the bug
テストチームからの指摘。

接触確認APIを無効にしている状態で陽性登録をしたときに「COVID-19接触のログ記録を有効にしてください」のダイアログが出ない端末がある。

## 再現手順 / Steps to reproduce

接触確認APIを無効に設定した状態で、

1. '陽性情報登録画面' に行き、
2. 必要項目（処理番号はダミーでもいい）を入力して、
3. 「登録する」ボタンを押す
4. 「陽性情報の登録をします」ダイアログの「登録」を押す
5.  ダイアログが表示されない（端末がある）

## 期待される挙動 / Expected behavior

ダイアログが表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：iPhone8
-

[2022-01-19 12:57] keiji commented on #783
指摘を受けて初めてこの操作をしてみたら、たしかにだいたいの端末でこのダイアログが出ますね。

![Screen Shot 2022-01-19 at 21 52 54](https://user-images.githubusercontent.com/932136/150134745-477be890-028c-40ca-a722-d467b8033c46.png)

機種とOSバージョンが固定されているので、同じ機種とOSの組み合わせで再現できるかを確認して、場合によっては対応せず出いいかと思いますが、いかがですか？ > @kazuhiro4949

[2022-01-19 12:59] keiji commented on #783
COCOA2でだけ起きている現象なんだろうか。それも併せて確認しよう。

[2022-01-19 13:02] keiji opened #784 "「COVID-19接触のログ記録」と言う表現について"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

#783 を調査中に気づいたこと。

接触確認APIを無効にしている状態で陽性登録をしたときに「COVID-19接触のログ記録を有効にしてください」のダイアログが出るが、「COVID-19接触のログ記録」という表現はかなり分かりづらい。

![Screen Shot 2022-01-19 at 21 52 54](https://user-images.githubusercontent.com/932136/150135231-887acc69-c8a0-4415-85d7-8eee1188d08d.png)

## 解決策についてお書きください / Describe the solution you'd like

「接触通知を有効にし

[2022-01-19 13:58] daisuke-nogami commented on #754
重みをつけないと1.0m以内という距離が判断できないからです。
距離⇒電波強度の分布を計算すると、以下の図の様に、1.0m/1.5m/2.0mにはかなり重なりがあり、
「特定の電波強度以上だけカウント」すると、検知しない/検知しすぎ、ということがおこります。
https://user-images.githubusercontent.com/71449929/148068023-b9909afc-b366-4a44-addc-64fe22eb98e4.png
（たとえば50dBを閾値にしてしまうと検知漏れが増え、55dBに閾値を置くと1.5mも相当数カウントしてしまう）

ですが、受信時間に掛けるWeightを、複数のDuration毎に変えてやることで、 スコア÷受信時間の値から
特定の距離であるかどうかの判別精度が上がる、という理由です。

画像初出：issue #605 の以下コメン

[2022-01-19 15:05] #775 closed, assigned to keiji

[2022-01-19 15:05] #692 closed, assigned to nobody

[2022-01-19 15:33] tmurakami commented on #754
ご返答ありがとうございます。
意図はわかりました。

失礼いたしました。
issue タイトルが画面作成についてでしたので見逃しておりました。

**追記:**
迷ったのですが、書いておきます。
あくまで個人的な感想ですが
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0250826 の論文等を見る限り、「確実に1m以内」を判定するのは難しいと感じています。
バスや電車以外にも、例えばスマホケースの有無や湿度によっても電波強度に多少なりとも違いがでると思うので、個人的には厳密に距離を測定するのは難しいだろうと思っています。

[2022-01-19 16:52] keiji commented on #783
発生状況については別途検討するとして、Issueを見ていて思ったのは、

1. '陽性情報登録画面' に行き、
2. 必要項目（処理番号はダミーでもいい）を入力して、
3. 「登録する」ボタンを押す
4. 「陽性情報の登録をします」ダイアログの「登録」を押す

ここまでしないと「接触確認APIが有効ではないよ」と教えてくれないアプリは不親切だと思う。

陽性情報登録画面を表示したタイミングで表示するPull Request（ #786 ）を出したので、どういう経緯でこの挙動になっているのかを確認する。

[2022-01-19 18:09] b-wind commented on #784
各OSでの設定画面では以下の様な項目になっています。

- iOS ：「接触通知」->「接触通知をオンにする」
- Android ：「COVID-19 接触通知システム」->「接触通知システムを使用」

各OS・各言語での設定項目表記に合わせるのが良いのでは無いかと思いました。

[2022-01-19 18:12] b-wind commented on #784
こちらは様々なケースが考えられ、あまり自信が無いのですが
接触通知・接触通知システムがオフになっている状態はログもすべて削除されているのでは無かったかな？と。
その状態であえてオンにして陽性者登録する際に送られるデータはどんな意味があるのかと疑問に思いました。

[2022-01-19 18:18] b-wind commented on #783
様々なケースが考えられ、あまり自信が無いのですが
接触通知・接触通知システムがオフになっている状態はログもすべて削除されているのでは無かったかな？と。
その状態でわざわざオンにした直後に陽性者登録する事で送信されるデータはどんな内容になるのかなと疑問に思いました。

[2022-01-19 23:50] keiji commented on #784
各プラットフォーム毎に合わせるのが理想として、Xamarinでそれをやると共通処理部分に分岐ができてしまうので、現時点では避けたいところです。

Androidで「接触通知」と「システム」を取って記載しても「COVID-19接触のログ記録」よりは馴染みのある言葉だと思うので、一旦はまとめてしまうのが良いと思います。

[2022-01-20 00:17] keiji commented on #783
ありがとうございます。
ぼくの試した限り、システム設定を通じて接触通知をOFFにしたケースや、接触確認アプリ自体をアンインストールしたケースでは、端末内部のTEKなどが直ちに削除されるという挙動ではなく、数時間は残っているようです。

おそらく誤操作対策だと思います。また複数の接触確認アプリを切り替えるとき、例えばアプリAからアプリCに切り替えるときの挙動は、

1. アプリCから接触通知の有効化をリクエスト
2. システムが利用者にアプリを切り替えて良いか承認を求めるダイアログを出す
2. 利用者が切り替えを承認
3. システムが接触通知を無効化する（アプリAが接触通知から外れる）
4. アプリCから接触通知の有効化をリクエスト

という形になり、3で一時的にでも接触通知は無効化されます（4でアプリCが接触通知を有効化しないと、接触通知は無効のままになる）。

そういうハンドリングの都合

[2022-01-20 01:15] #782 closed, assigned to keiji

[2022-01-20 02:19] #780 closed, assigned to keiji

[2022-01-20 02:32] keiji commented on #702
@kazuhiro4949
こちらどうしましょう

[2022-01-20 02:35] kazuhiro4949 commented on #702
見落としてました、対応します

[2022-01-20 02:49] b-wind commented on #783
それはそれで分からなくは無いですが、直感に反する挙動ですね。
COCOA 自身の責任範囲では無いとは言え、それを理解している人は多くは無さそうですし。

こちらの目的は理解出来ます。想定の上であれば「状態によらず陽性者登録出来る」と言う仕様自体は問題無いと考えます。

こちらの仕様は知らなかったのですが、陽性者登録自体あくまで任意の筈ですよね？
理由は様々でしょうけれど登録する気が無いのに処理番号が繰り返し送られてくるパターンがあるのなら嬉しく無さそう。
陽性者登録する気は無いのでSMSを止めて貰うと言うフローは無いのでしょうか？

[2022-01-20 03:03] b-wind commented on #784
日本語設定では「システム」を除いても大きくは影響無いかなと思えますね。
英中環境ではまだ確認していないですが、さほど変わらないとは想定しています。

余談ですが iOS における有効化後の状態表示は「接触のログ記録の状況」という項目になっており、現状の表記はここから取ったのかも知れません。
Apple の日本語訳があまりよろしくない感じです。

[2022-01-20 03:10] keiji commented on #783
処理番号が繰り返し送られてきて嬉しくない人がいるという点については、ぼくも個人的に同意するところで、改善案についてもチーム内で検討を進めています。
基本的には、何かすればさまざまなところに影響が（いい意味でも、悪い意味でも）あるので、良い影響が大きく、悪い影響が極力小さくなるように努力を続けています。

処理番号の配布方法の変更などでもお気づきのことと思いますが、現状課題があって、解決策を検討していたとしても、未確定事項については（COCOAの中に収まらない部分については特に）表に出せないこともある点についてご理解いただけますと幸いです。

[2022-01-20 03:11] keiji commented on #783
ひとまずこのIssueについては、機種＋バージョン固有の問題であることを確認した上でv2.0.0では対応しないことになりました。

クローズはせず置いておきます。

[2022-01-20 03:32] keiji commented on #784
開発チームに教えてもらったのですが、iOSの接触通知の有効かダイアログでかなり違い用語が使われてるんですね。
そして、背景のテキストに「接触検知」と書いてある。

![IMG_0039](https://user-images.githubusercontent.com/932136/150266980-74d2b83d-b52c-4bcc-b571-9e61adece049.PNG)

今後は接触通知にしていく流れで、この部分の文言も「接触通知」にしたいですね。

（そういえば、接触確認アプリって呼び方もしてるけど、これも厳密には接触通知アプリって言うべきなのか…）

[2022-01-20 03:33] #702 closed, assigned to kazuhiro4949

[2022-01-20 03:39] b-wind commented on #783
さし当たり、個人的には予想していない挙動であった事で驚いた。と言うのが素直な所です。
また、陽性者登録周りについては第三者としては確認方法が無く、仕様について知る方法が少ないと言うのもあります。

現時点でどうこうして欲しいと言う意見・要望は有りません。
ただ、今どうなっているかについて知らない事が多いのだなと言う事に改めて気づく切っ掛けにはなりました。

[2022-01-20 04:45] #784 closed, assigned to nobody

[2022-01-20 06:46] b-wind commented on #784
接触通知システム（OS による API）を利用した接触確認アプリ……  なんですかねぇ。

（暴露通知という呼称はいつの間にかどこかに行きました）

[2022-01-20 06:59] keiji opened #788 "ExposureRiskCalculationConfigurationのキャッシュとの比較が効いていない"
## 不具合の内容 / Describe the bug
開発チームからの指摘

`ExposureRiskCalculationConfigurationRepository`では、ダウンロードしたファイルをキャッシュにあるファイルと比較して一致していれば更新しない（ファイルを置き換えない）が、ファイルが一致する状態でも常に"ExposureRiskCalculationConfiguration have been changed."と表示される。

[code]

## 再現手順 / Steps to reproduce

1. COCOAを開く（ExposureRiskCalculationConfigurationが読み込まれる）
2. COCOAを閉じてタスクを消す
3. COCOAを開く（ExposureRiskCalculationConfigurationが読み込まれる）

[2022-01-20 07:42] #788 closed, assigned to keiji

[2022-01-20 07:44] keiji commented on #788
同種の誤りがないか確認したけど、いまのところ見当たらない。

`== null` が結構多いので、 `is null`に置き換えたい。

[2022-01-20 14:30] #778 closed, assigned to keiji

[2022-01-20 15:42] daisuke-nogami commented on #754
いえいえ、直近の開発の活発さの中で、変なところに埋もれているコメントまで拾うのは無理ですのでお気になさらず…

おっしゃるとおりで、「1m以内」というのを判定するのは非常に難しいです。
やり取りしている某社の技術者の方からも、全く同じ「1mを判定しようと思うな」というコメントを頂いています。
ただ、行政側と話すと、濃厚接触の基準として一度定着している「1m」を動かすことの重たさを感じます。
（積極的疫学調査実施要領でも、2mという距離があったりしますし、保健所の判定とは別、という位置づけに変えているのですが、どうにも関係者全ての記憶のキャッシュを上書きするのは難しいようです…）

まだ「2m以内」になればもう少し可能性がありそうなのですが、1mと2mを区別するのが至難の業で、
今回は、ある程度「1m～2m」も反応してしまうことを許容してパラメータ設定をしています。
（この距離判定については

[2022-01-21 00:32] keiji commented on #784
暴露は訳語として正しくても語感は重いですよね。
ちなみに、接触通知の英訳としてContact Notificationになっていました。Exposureで慣れている身からすると「え？」と思ったのですが、そもそもCOCOA自体がCOVID-19 Contact-Confirming Applicationなんですよね。

テキストの表記揺れチェックと修正もどこかのタイミングでやらないとなぁ。

[2022-01-21 00:54] keiji opened #790 "[Android] BluetoothをOFFにした状態で「対処方法を確認」ボタンを押してもなにも起こらない"
テストチームからの指摘

## 不具合の内容 / Describe the bug

BluetoothをOffにした状態でホーム画面の「対処方法を確認」ボタンを押すと、通常であればBluetoothの設定画面が表示されるはずだが、なにも起こらないケースがある。

ログには`SecurityException`が記録されている。

[code]
## 再現手順 / Steps to reproduce

現象の発生する機種で、

1. 端末のBluetoothを無効にして、
2. COCOAを起動して、
3. 「対処方法を確認」ボタンを押す

## 期待される挙動 / Expected behavior

Bluetoothの設定画面が表示される。

## 動作環境 / Environments

- デバイス：SC-02M 03
- OS：Android 9.0
- バージョン：COCO

[2022-01-21 00:59] keiji opened #791 "[Android] 位置情報をOFFに設定した時に、動作状況が停止中にならない"
テストチームからの確認

## 不具合の内容 / Describe the bug

位置情報をOFFに設定したときにホーム画面の表示が「停止中」にならないケースがある

## 再現手順 / Steps to reproduce

1. 位置情報をOFFにして、
2. COCOAを起動する

## 期待される挙動 / Expected behavior

位置情報をOFFにするとホーム画面の表示が「停止中」になる。

## 動作環境 / Environments

- デバイス：Pixel 5
- OS：Android 11.0
- バージョン：COCOA2

## その他 / Additional context

結論として問題ない動作であると回答。

Androidの接触確認APIで位置情報を必要とするのはAndroid 10以下。
https://support.google.co

[2022-01-21 01:00] keiji commented on #791
記録としてIssueにしただけなので閉じます。

[2022-01-21 01:00] #791 closed, assigned to nobody

[2022-01-21 01:08] keiji commented on #790
ログを見る限り、Bluetoothの設定画面を起動するのにBLUETOOTH_ADMINのパーミッションがないと怒られている。
他のケースでは問題なくBluetoothの設定画面が起動できているので、デバイス固有の制約である可能性がある。

Android 9.0特有の制約である可能性もなくはないけど（ぼくが今手元に9.0端末がないので）、Android 7.1.1とAndroid 12で問題なく動いているので、9.0のあたりだけ制約があると言うことはちょっと考えづらい。

設定画面を呼び出すコードはCOCOA1系でも使われているので、COCOA2固有の問題ではないという認識。

今後の対応としては、

 1. COCOAにBLUETOOTH_ADMINのパーミッションを付ける。　←　この方法はやり過ぎ
 2. 設定の呼び出し時にSecurityExceptionが出たらダイアログなどで「

[2022-01-21 01:18] kvaluation commented on #754
おおむね2m以内か、2mを超えているかという区分は、とても技術的にも社会的にもリーズナブルな気がします。

「近くにいた」はみなさん気にしてくれています。

一方、時間の方は、当然ですが、精度良く測定できます。
しかし、EN2ですと、ウェイトで時間相当の本当の時間ではない値に変換されてしまうので、医療ご関係者や行政とのコミュニケーションがより一層難しくなることを怖れています。

平均で2m以内のリアルな滞在時間（近接していた期間，ウェイト一切なし）を示せる方が、安定的な気がします。調べたい時に、1mか45cm以内の滞在時間も参考情報で示せたらより良いとは思います。

Apple | Googleの仕様では1mかどうか分かるかのようになっているけれど、日本の工業製品の品質との比較では1mと示せるような精度はでていない、というような説明ですと行政の納得も得やすいかも知れません。
（やっと体制が

[2022-01-21 01:54] daisuke-nogami commented on #754
時間の見せ方はなやましい所です。
ウエイト付けしていない時間も最初から出そうかとも思いましたが、
- 2台の端末と同時に接していれば時間は2倍になる
- 数時間といった非常に長い時間がでたときの恐怖感が大きい
- 人間の記憶が曖昧な場合には扱いに困る、異なるeventと紐付けられる恐れがある
など、行政・医療での活用を考えると、クセがあるデータでもあると思いますので、今回のバージョンでの提示は、あくまで「アプリの動作状況表示」に抑制しています。

ただ、Exposure Dataの表現方法については、外部の力も借りながら適切な形を見いだせればと思っています。
Exposure Dataを出力できれば、リアルなデータを元に開発チーム外でも試行錯誤可能になるので、そのような見せ方をいろいろ頂きたいですし、データの正しい読み方については議論をしていければと思っています。

[2022-01-21 03:27] keiji opened #792 "COCOA1向け設定 TransmissionRiskScores の調整"
COCOAにとって因縁のあるTransmissionRiskScoresの変更に関することなので、経緯を記録する意味でもIssueにします。

## Update

https://github.com/cocoa-mhlw/cocoa/issues/792#issuecomment-1018313189 の指摘を受けて、診断キーの`TransmissionRiskLevel`を`1`に、`TransmissionRiskScores`を次の通りとしました。

[code]

## 変更内容

COCOA1向けの設定ファイルの `TransmissionRiskScores` を次のように変更します。

[code]

 - https://github.com/cocoa-mhlw/cocoa/blob/develop/documents/static/exposure_configur

[2022-01-21 06:43] kvaluation commented on #792
@keiji 丁寧な経緯をありがとうございます。

TransmissionRiskLevel = 0の場合、COCOA1（Android）は1を採用する、という挙動は、お示しいただいたGoogle側のinternalの処理なので、信頼性・安定性がどの程度なのか（日本に告知なく変更されたりしないのか）、若干不安を感じました。

もうひとつずらして全面的にCOCOA側で管理できないものかなと思いつつ、とりあえず感じた不安をお伝えします。

[2022-01-21 06:55] kvaluation commented on #754
ありがとうございます。

追っかけ通知の説明もしないといけないので、同時接触の陽性者が多いと時間も増えることは、普及させたいと思います。

ExposureWindowの数（例えば、接触単位数）を一緒にだせたら良いかと思いました。
（説明の例：30分以内1名との接触で1個の接触単位数です。1名と50分接触で2個、2名と20分ずつの接触でも2個となります。）

動作状況表示として、感染性の観点でのウェイトはいれないログに近いデータを示すというのも一案かと。

議論をうながすにせよ、資料整理いただくにせよ、シンポジウムなど日程にしてしまうと、省庁の決断力もさらに高まっていったりするような事例に触れたことがあります（笑）。

@daisuke-nogami 様、みなさまのご発表を楽しみにしています。

[2022-01-21 08:00] keiji commented on #792
@kvaluation
ありがとうございます。ご指摘の通りだと思います。
kvaluationさん提案のパラメーターは次の通りになると理解しています（認識に誤りがあれば教えてください）。

 * サーバー側で診断キーに設定する`TransmissionRiskLevel`を`1`（RISK_LEVEL_LOWEST）とする。
 * Xamarin.ExposureNotificationの設定ファイルで`TransmissionRiskScores`を次の通り変更する。

[code]

Androidでは0番目の要素の値を、iOSでは1番目の要素の値を見ることになります。どちらも0（1から0に変えました）となり、接触は発生しない扱いにできると考えています。

この内容で変更を提案します。
その上で、たとえ最小であっても（接触として取り扱わない目的であっても）、感染リスクが存在するレベルを

[2022-01-21 09:05] kvaluation commented on #792
ありがとうございます。認識に相違ありません。

旧: 設定した発症日または診断日3日前より過去の診断キーについてはTransmissionRiskLevelに0を設定
新: 1に設定

[2022-01-21 09:22] b-wind commented on #792
情報共有として。

google/exposure-notifications-internals リポジトリはすでに一年以上更新されておらず、実装とはすでに乖離があると言う認識です。
更新を反映しないという意図の Google の中の人のコメントも有ったはずですが、こちらは探し切れていません。

本 Issue で取り扱っている部分に差異があるかまでは分かりません。

[2022-01-21 11:09] keiji commented on #792
ひとまずPull Requestは出しました。

[2022-01-21 14:25] daisuke-nogami commented on #792
設定の意味合いはともかく、より確実に期待される挙動を維持できるという点でご提案を取り込むべきと判断しました。

個人的には、v2.0リリース後、挙動が確認できた時点で、なる早でv2.0.0未満のサポートを終了して強制アップデートを促したい、その時までの繋ぎの設定の数値の意味合いにこだわりすぎないでよいとは思っていますが、言葉の意味合いの論点があることは認識しておきます。

[2022-01-21 15:38] keiji commented on #792
サーバー側の挙動について一通りテストした結果をコメントしておきました。
記録として残します。

https://github.com/cocoa-mhlw/cocoa/pull/795#issuecomment-1018616726

[2022-01-22 03:22] keiji opened #796 "ExposureConfigurationのキャッシュとの比較が効いていない"
## 不具合の内容 / Describe the bug

#788 と現象的には同じ。

こちらは `==` ではなく `!=` なので見逃していた。

https://github.com/cocoa-mhlw/cocoa/blob/ee74a7ef43722f866eece5f1116677a56ffb4f69/Covid19Radar/Covid19Radar/Repository/ExposureConfigurationRepository.cs#L480-L485

## 再現手順 / Steps to reproduce

コードを見ていて気づいた。

## 期待される挙動 / Expected behavior

`Equal`で比較する（今回の場合は !a.Equals(b) ）。

## 動作環境 / Environments

- デバイス：すべて
- OS：And

[2022-01-22 06:42] kazuhiro4949 opened #799 "[iOS] 起動時にバックグラウンドタスクのスケジューリングをする際にたまにクラッシュが発生する"
## 不具合の内容 / Describe the bug

- iOSアプリで起動時にたまにクラッシュが発生する

## 再現手順 / Steps to reproduce

1. アプリをkillした後で起動

## 期待される挙動 / Expected behavior

クラッシュせずにスケジューリングが正常に行われる

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：iPhone
- OS：iOS
- バージョン：15.x

## その他 / Additional context

クラッシュレポート:

[code]

[2022-01-22 06:43] kazuhiro4949 commented on #799
Thread 11で例外が発生している

[2022-01-22 14:10] keiji opened #800 "[iOS] コピー＆ペーストすることで処理番号に数字以外が入力できる"
## 不具合の内容 / Describe the bug

iOS版のCOCOAで、コピー＆ペーストすることで処理番号に数字以外が入力できる。

既知の問題で現時点で対応は不要と考えるが、記録のためIssue化する。

## 再現手順 / Steps to reproduce

1. 別のアプリで数字以外を入力してコピーする
2. 陽性情報登録画面に行き、
3. 処理番号の欄でペースト

## 期待される挙動 / Expected behavior

処理番号には数字以外はペーストできない

## スクリーンショット / Screenshots

![IMG_8650706FC3ED-1](https://user-images.githubusercontent.com/932136/150641661-edf376f1-9d10-4b78-aed3-5748ba57a03a.jpeg)

[2022-01-22 14:29] keiji opened #801 "陽性情報登録の時に書式チェックに引っかかるとプログレスダイアログが消えない"
## 不具合の内容 / Describe the bug

陽性情報録で処理番号の書式チェックに引っかかると登録中のプログレスダイアログが消えずに残り続ける。

## 再現手順 / Steps to reproduce

iOS版のCOCOAで

1. #800 の手順で書式チェックに引っかかる文字列を入力する
2. 陽性情報登録をタップする
3. エラーダイアログが表示される
4. プログレスダイアログが消えずに残り続ける

## 期待される挙動 / Expected behavior

プログレスダイアログが消える

## 動作環境 / Environments

- デバイス：iPhone
- OS：iOS 14.7.1 Androidでは書式チェックに引っかかる文字が入力できないので再現できない
- バージョン：COCOA2 beta01

## その他 / Additional

[2022-01-23 03:59] Murayu0225 opened #803 "[Android] datepickerdialogの背景色が見にくい"
## 不具合の内容 / Describe the bug

アクセシビリティ的な内容です。
COCOA2での~~datapicker~~datepicker(恥ずかしいミスをしました)の背景色(水色)が文字色(白)と似ていてわかりにくくなってしまっている。
元々は背景色が黒、文字色が白でした。

## 再現手順 / Steps to reproduce

1. '陽性情報の登録 → 同意して陽性登録' をクリックし、
2. '症状ボタン' のどちらかを選択し、
3. 日付入力欄がでてくるのでそこをクリック。

## 期待される挙動 / Expected behavior

見やすい色にする。(黒と白など)

## スクリーンショット / Screenshots

| COCOA | COCOA2 |
| ------------- | ------------- |
| ![before]

[2022-01-23 05:38] b-wind commented on #803
COCOA のアクセシビリティ方針には含まれていませんが、所謂カラーユニバーサルデザインなどは気になりますね。

以下は東京都のガイドラインです。（PDF）
https://www.fukushihoken.metro.tokyo.lg.jp/kiban/machizukuri/kanren/color.files/colorudguideline.pdf

楽なのは白黒にしてしまうか、カラーユニバーサルデザイン推奨配色セットから選んでくるのが無難ですかね。
（ここではディスプレイのカラーマネージメントには触れないこととします）

[2022-01-23 06:15] Meiryo7743 commented on #803
手元の Android 端末で確認したところ，v1.4.1 では白黒の配色のようです。

![datapicker COCOA v1.4.1](https://user-images.githubusercontent.com/46659204/150667006-31de1caa-f2c2-4dbc-89f6-0d8a2f96fb16.png)

[2022-01-23 06:59] keiji commented on #803
ダイアログ周りはなにも変えておらず、適用されているカラー（Teal系？）もリソース指定にない。一体どこから来たのか。

ひとまずXamarin.Forms.Visual.Materialのバージョンを戻して現象が継続するか確認してみます。

[2022-01-23 07:22] keiji commented on #803
そもそも Xamarin.Forms.Visual.Material 取り除いてもなにも変わらないので、ここは無関係っぽい。

[2022-01-23 08:16] keiji commented on #803
AndroidのDatePickerのヘッダーカラーは通常だとスタイルの `colorPrimary` の色が採用されるはずだけど、Xamarin.Forms通すと適用されていない。

[2022-01-23 09:26] yanskun opened #805 "COCOA ログチェッカーへのリンクをホームに追加したい"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

https://cocoa-log-checker.com/
こちらの存在をネットニュースで知った。
COCOA は使っているが、ログチェックができるのは知らなかったので、せっかくなら、リンクを追加してあげたほうがいいかなと

## 解決策についてお書きください / Describe the solution you'd like

トップページの下部（空白部分）もしくは、ハンバーガーメニューにブラウザに飛べるリンクを設けるだけ

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

## その他 / Additional context

[2022-01-23 10:33] keiji commented on #803
いいニュース
ミニマムなPrismアプリで `android:colorAccent` を指定してDatePickerのヘッダーの色を変えられるところまでは確認済み。

悪いニュース
COCOAに同じことをしても色が変わらない

[2022-01-23 11:16] keiji commented on #803
いけた！
あとでPull Request出す。

![Screen Shot 2022-01-23 at 20 15 44](https://user-images.githubusercontent.com/932136/150675776-2d46cd24-4a12-43fa-ab3a-0c4e90a585bf.png)

[2022-01-23 12:22] keiji commented on #799
約２年前の、このIssueに似てる気がします。

https://github.com/xamarin/xamarin-macios/issues/7456

もしかしたらXamarin.iOSデグレしてるかも……？

[2022-01-23 14:12] keiji commented on #803
Pull Requestだしました。

![Screen Shot 2022-01-23 at 22 58 25](https://user-images.githubusercontent.com/932136/150682638-a08090d0-c498-4201-b2ed-36922ed288e1.png)

[2022-01-23 14:19] kazuhiro4949 opened #807 "[iOS] バックグラウンドタスクが短期間で繰り返し実行されている"
## 不具合の内容 / Describe the bug

ログを見る限り、バックグラウンドタスクが30分おきに繰り返し実行されている

## 再現手順 / Steps to reproduce

1. アプリを起動する
2. バックグラウンドにアプリを持っていく

## 期待される挙動 / Expected behavior

想定ではもっと幅をとって数時間おきに実行される

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：iPhone
- OS： iOS
- バージョン：15.0

## その他 / Additional context

[2022-01-23 14:19] kazuhiro4949 commented on #807
こちらの不具合調査中に発見
https://github.com/cocoa-mhlw/cocoa/issues/799

[2022-01-23 15:37] #803 closed, assigned to keiji

[2022-01-23 15:40] #801 closed, assigned to keiji

[2022-01-23 16:09] #796 closed, assigned to keiji

[2022-01-23 16:21] keiji opened #810 "アプリ内『使い方』の改善"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

ずいぶん前にいただいているこの指摘について。

接触確認アプリCOCOAについて通知と記録を混同した説明を行っているのではないかと問い合わせた記録
https://gist.github.com/mala/95d9caefd0fd836c9573b38b4e807429

記事の指摘の通り、接触通知APIはCOCOAが接触と判定する基準に満たない情報も記録しています。
（情報は可能な限り記録しておいて、後から接触条件を入力して接触を判定する）。

おそらく、「使い方」を作成したときにはCOCOAが記録（保存）する条件が「1m以内15分以上」と言う意図で作ったのだと思いますが、利用者からすれば接触通知APIとCOCOAのは不可分な存在なので、

[2022-01-23 23:58] keiji commented on #711
発生から10日経ち、2度目の週末については特段エラー率が上がることもなかったと聞いています。

SMSサーバーの増強が効果を上げているようです。
本Issueをクローズし、引き続き追加の対応策について検討を進める予定です。

[2022-01-24 02:16] daisuke-nogami commented on #805
こちら、現在開発中の次期バージョンで、接触通知に至らなかった信号受信があった場合に、COCOA内でその旨を表示するよう準備中であることをとりいそぎ共有いたします。

https://github.com/cocoa-mhlw/cocoa/issues/605

[2022-01-24 10:31] keiji opened #815 "「過去14日間の接触」画面のテキストを改善する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在の陽性者登録者との接触画面にあるテキストに次のように書かれている。

![Screen Shot 2022-01-24 at 19 21 57](https://user-images.githubusercontent.com/932136/150765692-90bdbd3e-dbba-4435-811e-f2f676df06e1.jpg)

相談先の確認が優位に書かれているので、テキストを読んだ人が、本来は相談が不要な人まで相談をしようと考えることになる。

## 解決策についてお書きください / Describe the solution you'd like

「○○がある場合は××してください」という記載だと明確な除外として

[2022-01-24 11:43] b-wind commented on #304
discussion #532 で触れられていますね。

[2022-01-24 14:09] yanskun commented on #805
回答ありがとうございます！

それはすごいいいですね！

次期バージョン楽しみにしています

[2022-01-24 14:09] #805 closed, assigned to nobody

[2022-01-24 14:43] keiji opened #816 "[Android] EN有効化時に`ApiException`が出ることがある"
## 不具合の内容 / Describe the bug
Google Playのリリース前レポートで報告されたクラッシュ。

ホーム画面でENを有効化するときにApiExceptionが出て落ちている。
Activityで落ちているのか、HomePageViewModel内で落ちているのかは不明（Xamarinなのでこれ以上追えない）。

[code]

## 再現手順 / Steps to reproduce

初期セットアップ時にチュートリアルでENを有効にせず、ホーム画面でENを有効化する。

## 期待される挙動 / Expected behavior

Exceptionが発生しない

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：Samsung Galaxy S7 Edge
- OS：Android 8.

[2022-01-25 03:29] keiji opened #818 "オフラインの時に動作中のままになる"
## 不具合の内容 / Describe the bug
開発チームよりの指摘。

機内モードにするなどしてサーバーにアクセスできない状態でも「動作中」のままになる。

## 再現手順 / Steps to reproduce

1. ホーム画面を表示して、
2. 機内モードに設定する
3. 動作中のままになる

## 期待される挙動 / Expected behavior

「接触有無を確認できません」の表示になる（機内モードを解除してサーバーにアクセスできるようになったら「動作中」に戻る

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：(例：1.2.2)

## その他 / Additional context

[2022-01-25 05:58] #818 closed, assigned to keiji

[2022-01-25 05:58] #750 closed, assigned to keiji

[2022-01-25 11:16] Murayu0225 opened #820 "陽性登録処理が一定回数失敗した際に実行する処理のタイミングを変更する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

現在、陽性登録に3回失敗後、4回目に陽性登録を行うとダイアログが表示されて、アプリがホームに戻るようになっている。(この時実際は、4回目の陽性登録は実行されていないという認識)

私が思うに3回目の陽性登録が失敗してから上限にいったことを通知するダイアログを表示してホーム画面に戻った方がよいのではないかと思う。
ほとんどないことだと思うが、3回間違えて陽性登録の処理番号を入力し、4回目に正しい処理番号を入力していたとしてもこの入力した値は送信されずにホーム画面に戻ってしまうというのはあまりよくないのではないかと思う。

## 解決策についてお書きください / Describe the solution you'd like

陽性登録の最初

[2022-01-26 10:34] keiji opened #821 "[iOS] 「処理番号が違います」のダイアログが一瞬出て消える"
## 不具合の内容 / Describe the bug
テストチームからの指摘。

陽性情報登録画面で処理番号が間違ったときに表示されるダイアログが一瞬出て消える。

#774 と同種の事象

## 再現手順 / Steps to reproduce

1. 陽性情報登録画面に行き、
2. 誤った堀番号を入力して
3. 「登録する」ボタンの押す
4. ダイアログが一瞬出て消える

## 期待される挙動 / Expected behavior

利用者がダイアログの「OK」を押すまでダイアログが消えない

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：iPhone
- OS：iOS
- バージョン：COCOA2

## その他 / Additional context

[2022-01-26 13:02] keiji opened #823 "基準値未満の接触画面リファインメント"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOA2で基準値未満の接触画面を追加したけど、数値（スコア）の意味がわからないと言う意見をベータテスターからたくさんもらっている（https://github.com/cocoa-mhlw/cocoa/discussions/813）。

## 解決策についてお書きください / Describe the solution you'd like

もっとわかりやすくする。

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

基準値未満の接触画面はCOCOA v2.0.0リリースには含めない（そうは言ってもリリースしたいよね）。

## その他 / Add

[2022-01-26 14:57] keiji commented on #711
サーバーチームより、現象の再発が報告されたのでreopenします。

現象としては「陽性情報登録サーバー経由で処理番号を確認しているサーバーに対する問い合わせがすべてタイムアウト」というものです。

22:45～23:14まで発生しており、現在は改善傾向にあります。

[2022-01-27 04:32] keiji commented on #823
次の改善を行いました。

* デザインのリファインメント
  * （ヘッダー画像は調整中です。配布版とは異なる可能性があります）
* 信号を受信していない日についても表示する
* スコアを100分率で表示する（小数点以下切り上げ

![Screen Shot 2022-01-27 at 0 38 20](https://user-images.githubusercontent.com/932136/151292201-a67e4a75-baa0-4f78-b2dd-c9d0a559a2dc.png)
![Screen Shot 2022-01-27 at 0 38 31](https://user-images.githubusercontent.com/932136/151292221-94c814b0-b9e6-478c-a0b2-f7658137ef14.png)
![Screen

[2022-01-27 07:42] keiji opened #827 "[Server] V1DiagnosisApiが正常に動作しない"
## 不具合の内容 / Describe the bug
サーバーチームよりの指摘。

V1DiagnosisApiが動作せず、500エラーが出る。

エラーログ
[code]

## 再現手順 / Steps to reproduce

COCOA v1.2.1以前のバージョンで陽性情報登録。

## 期待される挙動 / Expected behavior

エラーが起きずに、陽性情報登録を完了できる。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：（例：Pixel 5、iPhone 6 等）
- OS：（例：Android、iOS）
- バージョン：COCOA v1.2.1以前（V1DiagnosisApiを使っているバージョン）

## その他 / Additional context

V1Diagnosis

[2022-01-27 09:19] keiji commented on #302
こちら検討中です。

陽性情報登録数の増加に加えて、ENv2（ExposureWindow mode）への移行に伴い、診断キーの数の増大も予想されます。
併せて1日に起動する回数についても増やす方向で検討しています。

[2022-01-27 09:26] keiji commented on #774
なんかまだ発生するらしく… 🤔

@kazuhiro4949 さんに調べてもらうことに…

[2022-01-27 12:54] keiji commented on #821
なんかまだ発生する（ことがある）らしく… 🤔

@kazuhiro4949 さんにも調べてもらうことに…

[2022-01-27 12:54] keiji commented on #774
間違いreopen.

[2022-01-27 12:54] #774 closed, assigned to keiji

[2022-01-27 15:36] keiji commented on #815
本件、厚生労働省の意思決定を待っている状態です。

[2022-01-28 07:11] #821 closed, assigned to keiji, kazuhiro4949

[2022-01-28 07:51] keiji opened #832 "[Android] TEK共有の許諾ダイアログが出る状態で陽性情報登録をすると結果のダイアログが表示されない"
## 不具合の内容 / Describe the bug
テストチームからの指摘。

Android版のCOCOA2で、TEK共有の許諾ダイアログが出る状態で陽性情報登録をすると結果のダイアログが表示されない。

## 再現手順 / Steps to reproduce

1. 陽性情報登録画面を開き、
2. 症状の有無と処理番号を入力して「登録する」をタップする
3. ランダムなID（TEK）をCOCOAと共有しますか？のダイアログで「共有」を選択する
4. 結果のダイアログが表示されない（登録自体は完了する）

## 期待される挙動 / Expected behavior

結果のダイアログが表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス： Pixel 3
- OS：Android
- バージョン：C

[2022-01-28 15:46] #832 closed, assigned to keiji

[2022-01-28 22:18] fumiya-kume opened #834 "[a11y][Android] フォントサイズを変更するとボタンのデザインが崩れる"
## 不具合の内容 / Describe the bug

ボタンのテキストが二行になる or 枠線そのpaddingが極端に狭くなります。

## 再現手順 / Steps to reproduce

1. 端末の `設定アプリ>ユーザー補助>テキストと表示>フォントサイズ ` に行き、
2. フォントサイズを最大にする
3. COCOA2 を開きHome画面 or その他画面にいくと
4. ボタンのデザインが崩れます

## 期待される挙動 / Expected behavior

ボタンのテキストに応じて横幅を広げるのはどうでしょうか？

## スクリーンショット / Screenshots

Normal size | Big size
:--: | :--:
<img src="https://user-images.githubusercontent.com/16269075/

[2022-01-28 22:25] fumiya-kume opened #835 "[a11y][Android] 接触有無確認日時のヒントボタンをタップしにくい/タップ可能領域が小さい"
## 不具合の内容 / Describe the bug

Home画面の `接触有無の最終確認日時` のヒントボタン(？) のタップ可能領域が小さいためタップしにくくなっている。

高齢者や正確なスマホの操作が難しい国民に優しくするためにタップ可能領域を広げてほしい。

## 再現手順 / Steps to reproduce

1. Home画面
2. `接触有無の最終確認日時` のヒントボタン(？)をタップする

## 期待される挙動 / Expected behavior

タップ可能領域を見えている要素よりも広げることにより正確な操作が難しい国民でも操作しやすくなる。

## スクリーンショット / Screenshots

<img src="https://user-images.githubusercontent.com/16269075/151629756-0e3badd

[2022-01-28 22:31] fumiya-kume opened #836 "`アプリを周りの人に知らせる` より共有するリンクが各プラットフォーム向けしか発行されない"
## 不具合の内容 / Describe the bug

`アプリを周りの人に知らせる` のボタンで共有するリンクが Google Play に置いてある COCOA へのものになっており iOS ユーザーに対して共有したい場合に不親切になっている。

## 再現手順 / Steps to reproduce

1. Home画面へ行き
2. `アプリを周りの人に知らせる` のボタンをタップする
3. Google Play に置いてある COCOA へのリンクが共有される

## 期待される挙動 / Expected behavior

COCOAの公式サイト or 開いた国民の使っているOSに応じて `App store` or `Google Play` へリダイレクトするのはどうでしょうか？

## スクリーンショット / Screenshots

<img src="https

[2022-01-29 08:26] b-wind commented on #836
iOS でも同様の問題が。 #251

[2022-01-29 08:51] b-wind commented on #834
ウチの親のスマホなども老眼で常に最大サイズのフォントを指定しているのでこんな感じの表示になりますね。
慣れてしまって違和感を覚えなくなってしまっていました。

[2022-01-29 08:53] b-wind commented on #834
横幅の調整は様々な機種の解像度を考慮する必要があり難しそうな？気がしました（実際の所はよく分からず）

現時点では取りあえず文字に角丸の枠が被らないようにして欲しいかなと言う印象です。
どちらかというと縦方向に余裕を付ける事になるでしょうか。

[2022-01-29 13:55] fumiya-kume commented on #834
固定横幅ではなく、
min-width: wrap_content
max-width: match_parent

みたいな感じにするといいのかもです。(Android な擬似コードで表現してみました)

[2022-02-02 01:12] #827 closed, assigned to keiji

[2022-02-02 07:01] keiji opened #839 "[Android] 陽性情報登録中に別のアプリに遷移して戻ると結果のダイアログが表示されないことがある"
## 不具合の内容 / Describe the bug
テストチームからの指摘。機種依存が確認されている。

## 再現手順 / Steps to reproduce

1. 陽性情報登録を開き、
2. 必要事項を入力して、
3. 「登録する」ボタンを押す、
4. 「登録中」のダイアログが表示されているときにアプリのタスクを切り替える
5. 再びタスクを切り替えてCOCOAに戻ってくる

## 期待される挙動 / Expected behavior

アプリの画面切り替え（タスク切り替え）を実施してもアプリが動き続け、登録結果が表示される。

## スクリーンショット / Screenshots

## 動作環境 / Environments

- デバイス：Pixel 5a
- OS：Android8.1/11.0/12.0
- バージョン：COCOA2

### 発生しなかった環境

[2022-02-02 09:34] keiji opened #840 "感染性のある期間を有症状の場合は症状発生から10日、無症状の場合は検査日から7日とする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

COCOAの「感染性のある期間」を、有症状感染者の場合は10日、無症状の場合は検査日から7日と、いわゆる「療養期間」に合わせる。

## 解決策についてお書きください / Describe the solution you'd like

陽性情報登録画面で設定する「症状発生日または検査日」に加えて「症状の有無」をサーバーに送り、診断キーに含める範囲をフィルタリングする。

単純に7日、10日に縮めるのであればExposureNotificationの設定ファイルで対応可能だが、「症状の有無によって…」となると、この方式となる。

## あなたが考える代替案についてご説明ください / Describe alternatives you've

[2022-02-02 15:05] daisuke-nogami commented on #840
期間設定の前提と合わせて少し丁寧に背景を記載します。

## COCOAが「感染性のある期間」を設定するときに依拠する基準

- *感染性のある期間* の根拠は、国立感染症研究所「新型コロナウイルス感染症患者に対する積極的疫学調査実施要領」（以下、積極的疫学調査実施要領）の「患者（確定例）の感染可能期間」「無症状病原体保有者の感染可能期間」に置いています。
  - 最新版は2021年11月29日版 https://www.niid.go.jp/niid/images/cfeir/covid19/COVID19-02-211129.pdf です。
- 積極的疫学調査実施要領には、開始日は明記されていますが、終了日は他を参照するよう記載されています。
  - 開始日「症状を呈した2日前から」/「検体採取日の2日前から」
  - 終了日「退院又は宿泊療養・自宅療養の解除の基準を満たすまでの期間」

[2022-02-02 16:38] tmurakami opened #842 "みなし陽性に対応する"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

共同通信によると、濃厚接触者に症状があった場合に医師の判断で感染者とみなす仕組み (みなし陽性) が 17 都府県で始まったようです。

https://nordot.app/861581060300161024?c=39550187727945729

これまでの「検査による陽性」と「みなし陽性」とを区別すべきかどうか。

## 解決策についてお書きください / Describe the solution you'd like

レポートタイプを

- 検査による陽性: CONFIRMED_TEST
- みなし陽性: CONFIRMED_CLINICAL_DIAGNOSIS

とする。

## あなたが考える代替案についてご説明ください

[2022-02-03 01:44] keiji commented on #842
ありがとうございます。
「みなし陽性」を接触通知APIのレベルで区別するか検討します。

陽性情報登録のUIで、

 * 症状あり（検査で陽性）
 * 症状あり（医師による診断・みなし陽性）
 * 症状無し

のような選択肢を設けるのが、ユーザーの負荷は低く抑えられそうですね。新しい情報を取ると利用規約とプライバシーポリシーに影響があるので、#840 と一緒に（一度に）入れた方が良いかなと個人的に思います。

[2022-02-03 08:07] daisuke-nogami commented on #842
現状、完全な自己検査での登録を受け付けてない方針の元では、確かにレポートタイプでは挙動は変わりませんが、
今後に備えて、まずはユーザが情報を入力する方式について整理しておくべきかと思いました。
（検査日/発症日もユーザが入力していることを踏まえると、HER-SYSからの引継ぎではなくユーザ入力を前提として考える）

現在の、いわゆる「みなし陽性」は、2つの種類が含まれています。

- 本人が行った抗原定性検査等で陽性という結果が得られ、その結果や臨床症状を元に医師が再度検査することなく行うもの
- 同居家族などの感染者の濃厚接触者が有症状となったときに、臨床症状を元に医師が検査することなく行うもの

出典：新型コロナウイルス感染症の感染急拡大時の外来診療の対応について（厚生労働省新型コロナウイルス感染症対策推進本部 令和4年1月24日事務連絡）
https://www.mhlw.go.jp

[2022-02-03 10:22] kvaluation commented on #842
レポートタイプによる分岐をしないのであれば、他の事項を優先いただいても良いのかなと思いました。

みなし陽性の場合に入力すべき発症日の考え方について、QAの文章が厚労省Webページにあれば、案内になるかと思います。

診断の基礎とならない自己検査について、医療機関やHER-SYSを経由せずに登録する可能性が今後あれば、例えば自己検査キットに陽性の際の処理番号を印刷しておくなどの工夫も必要かもしれませんが、いずれにせよ診断までは低リスクの通知とし、確定診断時に通常のパラメーターによる通知とするなど、挙動の分岐が考えられるかも知れません。

[2022-02-03 13:15] b-wind commented on #842
対応すると仮定して、２点ほど疑問が発生しますね。

1. 見なし陽性と判断された場合処理番号は発番されるのか
2. 見なし陽性相当である事を対象者はハッキリと認識出来るのか

1 は陽性登録の処理上、必須と認識しています。
2が明確で無いと陽性者登録時に疑問や不安が発生し、登録行為の妨げになることを懸念します。
こう言った場合、設問は一つでも少ないに越した事は無いと考えています。

[2022-02-03 15:11] kazuhiro4949 opened #843 "保存されているExposureWindowをデバッグメニューからCSVでエクスポートする"
## その機能リクエストは何らかの問題に関連しますか / Is your feature request related to a problem?

デバッグのためにExposureWindowをエクスポートできるようにする

## 解決策についてお書きください / Describe the solution you'd like

デバッグページからcsvでエクスポートできるようにする

## あなたが考える代替案についてご説明ください / Describe alternatives you've considered

シリアライズされたファイルを直接取得する

## その他 / Additional context

[2022-02-04 00:58] daisuke-nogami commented on #843
ExposureWindowをエクスポートする仕様のイメージはこちらです。
https://github.com/keiji/en-calibration-server/commit/714a9d8bb2ce018c89b2c5fcc2961a2f611ed8e4

加えて、日付がEpochになっているのは人間が可読な表現がありがたく。